Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

fix(guard): `.getChain()` returns `Chain` remotable
  packages/orchestration/src/exos/orchestrator.js
Due: Orchestration

feat!: `ChainInfo` requires CAIP-2 `namespace` and `reference`
  packages/orchestration/src/chain-info.js
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/src/examples/auto-stake-it-tap-kit.js
  packages/orchestration/src/exos/local-chain-facade.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/test/examples/send-anywhere.test.ts
  packages/orchestration/test/exos/chain-hub.test.ts
  packages/orchestration/test/facade-durability.test.ts
  packages/orchestration/test/types.test-d.ts
Due: Orchestration

feat: include `namespace` and `reference` in `coverChainInfo`
  packages/orchestration/src/utils/registry.js
Due: Orchestration

refactor(telemetry): Minor cleanup
  docs/env.md
  packages/cosmic-swingset/README-telemetry.md
  packages/telemetry/src/index.js
  packages/telemetry/src/slog-sender-pipe-entrypoint.js
  packages/telemetry/src/slog-sender-pipe.js
Due: none

refactor: Move metrics metadata into package "internal"
  packages/SwingSet/src/kernel/metrics.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/state.test.js
  packages/cosmic-swingset/src/kernel-stats.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/cosmic-swingset/test/snapshots/prometheus.test.js.md
  packages/cosmic-swingset/test/snapshots/prometheus.test.js.snap
  packages/internal/package.json
  packages/internal/src/index.js
  packages/internal/src/metrics.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
  packages/swingset-runner/src/push-metrics.js
Due: SwingSet/kernel

feat(SwingSet): Add more data to slog entries
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

feat: Add controller method `slogDuration` for producing start/finish slog pairs with timings
  packages/SwingSet/src/controller/controller.js
  packages/cosmic-swingset/src/launch-chain.js
Due: none

refactor(cosmic-swingset): Match the ABCI block method sequence in doBlockingSend cases
  packages/cosmic-swingset/src/launch-chain.js
Due: none

refactor(SwingSet): Simplify makeSwingsetController
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

feat(cosmic-swingset): Add slog entry type "cosmic-swingset-init"
  packages/cosmic-swingset/src/launch-chain.js
Due: none

feat: Add the Prometheus slog sender module and load it per OTEL_EXPORTER_PROMETHEUS_PORT
  docs/env.md
  packages/cosmic-swingset/README-telemetry.md
  packages/cosmic-swingset/src/chain-main.js
  packages/internal/src/js-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
  packages/telemetry/src/make-slog-sender.js
  packages/telemetry/src/prometheus.js
Due: none

feat(internal): Add helper `unprefixedProperties` for environment variable consumption
  packages/internal/src/js-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
  packages/solo/src/start.js
  packages/telemetry/src/make-slog-sender.js
Due: none

feat(SwingSet): Reflect controller `slogDuration` in KernelSlog as `startDuration`
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/kernel/vat-warehouse.js
  packages/SwingSet/src/lib/message.js
  packages/SwingSet/src/types-external.js
  packages/cosmic-swingset/src/kernel-stats.js
  packages/cosmic-swingset/src/launch-chain.js
Due: SwingSet/kernel

test(cosmic-swingset): Allow more variance for direct vs. slog reporting of "swingset_crank_processing_time_sum"
  packages/cosmic-swingset/test/prometheus.test.js
Due: none

feat(cosmic-swingset): Include inbound queue details in non-replay cosmic-swingset-end-block-finish slogging
  packages/cosmic-swingset/src/launch-chain.js
Due: none

refactor: Clean up exportKernelStats
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/metrics.js
  packages/SwingSet/src/kernel/state/stats.js
  packages/cosmic-swingset/src/kernel-stats.js
  packages/cosmic-swingset/test/prometheus.test.js
Due: SwingSet/kernel

test(cosmic-swingset): Add [failing] assertions for slog-based metrics
  packages/cosmic-swingset/test/prometheus.test.js
  packages/cosmic-swingset/tools/prometheus.js
Due: none

feat(cosmic-swingset): Include process memory stats in "cosmic-swingset-end-block-finish" slog entries
  packages/cosmic-swingset/src/kernel-stats.js
  packages/cosmic-swingset/src/launch-chain.js
Due: none

chore(SwingSet): Improve the consistency of KernelSlog error messages
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

refactor(telemetry): Simplify makeSlogSender
  packages/telemetry/src/make-slog-sender.js
Due: none

fixup! feat(internal): Add helper `unprefixedProperties` for environment variable consumption
  packages/internal/src/js-utils.js
Due: none

fixup! feat(SwingSet): Reflect controller `slogDuration` in KernelSlog as `startDuration`
  packages/SwingSet/test/gc-kernel-orphan.test.js
  packages/SwingSet/test/gc-kernel.test.js
Due: none

fixup! test(cosmic-swingset): Allow more variance for direct vs. slog reporting of "swingset_crank_processing_time_sum"
  packages/cosmic-swingset/test/prometheus.test.js
Due: none

chore: codegen cosmos chain info
  packages/boot/test/bootstrapTests/snapshots/orchestration.test.ts.md
  packages/boot/test/bootstrapTests/snapshots/orchestration.test.ts.snap
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
  packages/orchestration/src/fetched-chain-info.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
  packages/orchestration/test/snapshots/chain-info.test.js.md
  packages/orchestration/test/snapshots/chain-info.test.js.snap
Due: Orchestration

feat: `remote-chain-facade.js` handles non-cosmos chains
  packages/orchestration/src/exos/remote-chain-facade.js
Due: Orchestration

types: simplify `LocalOrchAccount` references
  packages/fast-usdc/src/exos/advancer.js
  packages/fast-usdc/src/exos/settler.js
  packages/fast-usdc/src/fast-usdc.contract.js
  packages/fast-usdc/src/types.ts
  packages/fast-usdc/test/mocks.ts
Due: none

feat: cctp-chain-info.js
  packages/orchestration/src/cctp-chain-info.js
Due: Orchestration

feat(chainHub)!: register and retrieve non-cosmos chains
  packages/builders/test/snapshots/orchestration-imports.test.js.md
  packages/builders/test/snapshots/orchestration-imports.test.js.snap
  packages/orchestration/src/examples/swap.contract.js
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/typeGuards.js
  packages/orchestration/test/exos/chain-hub.test.ts
  packages/orchestration/test/snapshots/exports.test.ts.md
  packages/orchestration/test/snapshots/exports.test.ts.snap
Due: Orchestration

fixup! refactor: Move metrics metadata into package "internal"
  multichain-testing/yarn.lock
Due: none

test: skip `staking-combinations.test.ts` until #11026
  packages/orchestration/test/examples/staking-combinations.test.ts
Due: Orchestration

fixup! feat!: `ChainInfo` requires CAIP-2 `namespace` and `reference`
  packages/orchestration/src/orchestration-api.ts
Due: Orchestration

fix: `icaEnabled` codegen
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
  packages/orchestration/src/chain-capabilities.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
Due: Orchestration

refactor: Use new helpers in more places
  packages/cosmic-swingset/test/make.test.js
  packages/vow/src/watch-utils.js
Due: none

fixup! refactor(telemetry): Minor cleanup
  docs/env.md
Due: none

feat: upgrade FUSDC chainHub (wip)
  packages/boot/test/fast-usdc/fast-usdc.test.ts
  packages/orchestration/src/exos/chain-hub.js
Due: Orchestration

feat: include `cctp-chain-info.js` in `knownChains`
  packages/boot/test/bootstrapTests/snapshots/orchestration.test.ts.md
  packages/boot/test/bootstrapTests/snapshots/orchestration.test.ts.snap
  packages/orchestration/src/chain-info.js
  packages/orchestration/test/chain-info.test.js
  packages/orchestration/test/snapshots/chain-info.test.js.md
  packages/orchestration/test/snapshots/chain-info.test.js.snap
Due: Orchestration

fixup! feat: Add the Prometheus slog sender module and load it per OTEL_EXPORTER_PROMETHEUS_PORT
  packages/cosmic-swingset/README-telemetry.md
Due: none
