Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

fix(telemetry): add missing slog type
  packages/telemetry/src/slog-to-otel.js
Due: none

fixup! update snapshot
  packages/builders/test/snapshots/orchestration-imports.test.js.md
  packages/builders/test/snapshots/orchestration-imports.test.js.snap
Due: none

fix(ERTP,vats): fix 9407 AmountPatternShape (#9863)
  packages/vats/src/virtual-purse.js
  packages/vats/test/vpurse.test.js
Due: none

feat: lp assetManager facet
  packages/fast-usdc/src/exos/liquidity-pool.js
  packages/fast-usdc/src/fast-usdc.contract.js
  packages/fast-usdc/src/typeGuards.js
  packages/fast-usdc/src/types.ts
  packages/fast-usdc/test/fast-usdc.contract.test.ts
Due: none

fixup! feat: lp assetManager facet
  packages/fast-usdc/src/exos/liquidity-pool.js
  packages/fast-usdc/test/fast-usdc.contract.test.ts
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
Due: none

fix(orchestration): denomAmounts must be non-negative (#10458)
  packages/builders/test/snapshots/orchestration-imports.test.js.md
  packages/builders/test/snapshots/orchestration-imports.test.js.snap
  packages/orchestration/src/typeGuards.js
Due: Orchestration

feat(fast-usdc): deposit, withdraw liquidity in exchange for shares
  packages/fast-usdc/src/exos/liquidity-pool.js
  packages/fast-usdc/src/fast-usdc.contract.js
  packages/fast-usdc/src/pool-share-math.js
  packages/fast-usdc/src/type-guards.js
  packages/fast-usdc/test/fast-usdc.contract.test.ts
  packages/fast-usdc/test/pool-share-math.test.ts
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
  packages/fast-usdc/test/supports.ts
Due: none

docs(ERTP): Ratio of Amount
  packages/ERTP/src/typeGuards.js
  packages/ERTP/src/types.ts
Due: ERTP

chore(deps): @fast-check/ava for pool math property testing
  packages/fast-usdc/package.json
  yarn.lock
Due: none

chore(replace-fee-dist): implement core-eval for replacing feeDistributor
  packages/builders/scripts/testing/replace-feeDistributor-short.js
  packages/inter-protocol/src/proposals/replace-fee-distributor.js
Due: none

chore(replace-fee-dist): create `upgrade-19` dir, test new feeDistributor, stage in `upgrade.go`
  a3p-integration/proposals/p:upgrade-19/.gitignore
  a3p-integration/proposals/p:upgrade-19/.yarnrc.yml
  a3p-integration/proposals/p:upgrade-19/eval.sh
  a3p-integration/proposals/p:upgrade-19/package.json
  a3p-integration/proposals/p:upgrade-19/replaceFeeDistributor.test.js
  a3p-integration/proposals/p:upgrade-19/test.sh
  a3p-integration/proposals/p:upgrade-19/yarn.lock
  golang/cosmos/app/upgrade.go
  packages/builders/scripts/inter-protocol/replace-feeDistributor.js
  packages/inter-protocol/src/proposals/replace-fee-distributor.js
Due: none

chore(replace-fee-dist): address change request coming from pr review
  a3p-integration/proposals/p:upgrade-19/.gitignore
  a3p-integration/proposals/p:upgrade-19/replaceFeeDistributor.test.js
  a3p-integration/proposals/p:upgrade-19/test.sh
  golang/cosmos/app/upgrade.go
Due: none

test: provision wallet in PREPARE instead of USE
  a3p-integration/proposals/n:upgrade-next/prepare.sh
  a3p-integration/proposals/n:upgrade-next/use.sh
Due: none

test(async-flow): record console output to test devx
  packages/async-flow/package.json
  packages/async-flow/test/async-flow-debug.test.js
  packages/async-flow/test/console-recorder-shim.js
  packages/async-flow/test/replay-membrane-eventual.test.js
  packages/async-flow/test/replay-membrane-settlement.test.js
  packages/async-flow/test/replay-membrane-zombie.test.js
  packages/async-flow/test/replay-membrane.test.js
Due: none

feat(async-flow): add more context to vow rejection
  packages/async-flow/src/async-flow.js
  packages/async-flow/src/replay-membrane.js
  packages/async-flow/src/template.js
  packages/async-flow/src/types.ts
Due: none

lint: ignore bundles
  .eslintrc.cjs
  packages/vats/test/bootstrapPayment.test.js
  packages/vats/test/devices.js
  packages/zoe/test/swingsetTests/brokenContracts/crashingContract.test.js
  packages/zoe/test/swingsetTests/makeKind/makeKind.test.js
  packages/zoe/test/swingsetTests/offerArgs/offerArgs.test.js
  packages/zoe/test/swingsetTests/privateArgs/privateArgs.test.js
  packages/zoe/test/swingsetTests/runMint/runMint.test.js
  packages/zoe/test/swingsetTests/zoe/zoe.test.js
  packages/zoe/tools/fakeVatAdmin.js
Due: none

lint: include scripts in tsconfig
  packages/orchestration/tsconfig.json
Due: none

chore(deps): bump eslint-plugin-github to 5.0.2
  package.json
  yarn.lock
Due: none

chore(deps): bump typescript-eslint to 8.14
  .eslintrc.cjs
  package.json
  yarn.lock
Due: none

feat: compat with TS 5.6
  packages/eslint-config/package.json
Due: none

types: update `OrchestrationAccount` type
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/exos/README.md
  packages/orchestration/src/exos/orchestrator.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/test/types.test-d.ts
Due: Orchestration

feat(cosmos-orch-account): expose `.executeEncodedTx`
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
Due: Orchestration

fix: use `asVow` in case `owned()` throws
  packages/orchestration/src/exos/cosmos-orchestration-account.js
Due: Orchestration

fixup! test: provision wallet in PREPARE instead of USE
  a3p-integration/proposals/n:upgrade-next/prepare.sh
Due: none

fixup! feat(async-flow): add more context to vow rejection
  packages/async-flow/src/template.js
  packages/async-flow/src/types.ts
Due: none

fix(ertp): remove unneeded ertp type imports
  packages/ERTP/src/amountStore.js
  packages/ERTP/src/legacy-payment-helpers.js
  packages/ERTP/src/purse.js
  packages/ERTP/src/transientNotifier.js
Due: ERTP

fixup! deprecated reexport of Baggage no longer needed
  packages/ERTP/src/index.js
Due: ERTP

chore(SwingSet): Improve anachrophobia messages
  packages/SwingSet/src/kernel/vat-warehouse.js
Due: SwingSet/kernel

chore(swing-store): Consolidate keyType assertions
  packages/swing-store/src/exporter.js
  packages/swing-store/src/kvStore.js
  packages/swing-store/src/swingStore.js
Due: swing-store

docs(deploy-script-support): Cleanup README
  packages/deploy-script-support/README.md
Due: none

feat: CosmosChainInfo includes `pfmEnabled?: boolean`
  packages/orchestration/src/cosmos-api.ts
Due: Orchestration

feat: chain-capabilities.js constants
  packages/orchestration/src/chain-capabilities.js
Due: Orchestration

fix: yarn codegen script
  packages/orchestration/scripts/fetch-chain-info.ts
Due: Orchestration

add pfmEnabled to shape
  packages/builders/test/snapshots/orchestration-imports.test.js.md
  packages/builders/test/snapshots/orchestration-imports.test.js.snap
  packages/orchestration/src/typeGuards.js
Due: Orchestration

chore(scripts): Improve organization
  .github/actions/post-test/action.yml
  scripts/ci/collect-testruns.sh
Due: none

ci: Retain complete a3p-integration directories and resulting slogfiles
  .github/workflows/integration.yml
  a3p-integration/package.json
  a3p-integration/yarn.lock
  scripts/ci/export-a3p.sh
Due: none

refactor(a3p-integration): Document build-submission.sh w.r.t. package.json "agoricProposal"
  a3p-integration/debug-current.sh
  a3p-integration/scripts/build-all-submissions.sh
  a3p-integration/scripts/build-submission.sh
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
