Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

feat: `CosmosOrchestrationAccount` supports `.depositForBurn`
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/typeGuards.js
  packages/orchestration/test/types.test-d.ts
Due: Orchestration

feat: support non-cosmos EUDs
  packages/fast-usdc/src/exos/advancer.js
  packages/fast-usdc/src/type-guards.js
  packages/fast-usdc/src/types.ts
  packages/fast-usdc/test/fixtures.ts
Due: none

chore: give up on enforcing correct installation names
  packages/smart-wallet/src/proposals/upgrade-wallet-factory2-proposal.js
  packages/vats/src/proposals/upgrade-asset-reserve-proposal.js
  packages/vats/src/proposals/upgrade-mintHolder-proposal.js
  packages/vats/src/proposals/upgrade-provisionPool-proposal.js
Due: none

chore: update installations when restarting or upgrading (#10999)
  packages/builders/scripts/inter-protocol/replace-feeDistributor-combo.js
  packages/builders/scripts/inter-protocol/replace-feeDistributor.js
  packages/deploy-script-support/README.md
  packages/inter-protocol/src/proposals/replace-fee-distributor.js
  packages/smart-wallet/src/proposals/upgrade-wallet-factory2-proposal.js
  packages/vats/src/proposals/upgrade-asset-reserve-proposal.js
  packages/vats/src/proposals/upgrade-mintHolder-proposal.js
  packages/vats/src/proposals/upgrade-provisionPool-proposal.js
Due: none

test: verbose submission building
  a3p-integration/scripts/build-submission.sh
Due: none

refactor: clean up imports
  packages/orchestration/src/cosmos-api.ts
Due: Orchestration

chore: import orch typeGuards alone
  packages/fast-usdc/src/type-guards.js
Due: none

ci: remove DD metric collection from unit tests
  .github/actions/post-test/action.yml
  .github/workflows/test-all-packages.yml
  scripts/ava-etap-to-junit.mjs
  scripts/ci/collect-testruns.sh
Due: none

fix(a3p-integration): replaceFeeDistributor flakiness fix
  a3p-integration/proposals/n:upgrade-next/test/replaceFeeDistributor.test.js
Due: none

remove agoric install and use SDK_SRC
  a3p-integration/proposals/z:acceptance/host/before-test-run.sh
  a3p-integration/proposals/z:acceptance/test.sh
Due: none

remove trusted block data extraction
  a3p-integration/proposals/z:acceptance/host/before-test-run.sh
Due: none

feat: add fee deduction logic
  packages/orchestration/src/examples/elys-contract-tap-kit.js
  packages/orchestration/src/examples/elys-contract-token.flow.js
  packages/orchestration/src/examples/elys-contract-type-gaurd.js
  packages/orchestration/src/examples/elys-contract.flow.js
  packages/orchestration/src/examples/elys.contract.js
Due: Orchestration

bump sunthetic chain version and remove temporary patch
  .github/workflows/integration.yml
  a3p-integration/package.json
  a3p-integration/yarn.lock
Due: none

testing
  .github/workflows/integration.yml
Due: none

revert
  .github/workflows/integration.yml
Due: none

test: update orchestration snapshots
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/stake-ica.contract.test.ts.snap
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
Due: Orchestration

fixup! feat(internal): Generalize single-level `pick` utility to recursive `attenuate`
  packages/cosmic-swingset/src/launch-chain.js
  packages/swing-store/src/swingStore.js
Due: swing-store

refactor: extract makeTransferRoute tests
  packages/orchestration/test/exos/chain-hub-transfer-routes.test.ts
  packages/orchestration/test/exos/chain-hub.test.ts
Due: Orchestration

fixup! feat(cosmic-swingset): Expose a controller and associated helpers from test-kit.js
  packages/cosmic-swingset/src/chain-main.js
Due: none

fixup! chore: Add lint coverage for tools/
  packages/cosmic-swingset/tsconfig.json
Due: none

feat(fast-usdc): skipAdvance when preconditions fail
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
  packages/fast-usdc/src/exos/advancer.js
  packages/fast-usdc/test/exos/advancer.test.ts
Due: none

test: green incomplete
  packages/orchestration/src/chain-capabilities.js
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
  packages/orchestration/test/exos/make-test-coa-kit.ts
  packages/orchestration/test/ibc-mocks.ts
  packages/orchestration/test/network-fakes.ts
Due: Orchestration

test: depositForBurn is green with the mocks. Still incomplete!
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
  packages/orchestration/test/ibc-mocks.ts
Due: Orchestration

chore: toward CCTP: copy axelar.flows.js
  packages/orchestration/src/examples/send-cctp.flows.js
Due: Orchestration

docs: adopt CAIP
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/orchestration-api.ts
Due: Orchestration

fix: `ethers` compatability
  package.json
  patches/@ethersproject+random+5.7.0.patch
  patches/bn.js+5.2.0.patch
  yarn.lock
Due: none

chore: remove 'encoding' from ChainAddress
  packages/boot/test/orchestration/restart-contracts.test.ts
  packages/fast-usdc/test/exos/advancer.test.ts
  packages/fast-usdc/test/exos/settler.test.ts
  packages/fast-usdc/test/fixtures.ts
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/examples/send-anywhere.flows.js
  packages/orchestration/src/examples/stake-bld.contract.js
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/ica-account-kit.js
  packages/orchestration/src/exos/local-chain-facade.js
  packages/orchestration/src/exos/portfolio-holder-kit.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/utils/cosmos.js
  packages/orchestration/src/utils/orc.js
  packages/orchestration/test/examples/auto-stake-it.contract.test.ts
  packages/orchestration/test/examples/stake-ica.contract.test.ts
  packages/orchestration/test/examples/staking-combinations.test.ts
  packages/orchestration/test/examples/swap.contract.test.ts
  packages/orchestration/test/exos/chain-hub-transfer-routes.test.ts
  packages/orchestration/test/exos/chain-hub.test.ts
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
  packages/orchestration/test/exos/local-orchestration-account-kit.test.ts
  packages/orchestration/test/exos/make-test-loa-kit.ts
  packages/orchestration/test/exos/portfolio-holder-kit.test.ts
  packages/orchestration/test/staking-ops.test.ts
  packages/orchestration/test/types.test-d.ts
  packages/orchestration/test/utils/zoe-tools.test.ts
Due: Orchestration

feat: handle non-Cosmos in makeChainAddress
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/utils/address.js
Due: Orchestration

chore: copy axelar test
  packages/orchestration/test/examples/send-cctp.test.ts
Due: Orchestration

feat: send via CCTP (WIP)
  packages/orchestration/src/examples/send-cctp.flows.js
Due: Orchestration

fixup! feat(cosmic-swingset): Expose a controller and associated helpers from test-kit.js
  packages/boot/tools/supports.ts
Due: none

chore: interface refactor wip
  packages/boot/test/orchestration/axelar-gmp-upgrade.test.ts
  packages/boot/test/orchestration/axelar-notes.md
  packages/orchestration/index.js
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/axelar.flows.js
  packages/orchestration/src/utils/contract-abis.js
  packages/orchestration/src/utils/gmp.js
  packages/orchestration/test/utils/contract-abis.test.ts
  packages/orchestration/test/utils/gmp.test.ts
  yarn.lock
Due: Orchestration

WIP: CCTP contract test
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-anywhere.flows.js
  packages/orchestration/src/examples/send-cctp.flows.js
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/test/examples/send-cctp.test.ts
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/supports.ts
Due: Orchestration

feat(ci): add flake validaiton for nix flake'
  .github/workflows/nix-check.yml
Due: none

fix: change nix and yarn to use the right node version
  flake.lock
  flake.nix
Due: none

fix: change nix version for node version
  flake.lock
  flake.nix
Due: none

fix: change nix and yarn to use the right node version
  flake.nix
Due: none

ensure integer before converting to BigInt + tests
  packages/agoric-cli/src/bin-agops.js
  packages/agoric-cli/src/commands/oracle.js
  packages/agoric-cli/test/oracle-cli.test.js
Due: none

refactor: satisfies() no longer needs zcf param
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/test/unitTests/contractSupport/zoeHelpers.test.js
Due: none

refactor!: remove reallocate and support for staged allocations
  packages/zoe/docs/AttackGuide.md
  packages/zoe/docs/seats.md
  packages/zoe/src/contractFacet/types-ambient.d.ts
  packages/zoe/src/contractFacet/zcfMint.js
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/internal-types.js
  packages/zoe/test/unitTests/zcf/allStagedSeatsUsed.test.js
  packages/zoe/test/unitTests/zcf/reallocate-empty.test.js
  packages/zoe/test/unitTests/zcf/reallocateForZCFMint.test.js
  packages/zoe/test/unitTests/zcf/zcf.test.js
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
