Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

chore(a3p-integration): fix lint
  a3p-integration/proposals/z:acceptance/test/initial.test.js
Due: none

chore: fix lint in golang, a3p, network, ERTP
  a3p-integration/proposals/n:upgrade-next/test/agoricNames.test.js
  golang/cosmos/x/vtransfer/handler.go
  golang/cosmos/x/vtransfer/keeper/keeper.go
  packages/ERTP/test/unitTests/mintObj.test.js
  packages/network/test/fakes.js
Due: ERTP

fix: ensure the follower crash exit the tests
  a3p-integration/proposals/z:acceptance/test.sh
Due: none

fix: lint
  a3p-integration/proposals/z:acceptance/test.sh
Due: none

chore(multichain): let startContract caller skip instance check
  multichain-testing/test/support.ts
Due: none

test(boot): oracles accept before upgrade
  packages/boot/test/fast-usdc/fast-usdc.test.ts
Due: none

feat(fast-usdc): creatorFacet.getChainHub
  packages/fast-usdc/src/fast-usdc.contract.js
Due: none

feat(fast-usdc): core eval to update chainInfo, noble ICA
  packages/fast-usdc/src/update-noble-ica.core.js
Due: none

test(multichain): misconfigure noble->agoric conn like mainnet
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
Due: none

test(boot): upgrade Fast USDC; update noble ICA
  packages/boot/test/fast-usdc/fast-usdc.test.ts
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.md
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.snap
Due: none

docs(fast-usdc): fix type of publicFacet in FastUSDCKit
  packages/fast-usdc/src/start-fast-usdc.core.js
Due: none

test(boot): fix 'oracles provision...' to do all, not just 1
  packages/boot/test/fast-usdc/fast-usdc.test.ts
Due: none

fix(fast-usdc): prepare to repair Noble Account
  packages/fast-usdc/src/fast-usdc.contract.js
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
Due: none

feat(fast-usdc): `ChainHub` update interfaces
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/test/exos/chain-hub.test.ts
Due: Orchestration

feat(builders): to reconfigure Fast USDC
  packages/builders/scripts/fast-usdc/fast-usdc-reconfigure.build.js
Due: none

chore(boot): cache fast-usdc-beta-1 release artifacts
  packages/boot/test/fast-usdc/bundles/b1-6f742c9506079a4ad917c50ef15cab85c5d2c8d562c04de72e9a79c2a192ba36e7c88aa365b740a0e1fd1968199289e20ed23ee62dd4a3240da78ebb6763fa34.json
  packages/boot/test/fast-usdc/bundles/b1-ff51ba7d4abbab92013467813379be4d428b0b7a3f1a6f2ebd06c9b774e0e4e6acfbd6aea9e508d53419c50e13495b314a1b1fb94392ce42ea8feb18de9b3fa7.json
  packages/boot/test/fast-usdc/bundles/dl.sh
  packages/boot/test/fast-usdc/bundles/start-fast-usdc-permit.json
  packages/boot/test/fast-usdc/bundles/start-fast-usdc-plan.json
  packages/boot/test/fast-usdc/bundles/start-fast-usdc.js
  packages/boot/tsconfig.json
Due: none

test(multichain): reconfigure: fix noble ICA
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
  multichain-testing/test/fast-usdc/fu-actors.ts
Due: none

test(boot): start fastUsdc using fast-usdc-beta-1 release
  packages/boot/test/fast-usdc/fast-usdc.test.ts
  packages/boot/tools/supports.ts
Due: none

refactor: simplify evidence conflict check
  packages/fast-usdc/src/exos/transaction-feed.js
Due: none

chore: deprecate blockTimestamp
  packages/fast-usdc/src/cli/operator-commands.js
  packages/fast-usdc/src/exos/status-manager.js
  packages/fast-usdc/src/type-guards.js
  packages/fast-usdc/src/types.ts
Due: none

fixup! Revert "chore: remove 'encoding' from ChainAddress"
  packages/builders/test/snapshots/orchestration-imports.test.js.md
  packages/builders/test/snapshots/orchestration-imports.test.js.snap
Due: none

fixup! test(boot): upgrade Fast USDC; update noble ICA
  packages/boot/test/fast-usdc/fast-usdc.test.ts
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.md
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.snap
Due: none

fixup! feat(fast-usdc): core eval to update chainInfo, noble ICA
  packages/fast-usdc/src/update-noble-ica.core.js
Due: none

chore: Update feeConfig.variableRate to 0.5%, i.e. 5n/1000n
  packages/fast-usdc/src/update-noble-ica.core.js
Due: none

fixup! feat(fast-usdc): creatorFacet.getChainHub
  packages/fast-usdc/src/fast-usdc.contract.js
Due: none

cleanup and fix elys contract upgrade tests
  packages/boot/test/orchestration/contract-upgrade.test.ts
  packages/builders/scripts/testing/init-elys-contract.js
  packages/builders/scripts/testing/upgrade-elys-contract.js
Due: none

chore: fix lint in golang, a3p, network, ERTP (#11036)
  a3p-integration/proposals/n:upgrade-next/test/agoricNames.test.js
  a3p-integration/proposals/z:acceptance/test/initial.test.js
  golang/cosmos/x/vtransfer/handler.go
  golang/cosmos/x/vtransfer/keeper/keeper.go
  packages/ERTP/test/unitTests/mintObj.test.js
  packages/network/test/fakes.js
Due: ERTP

fixup! test(boot): upgrade Fast USDC; update noble ICA
  packages/boot/test/fast-usdc/fast-usdc.test.ts
Due: none

fixup! fix(fast-usdc): prepare to repair Noble Account
  packages/fast-usdc/src/fast-usdc.contract.js
  packages/fast-usdc/src/start-fast-usdc.core.js
  packages/fast-usdc/test/fast-usdc.contract.test.ts
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
Due: none

chore(orchestration): trace addresses when creating ICAs
  packages/orchestration/src/exos/cosmos-orchestration-account.js
Due: Orchestration

feat(internal): Add an export of const `true` in anticipation of use for `attenuate`
  packages/internal/src/js-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
Due: none

feat(internal): Improve typing
  packages/internal/src/js-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
  packages/orchestration/src/facade.js
Due: Orchestration

feat(internal): Add `defineName` function utility
  packages/internal/src/js-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
Due: none

fix linting errors
  packages/builders/scripts/testing/upgrade-elys-contract.js
  packages/orchestration/scripts/fetch-chain-info.ts
  packages/orchestration/src/examples/elys.contract.js
  packages/orchestration/src/proposals/start-elys.js
Due: Orchestration

update snapshot after adding elys
  .github/workflows/contract-test.yml
  packages/orchestration/test/chain-info.test.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/snapshots/chain-info.test.js.md
  packages/orchestration/test/snapshots/chain-info.test.js.snap
Due: Orchestration
