Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

docs: update exo structure
  packages/orchestration/src/exos/README.md
Due: Orchestration

fixup! merge repair
  packages/SwingSet/package.json
  packages/SwingSet/test/vat-envtest.js
Due: none

fixup! suppress test type check
  packages/swingset-liveslots/test/vat-environment.test.js
Due: none

ci: removed deprecated fields in mergify
  .mergify.yml
Due: none

test
  .github/actions/restore-node/action.yml
  .github/workflows/integration.yml
Due: none

lint: lint-fix exports of .contract.js
  packages/orchestration/src/examples/auto-stake-it.contract.js
  packages/orchestration/src/examples/basic-flows.contract.js
  packages/orchestration/src/examples/sendAnywhere.contract.js
  packages/orchestration/src/examples/stakeBld.contract.js
  packages/orchestration/src/examples/stakeIca.contract.js
  packages/orchestration/src/examples/swapExample.contract.js
  packages/orchestration/src/examples/unbondExample.contract.js
Due: Orchestration

lint(config): harden exports in *.contract.js
  packages/eslint-config/eslint-config.cjs
Due: none

lint(config): harden-exports in flows.js
  packages/eslint-config/eslint-config.cjs
  packages/orchestration/test/examples/bad.flows.js
Due: Orchestration

lint: lint-fix exports of *.flow.js
  packages/orchestration/src/examples/auto-stake-it.flows.js
  packages/orchestration/src/examples/basic-flows.flows.js
  packages/orchestration/src/examples/sendAnywhere.flows.js
Due: Orchestration

lint: resolve jsdoc warnings
  packages/inter-protocol/src/vaultFactory/vaultDirector.js
  packages/inter-protocol/test/supports.js
Due: none

test: rename zcfProbe.contract.js
  packages/boot/test/bootstrapTests/zcf-upgrade.test.ts
  packages/boot/test/bootstrapTests/zcfProbe.contract.js
Due: none

test
  .github/workflows/integration.yml
Due: none

chore: drop excess promise resolution, rotate priceAuthority names
  packages/inter-protocol/src/proposals/replace-scaledPriceAuthorities.js
  packages/zoe/src/contractSupport/priceAuthorityInitial.js
  packages/zoe/src/contractSupport/priceAuthorityTransform.js
Due: none

feat: repair vaultUpgrade proposal; register scaledPriceAuthority
  golang/cosmos/app/upgrade.go
  packages/builders/scripts/vats/replaceScaledPriceAuthorities.js
  packages/inter-protocol/src/proposals/addAssetToVault.js
  packages/inter-protocol/src/proposals/price-feed-proposal.js
  packages/inter-protocol/src/proposals/replace-scaledPriceAuthorities.js
  packages/inter-protocol/src/proposals/upgrade-scaledPriceAuthorities.js
  packages/zoe/src/contractSupport/priceAuthority.js
  packages/zoe/src/contractSupport/priceAuthorityInitial.js
  packages/zoe/src/contracts/scaledPriceAuthority.js
Due: none

chore: minor cleanups from review
  golang/cosmos/app/upgrade.go
  packages/zoe/src/contracts/scaledPriceAuthority.js
Due: none

test: A3P only has ATOM and stTIA. drop unknown tokens
  a3p-integration/proposals/a:upgrade-next/upgradeVaults.js
  a3p-integration/proposals/a:upgrade-next/upgradeVaults.test.js
  a3p-integration/proposals/a:upgrade-next/vatDetails.js
  golang/cosmos/app/upgrade.go
Due: none

fixup! patch endo #2408 so we can use it
  packages/SwingSet/test/vat-env.test.js
  patches/@endo+compartment-mapper+1.2.1.patch
Due: none

fix(cosmic-swingset): add exportCallback interlock
  packages/cosmic-swingset/src/launch-chain.js
Due: none

refactor(swingset): create vat state non-lazily
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/lib/recordVatOptions.js
  packages/SwingSet/test/clist.test.js
  packages/SwingSet/test/state.test.js
Due: SwingSet/kernel

fix(cosmic-swingset): call upgradeSwingset at startup
  packages/cosmic-swingset/src/launch-chain.js
Due: none

fix(swingset): use "dirt" to schedule vat reap/bringOutYourDead
  packages/SwingSet/src/controller/initializeKernel.js
  packages/SwingSet/src/controller/initializeSwingset.js
  packages/SwingSet/src/controller/upgradeSwingset.js
  packages/SwingSet/src/index.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vat-loader/manager-factory.js
  packages/SwingSet/src/kernel/vat-loader/vat-loader.js
  packages/SwingSet/src/lib/recordVatOptions.js
  packages/SwingSet/src/types-external.js
  packages/SwingSet/src/types-internal.js
  packages/SwingSet/test/bundling/bundles-kernel.test.js
  packages/SwingSet/test/change-parameters/change-parameters.test.js
  packages/SwingSet/test/clist.test.js
  packages/SwingSet/test/controller.test.js
  packages/SwingSet/test/kernel.test.js
  packages/SwingSet/test/snapshots/state.test.js.md
  packages/SwingSet/test/snapshots/state.test.js.snap
  packages/SwingSet/test/state.test.js
  packages/SwingSet/test/upgrade-swingset.test.js
  packages/SwingSet/test/vat-admin/bootstrap.js
  packages/SwingSet/test/vat-admin/create-vat.test.js
Due: SwingSet/kernel

fix(swingset): update initialization API from PR feedback
  packages/SwingSet/src/controller/initializeKernel.js
  packages/SwingSet/src/controller/initializeSwingset.js
  packages/SwingSet/src/controller/upgradeSwingset.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/clist.test.js
  packages/SwingSet/test/controller.test.js
  packages/SwingSet/test/snapshots/state.test.js.md
  packages/SwingSet/test/snapshots/state.test.js.snap
  packages/SwingSet/test/state.test.js
  packages/SwingSet/test/transcript-light.test.js
  packages/SwingSet/test/upgrade-swingset.test.js
Due: SwingSet/kernel

chore: use scaledPriceAuthority's installation rather than label
  packages/inter-protocol/src/proposals/replace-scaledPriceAuthorities.js
Due: none

feat(swing-store): budget-limited deletion of snapshot and transcripts
  packages/SwingSet/docs/configuration.md
  packages/swing-store/docs/bundlestore.md
  packages/swing-store/docs/kvstore.md
  packages/swing-store/docs/snapstore.md
  packages/swing-store/docs/swingstore.md
  packages/swing-store/docs/transcriptstore.md
  packages/swing-store/src/snapStore.js
  packages/swing-store/src/swingStore.js
  packages/swing-store/src/transcriptStore.js
  packages/swing-store/test/deletion.test.js
Due: swing-store

fixup! maybe it is not failing on XS?
  packages/SwingSet/test/vat-env.test.js
Due: none

feat(swingset): allow slow termination/deletion of vats
  packages/SwingSet/docs/run-policy.md
  packages/SwingSet/src/controller/upgradeSwingset.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vat-warehouse.js
  packages/SwingSet/src/lib/runPolicies.js
  packages/SwingSet/src/types-external.js
  packages/SwingSet/src/types-internal.js
  packages/SwingSet/test/snapshots/state.test.js.md
  packages/SwingSet/test/snapshots/state.test.js.snap
  packages/SwingSet/test/state.test.js
  packages/SwingSet/test/stripPrefix.test.js
  packages/SwingSet/test/transcript-light.test.js
  packages/SwingSet/test/upgrade-swingset.test.js
  packages/SwingSet/test/vat-admin/slow-termination/bootstrap-slow-terminate.js
  packages/SwingSet/test/vat-admin/slow-termination/slow-termination.test.js
  packages/SwingSet/test/vat-admin/slow-termination/vat-slow-terminate.js
  packages/SwingSet/test/vat-admin/terminate/terminate.test.js
  packages/internal/src/index.js
Due: SwingSet/kernel

feat(swingset): add controller.terminateVat(vatID, reason)
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/test/external-termination/bootstrap-external-termination.js
  packages/SwingSet/test/external-termination/external-termination.test.js
  packages/SwingSet/test/external-termination/vat-doomed.js
Due: SwingSet/kernel

feat: add the ability to override param values
  packages/governance/src/contractGovernance/typedParamManager.js
  packages/governance/test/unitTests/typedParamManager.test.js
  packages/inter-protocol/src/proposals/upgrade-vaults.js
  packages/inter-protocol/src/vaultFactory/vaultFactory.js
Due: none

chore: improved variable naming and error handling
  packages/inter-protocol/src/proposals/upgrade-vaults.js
Due: none

refactor: simpler prioritizedOffer sort
  packages/inter-protocol/src/auction/auctionBook.js
Due: none

test: divideBy rounding
  packages/zoe/src/contractSupport/ratio.js
  packages/zoe/test/unitTests/contractSupport/ratio.test.js
Due: none

refactor: auction math module
  packages/inter-protocol/src/auction/auctionBook.js
  packages/inter-protocol/src/auction/auctionMath.js
  packages/inter-protocol/test/auction/auctionMath.test.js
Due: none

refactor(auction): ternaries to IIFE
  packages/inter-protocol/src/auction/auctionMath.js
Due: none

chore(auction): log price in settlement
  packages/inter-protocol/src/auction/auctionBook.js
Due: none

refactor(auction): proceedsExpected
  packages/inter-protocol/src/auction/auctionBook.js
  packages/inter-protocol/src/auction/auctionMath.js
  packages/inter-protocol/test/auction/auctionMath.test.js
Due: none

fix: target collat cannot exceed available
  packages/inter-protocol/src/auction/auctionMath.js
  packages/inter-protocol/test/auction/auctionMath.test.js
Due: none

build(types): disallow .ts extensions
  packages/benchmark/tsconfig.json
  packages/boot/tsconfig.json
Due: none

refactor: import .ts -> .js
  packages/benchmark/benchmark/benchmark-liquidation.js
  packages/benchmark/src/benchmarkerator.js
  packages/boot/test/bootstrapTests/addAssets.test.ts
  packages/boot/test/bootstrapTests/demo-config.test.ts
  packages/boot/test/bootstrapTests/lca.test.ts
  packages/boot/test/bootstrapTests/liquidation-1.test.ts
  packages/boot/test/bootstrapTests/liquidation-2b.test.ts
  packages/boot/test/bootstrapTests/liquidation-concurrent-1.test.ts
  packages/boot/test/bootstrapTests/liquidation-concurrent-2b.test.ts
  packages/boot/test/bootstrapTests/net-ibc-upgrade.test.ts
  packages/boot/test/bootstrapTests/orchestration.test.ts
  packages/boot/test/bootstrapTests/vat-orchestration.test.ts
  packages/boot/test/bootstrapTests/vats-restart.test.ts
  packages/boot/test/bootstrapTests/vaults-integration.test.ts
  packages/boot/test/bootstrapTests/vaults-upgrade.test.ts
  packages/boot/test/bootstrapTests/vow-offer-results.test.ts
  packages/boot/test/bootstrapTests/vtransfer.test.ts
  packages/boot/test/bootstrapTests/walletFactory.ts
  packages/boot/test/bootstrapTests/walletSurvivesZoeRestart.test.ts
  packages/boot/test/bootstrapTests/zcf-upgrade.test.ts
  packages/boot/test/orchestration/restart-contracts.test.ts
  packages/boot/test/upgrading/upgrade-vats.test.js
  packages/boot/tools/drivers.ts
  packages/cosmic-proto/test/helpers.test-d.ts
Due: none
