Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

chore!: remove governance exported.js
  packages/governance/exported.d.ts
  packages/governance/exported.js
  packages/governance/package.json
  packages/governance/src/index.js
  packages/governance/src/types.js
  packages/inter-protocol/src/econCommitteeCharter.js
  packages/inter-protocol/src/proposals/startPSM.js
  packages/inter-protocol/src/psm/psm.js
  packages/inter-protocol/src/reserve/assetReserve.js
  packages/inter-protocol/src/vaultFactory/params.js
  packages/inter-protocol/src/vaultFactory/vaultDirector.js
  packages/inter-protocol/src/vaultFactory/vaultFactory.js
  packages/inter-protocol/test/psm/psm.test.js
  packages/inter-protocol/test/smartWallet/contexts.js
  packages/vats/src/core/types-ambient.d.ts
Due: none

chore(types): some tsgo compat
  packages/internal/src/marshal/cap-data.js
  packages/internal/src/ses-utils.js
  packages/store/src/legacy/legacyWeakMap.js
  packages/store/src/stores/scalarMapStore.js
  packages/store/src/stores/scalarSetStore.js
  packages/store/src/stores/store-utils.js
  packages/swingset-liveslots/src/virtualObjectManager.js
  packages/swingset-runner/src/push-metrics.js
Due: none

chore!: remove zoe exported.js
  packages/deploy-script-support/src/helpers.js
  packages/inter-protocol/src/econCommitteeCharter.js
  packages/inter-protocol/src/psm/psm.js
  packages/inter-protocol/src/vaultFactory/burn.js
  packages/inter-protocol/src/vaultFactory/vaultDirector.js
  packages/inter-protocol/src/vaultFactory/vaultFactory.js
  packages/inter-protocol/src/vaultFactory/vaultKit.js
  packages/inter-protocol/src/vaultFactory/vaultManager.js
  packages/orchestration/index.js
  packages/zoe/exported.d.ts
  packages/zoe/exported.js
  packages/zoe/package.json
  packages/zoe/src/contractSupport/types-ambient.js
  packages/zoe/src/zoeService/internal-types.js
Due: Orchestration

chore(types): explicit zoe imports in governance
  packages/governance/src/binaryVoteCounter.js
  packages/governance/src/committee.js
  packages/governance/src/contractGovernance/paramManager.js
  packages/governance/src/contractGovernance/typedParamManager.js
  packages/governance/src/contractGovernor.js
  packages/governance/src/contractGovernorKit.js
  packages/governance/src/electorateTools.js
  packages/governance/src/multiCandidateVoteCounter.js
  packages/governance/src/noActionElectorate.js
  packages/governance/src/types.js
  packages/governance/src/voterKit.js
  packages/governance/tools/puppetContractGovernor.js
Due: none

chore(types): explicit zoe imports in vats
  packages/vats/src/core/basic-behaviors.js
  packages/vats/src/core/demoIssuers.js
  packages/vats/src/core/startWalletFactory.js
  packages/vats/src/core/utils.js
  packages/vats/src/mintHolder.js
  packages/vats/src/proposals/restart-vats-proposal.js
  packages/vats/test/bootstrapPayment.test.js
Due: none

chore(types): misc fixes
  packages/SwingSet/src/kernel/vat-loader/types.js
  packages/governance/test/unitTests/typedParamManager.test.js
  packages/smart-wallet/test/swingsetTests/upgradeWalletFactory/bootstrap-walletFactory-service-upgrade.js
  packages/vats/src/proposals/terminate-governed-instance.js
Due: SwingSet/kernel

chore(types): explicit zoe imports in deploy-s-s
  packages/deploy-script-support/src/endo-pieces-contract.js
  packages/deploy-script-support/src/externalTypes.js
  packages/deploy-script-support/src/install.js
  packages/deploy-script-support/src/offer.js
  packages/deploy-script-support/src/startInstance.js
Due: none

chore(types): remove invalid imports
  packages/deploy-script-support/src/writeCoreEvalParts.js
  packages/inter-protocol/src/proposals/addAssetToVault.js
  packages/inter-protocol/src/reserve/params.js
  packages/inter-protocol/src/vaultFactory/vaultManager.js
  packages/notifier/test/iterable-testing-tools.js
  packages/vats/src/core/startWalletFactory.js
Due: none

chore(types): explicit zoe imports in inter-protocol
  packages/inter-protocol/src/clientSupport.js
  packages/inter-protocol/src/collectFees.js
  packages/inter-protocol/src/contractSupport.js
  packages/inter-protocol/src/econCommitteeCharter.js
  packages/inter-protocol/src/feeDistributor.js
  packages/inter-protocol/src/interest.js
  packages/inter-protocol/src/price/fluxAggregatorContract.js
  packages/inter-protocol/src/price/fluxAggregatorKit.js
  packages/inter-protocol/src/proposals/addAssetToVault.js
  packages/inter-protocol/src/proposals/core-proposal.js
  packages/inter-protocol/src/proposals/deploy-price-feeds.js
  packages/inter-protocol/src/proposals/econ-behaviors.js
  packages/inter-protocol/src/proposals/replaceElectorate.js
  packages/inter-protocol/src/proposals/utils.js
  packages/inter-protocol/src/psm/psm.js
  packages/inter-protocol/src/reserve/assetReserve.js
  packages/inter-protocol/src/vaultFactory/burn.js
  packages/inter-protocol/src/vaultFactory/types-ambient.js
  packages/inter-protocol/src/vaultFactory/vault.js
  packages/inter-protocol/src/vaultFactory/vaultDirector.js
  packages/inter-protocol/src/vaultFactory/vaultManager.js
  packages/inter-protocol/test/provisionPool.test.js
  packages/inter-protocol/test/psm/setupPsm.js
  packages/inter-protocol/test/reserve/reserve.test.js
  packages/inter-protocol/test/reserve/setup.js
  packages/inter-protocol/test/smartWallet/contexts.js
  packages/inter-protocol/test/smartWallet/psm-integration.test.js
Due: none

chore(types): explicit zoe imports in vats
  packages/vats/src/core/types-ambient.d.ts
Due: none

chore!: remove internal exported.js
  packages/ERTP/src/index.js
  packages/cache/src/main.js
  packages/casting/src/main.js
  packages/inter-protocol/src/index.js
  packages/inter-protocol/src/vaultFactory/params.js
  packages/internal/exported.d.ts
  packages/internal/exported.js
  packages/internal/package.json
  packages/notifier/src/index.js
  packages/orchestration/index.js
  packages/zoe/src/zoeService/zoe.js
Due: ERTP, Orchestration

chore(types): clean up store package globals
  packages/store/exported.d.ts
Due: none

refactor(types): move ERef global to agoric/store
  packages/internal/exported.d.ts
  packages/store/exported.d.ts
Due: none

refactor(types): name SwingsetPromiseRecord
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/types-internal.js
Due: SwingSet/kernel

build: remove dead file refs
  packages/SwingSet/package.json
  packages/SwingSet/tsconfig.json
  packages/agoric-cli/package.json
  packages/benchmark/package.json
  packages/boot/package.json
  packages/builders/package.json
  packages/swingset-liveslots/package.json
  packages/vm-config/package.json
Due: none

chore!: remove ERTP exported.js
  packages/ERTP/exported.d.ts
  packages/ERTP/exported.js
  packages/ERTP/package.json
Due: ERTP

build: fix eslint-plugin CommonJS export
  packages/eslint-plugin/eslint.config.js
Due: none

chore(types): unglobal Agoric store types
  packages/store/exported.d.ts
Due: none

feat(types): reexport canonical ERef
  packages/vow/src/types.ts
Due: none

chore!: rm store exported.js
  packages/ERTP/src/paymentLedger.js
  packages/cache/src/types.js
  packages/network/src/router.js
  packages/store/exported.d.ts
  packages/store/exported.js
  packages/store/package.json
  packages/swingset-liveslots/src/index.js
Due: ERTP

feat: repair imports scripts
  scripts/repair-imports.ts
Due: none

chore(types): remove legacy map types
  packages/store/exported.d.ts
Due: none

chore(types): explicit import ERef
  packages/cache/src/cache.js
  packages/orchestration/src/examples/auto-stake-it-tap-kit.js
  packages/orchestration/src/proposals/init-chain-info.js
  packages/smart-wallet/src/proposals/upgrade-walletFactory-proposal.js
  packages/smart-wallet/test/addAsset.test.js
  packages/smart-wallet/test/start-game1-proposal.js
  packages/smart-wallet/test/supports.js
  packages/smart-wallet/test/swingsetTests/upgradeWalletFactory/walletFactory-V2.js
  packages/vats/src/core/client-behaviors.js
  packages/vats/src/core/demoIssuers.js
  packages/vats/src/core/types-ambient.d.ts
  packages/vats/src/proposals/localchain-proposal.js
  packages/vats/src/proposals/restart-vats-proposal.js
  packages/vats/test/vat-bank.test.js
  packages/vats/tools/bank-utils.js
Due: Orchestration

chore(types): misc fixes in multichain-testing
  multichain-testing/tools/e2e-tools.js
  multichain-testing/tools/wallet-store-reflect.ts
Due: none

feat: typecheck-all package script
  AGENTS.md
  package.json
Due: none

chore(types): imports in non-documented packages
  packages/boot/test/bootstrapTests/ibcServerMock.js
  packages/boot/test/bootstrapTests/vtransfer.test.ts
  packages/boot/test/upgrading/vat-vow.js
  packages/boot/tools/drivers.ts
  packages/boot/tools/supports.ts
  packages/cosmic-swingset/src/chain-main.js
  packages/fast-usdc-deploy/src/add-operators.core.js
  packages/fast-usdc-deploy/src/fast-usdc-fees.build.js
  packages/fast-usdc-deploy/src/fast-usdc-policy.core.js
  packages/fast-usdc-deploy/src/reimburse-manual-intervention.build.js
  packages/fast-usdc-deploy/src/start-fast-usdc.core.js
  packages/fast-usdc-deploy/src/update-fee-config.core.js
  packages/fast-usdc-deploy/src/update-noble-ica.core.js
  packages/fast-usdc-deploy/src/update-settler-reference.core.js
  packages/fast-usdc-deploy/src/upgrade-evm-dests.core.js
  packages/orchestration/src/chain-info.js
  packages/orchestration/src/examples/swap.contract.js
  packages/orchestration/src/examples/unbond.contract.js
  packages/orchestration/src/fixtures/query-flows.contract.js
  packages/orchestration/test/fixtures/zoe-tools.contract.js
  packages/telemetry/src/kv-string-store.js
  packages/telemetry/src/slog-to-otel.js
Due: Orchestration

chore(types): explicit annotation
  packages/inter-protocol/src/proposals/addAssetToVault.js
  packages/inter-protocol/src/provisionPoolKit.js
  packages/vats/src/core/startWalletFactory.js
Due: none

chore(types): rm obsolete ts-expect-error
  packages/inter-protocol/src/proposals/addAssetToVault.js
  packages/inter-protocol/test/psm/setupPsm.js
Due: none

chore(types): fix StartedInstanceKit type
  packages/fast-usdc-deploy/src/start-fast-usdc.core.js
  packages/portfolio-deploy/test/contract-control.test.ts
  packages/vats/src/core/types-ambient.d.ts
Due: none

chore(types): fix stale code
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/deployment/src/init.js
Due: SwingSet/kernel

chore(types): imports in multichain-testing
  multichain-testing/scripts/ymax-tool.ts
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
  multichain-testing/test/fast-usdc/fu-actors.ts
  multichain-testing/tools/e2e-tools.js
  multichain-testing/tools/queryKit.js
  multichain-testing/tools/wallet-store-reflect.ts
Due: none

chore(types): moar imports
  packages/ERTP/src/typeGuards.js
  packages/SwingSet/src/lib/message.js
  packages/agoric-cli/src/lib/wallet.js
  packages/agoric-cli/test/upgrade-contract/buggy-contract.js
  packages/agoric-cli/test/upgrade-contract/fixed-contract.js
  packages/builders/scripts/testing/recorded-retired-instances.js
  packages/builders/scripts/testing/register-interchain-bank-assets.js
  packages/builders/scripts/testing/start-query-flows.js
  packages/casting/test/fake-rpc-server.js
  packages/deploy-script-support/src/externalTypes.js
  packages/fast-usdc-contract/test/utils/settlement-matcher.test.ts
  packages/pegasus/src/courier.js
  packages/pegasus/src/pegasus.js
  packages/pegasus/src/types.js
  packages/pegasus/test/peg.test.js
  packages/portfolio-contract/test/contract-setup.ts
  packages/portfolio-contract/test/portfolio.flows.test.ts
  packages/portfolio-contract/test/rebalance-grok.test.ts
  packages/portfolio-contract/tools/agents-mock.ts
  packages/portfolio-contract/tools/rebalance-grok.ts
  packages/portfolio-deploy/src/access-token-setup.core.js
  packages/portfolio-deploy/src/chain-info.core.js
  packages/portfolio-deploy/src/contract-control.js
  packages/portfolio-deploy/src/orch.start.js
  packages/portfolio-deploy/src/postal-service.contract.js
  packages/portfolio-deploy/src/postal-service.core.js
  packages/portfolio-deploy/src/usdc-resolve.build.js
  packages/portfolio-deploy/test/portfolio.test.ts
  packages/wallet/api/src/actions.js
  packages/wallet/api/src/findOrMakeInvitation.js
  packages/wallet/api/src/internal-types.js
  packages/wallet/api/src/issuerTable.js
  packages/wallet/api/src/lib-dehydrate.js
  packages/wallet/api/src/lib-wallet.js
  packages/wallet/api/src/types-ambient.js
  packages/wallet/api/src/wallet.js
  packages/wallet/api/test/lib-wallet.test.js
  packages/wallet/api/test/middleware.test.js
Due: ERTP

chore(types): misc annotations and suppressions
  packages/boot/test/bootstrapTests/ec-membership-update.test.ts
  packages/boot/test/bootstrapTests/net-ibc-upgrade.test.ts
  packages/boot/test/orchestration/orchestration.test.ts
  packages/boot/tools/drivers.ts
  packages/deploy-script-support/src/externalTypes.js
  packages/portfolio-deploy/src/vstorage-outdated.js
  packages/sparse-ints/src/sparseInts.js
  packages/spawner/test/swingsetTests/contractHost/contractHost.test.js
  packages/stat-logger/src/statGraph.js
  packages/store/src/stores/store-utils.js
  packages/vats/src/core/basic-behaviors.js
  packages/wallet/api/src/lib-wallet.js
  packages/wallet/api/src/types-ambient.js
  services/ymax-planner/src/cosmos-rest-client.ts
Due: none

ci: temporarily disable a3p-integration lint
  .github/workflows/test-all-packages.yml
Due: none

refactor(types): Vat types in their modules
  packages/SwingSet/src/vats/timer/vat-timer.js
  packages/SwingSet/src/vats/vat-admin/vat-vat-admin.js
  packages/SwingSet/src/vats/vattp/vat-vattp.js
  packages/vats/src/bridge.js
  packages/vats/src/core/types-ambient.d.ts
  packages/vats/src/vat-agoricNames.js
  packages/vats/src/vat-bank.js
  packages/vats/src/vat-board.js
  packages/vats/src/vat-bridge.js
  packages/vats/src/vat-ibc.js
  packages/vats/src/vat-mints.js
  packages/vats/src/vat-network.js
  packages/vats/src/vat-priceAuthority.js
  packages/vats/src/vat-provisioning.js
Due: none
