Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

feat: parseAccountIdArg
  packages/orchestration/src/utils/address.js
  packages/orchestration/test/utils/address.test.ts
Due: Orchestration

refactor: simplify chainHub address parsing to avoid parseAccountId
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/test/exos/chain-hub.test.ts
Due: Orchestration

refactor: advancer.setIntermediateRecipient provides account, too
  packages/fast-usdc-contract/src/exos/advancer.ts
  packages/fast-usdc-contract/src/fast-usdc.contract.ts
  packages/fast-usdc-contract/test/exos/advancer.test.ts
Due: none

WIP: cctp fixture lab
  multichain-testing/scripts/cctp-lab.ts
Due: none

refactor(cctp-lab): test / main config etc.
  multichain-testing/scripts/cctp-lab.ts
Due: none

refactor: generalize accountIds in a few places
  packages/fast-usdc-contract/src/exos/advancer.ts
  packages/fast-usdc-contract/src/exos/settler.ts
  packages/fast-usdc-contract/test/exos/settler.test.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/typeGuards.js
Due: Orchestration

feat: fastUSDC advancer choose among local transfer, IBC and CCTP
  packages/fast-usdc-contract/src/exos/advancer.ts
Due: none

test: update advancer snapshot
  packages/fast-usdc-contract/test/exos/snapshots/advancer.test.ts.md
  packages/fast-usdc-contract/test/exos/snapshots/advancer.test.ts.snap
Due: none

chore: integrate with changes to parseAccountId
  packages/fast-usdc-contract/src/exos/advancer.ts
  packages/fast-usdc-contract/src/exos/settler.ts
  packages/orchestration/src/exos/chain-hub.js
Due: Orchestration

chore: waiting for depositForBurn in orchestrationAccount
  packages/fast-usdc-contract/src/exos/advancer.ts
Due: none

test: make restart-contract test robust to changing test order
  packages/boot/test/orchestration/restart-contracts.test.ts
Due: none

test: transmitTransferAck more defensive re: recent messages
  packages/orchestration/test/supports.ts
Due: Orchestration

chore: correct parameters in call to prepareMakeTestCOAKit()
  packages/orchestration/test/exos/portfolio-holder-kit.test.ts
Due: Orchestration

feat: support CCTP in orchestration
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-anywhere.flows.js
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/src/proposals/start-send-anywhere.js
  packages/orchestration/test/examples/send-anywhere.test.ts
  packages/orchestration/test/examples/send-cctp.test.ts
Due: Orchestration

test: update orcestration example snapshots
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
Due: Orchestration

test: update snapshot in fastUSDC
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.snap
Due: none

feat: `CosmosOrchestrationAccount` supports `.depositForBurn`
  packages/orchestration/package.json
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/utils/address.js
  packages/orchestration/test/types.test-d.ts
Due: Orchestration

test: test depositForBurn via Noble
  packages/orchestration/src/exos/README.md
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
  packages/orchestration/test/exos/make-test-coa-kit.ts
  packages/orchestration/test/ibc-mocks.ts
  packages/orchestration/test/network-fakes.ts
Due: Orchestration

fix(ertp,zoe,swingset,vats): Don't remember panicing
  packages/ERTP/src/paymentLedger.js
  packages/SwingSet/src/types-external.js
  packages/vats/src/vat-mints.js
  packages/zoe/src/zoeService/feeMint.js
  packages/zoe/src/zoeService/makeInvitation.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
Due: ERTP

fixup! stuff
  packages/ERTP/package.json
  packages/ERTP/src/issuerKit.js
  packages/ERTP/src/paymentLedger.js
  packages/internal/src/index.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/internal-types.js
Due: ERTP

fixup! stuff
  packages/internal/src/panic.js
Due: none

test(cosmos): update several Go tests
  golang/cosmos/daemon/cmd/root_test.go
  golang/cosmos/x/vbank/vbank_test.go
  golang/cosmos/x/vstorage/keeper/keeper_test.go
  golang/cosmos/x/vstorage/keeper/querier_test.go
  golang/cosmos/x/vtransfer/utils_test.go
Due: none

fix(ci): Race condition in wait-for-follower script (#11159)
  a3p-integration/proposals/z:acceptance/wait-for-follower.mjs
Due: none

typed ShutdownWithFailure vs Panic
  packages/ERTP/src/issuerKit.js
  packages/ERTP/src/paymentLedger.js
  packages/SwingSet/src/types-external.js
  packages/zoe/src/contractFacet/types.ts
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/contracts/loan/liquidate.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/feeMint.js
  packages/zoe/src/zoeService/makeInvitation.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/swingsetTests/brokenContracts/crashingAutoRefund.js
Due: ERTP

refactor(telemetry): Simplify makeSlogSender
  packages/telemetry/src/make-slog-sender.js
Due: none

feat(internal): Add helper `unprefixedProperties` for environment variable consumption
  packages/internal/src/js-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
  packages/solo/src/start.js
  packages/telemetry/src/make-slog-sender.js
Due: none

refactor(SwingSet): Simplify makeSwingsetController
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

refactor(cosmic-swingset): Match the ABCI block method sequence in doBlockingSend cases
  packages/cosmic-swingset/src/launch-chain.js
Due: none

refactor: Use new helpers in more places
  packages/cosmic-swingset/test/make.test.js
  packages/vow/src/watch-utils.js
Due: none

feat(cosmic-swingset): Add slog entry type "cosmic-swingset-init"
  packages/cosmic-swingset/src/launch-chain.js
Due: none

feat: Add the Prometheus slog sender module and load it per OTEL_EXPORTER_PROMETHEUS_PORT
  docs/env.md
  packages/cosmic-swingset/README-telemetry.md
  packages/cosmic-swingset/src/chain-main.js
  packages/internal/src/js-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
  packages/telemetry/src/make-slog-sender.js
  packages/telemetry/src/prometheus.js
Due: none

chore(SwingSet): Improve the consistency of KernelSlog error messages
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

feat: Add controller method `slogDuration` for producing start/finish slog pairs with timings
  packages/SwingSet/src/controller/controller.js
  packages/cosmic-swingset/src/launch-chain.js
Due: none

refactor(telemetry): Extract the export-independent aspects of prometheus.js
  packages/telemetry/src/otel-metrics.js
  packages/telemetry/src/prometheus.js
Due: none

refactor: Move metrics metadata into package "internal"
  a3p-integration/proposals/z:acceptance/yarn.lock
  multichain-testing/yarn.lock
  packages/SwingSet/src/kernel/metrics.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/state.test.js
  packages/cosmic-swingset/src/kernel-stats.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/cosmic-swingset/test/snapshots/prometheus.test.js.md
  packages/cosmic-swingset/test/snapshots/prometheus.test.js.snap
  packages/internal/package.json
  packages/internal/src/index.js
  packages/internal/src/metrics.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
  packages/swingset-runner/src/push-metrics.js
Due: SwingSet/kernel

feat(SwingSet): Add more data to slog entries
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

test(cosmic-swingset): Allow more variance for direct vs. slog reporting of "swingset_crank_processing_time_sum"
  packages/cosmic-swingset/test/prometheus.test.js
Due: none

refactor(telemetry): Minor cleanup
  docs/env.md
  packages/cosmic-swingset/README-telemetry.md
  packages/telemetry/src/index.js
  packages/telemetry/src/slog-sender-pipe-entrypoint.js
  packages/telemetry/src/slog-sender-pipe.js
Due: none

feat(SwingSet): Reflect controller `slogDuration` in KernelSlog as `startDuration`
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/kernel/vat-warehouse.js
  packages/SwingSet/src/lib/message.js
  packages/SwingSet/src/types-external.js
  packages/SwingSet/test/gc-kernel-orphan.test.js
  packages/SwingSet/test/gc-kernel.test.js
  packages/cosmic-swingset/src/kernel-stats.js
  packages/cosmic-swingset/src/launch-chain.js
Due: SwingSet/kernel

refactor: Clean up exportKernelStats
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/metrics.js
  packages/SwingSet/src/kernel/state/stats.js
  packages/cosmic-swingset/src/kernel-stats.js
  packages/cosmic-swingset/test/prometheus.test.js
Due: SwingSet/kernel
