Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

chore: rm noop import of types-ambient
  packages/zoe/src/zoeService/originalZoeSeat.js
Due: none

docs: mappings
  packages/orchestration/src/exos/chain-hub.js
Due: Orchestration

chores(types): require Bech32Address
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/utils/address.js
  packages/orchestration/test/exos/chain-hub.test.ts
  packages/orchestration/test/utils/address.test.ts
Due: Orchestration

chore(types): IbcConnectionKey
  packages/orchestration/src/exos/chain-hub.js
Due: Orchestration

docs: clarify Cosmos methods
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/src/exos/chain-hub.js
Due: Orchestration

refactor(telemetry): Also harden slog entries received via IPC by slog-sender-pipe-entrypoint.js
  packages/telemetry/src/slog-sender-pipe-entrypoint.js
Due: none

chore(SwingSet): Harden outbound slog entry objects
  packages/SwingSet/src/controller/controller.js
Due: none

test(telemetry): Test slogSenders with hardened slog entries
  packages/telemetry/test/flight-recorder.test.js
Due: none

hard code `xs` engine
  .github/actions/restore-node/action.yml
  .github/workflows/test-all-packages.yml
Due: none

nit
  .github/workflows/test-all-packages.yml
Due: none

feat: add sendGmp method
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/evm-account-kit.js
  packages/orchestration/src/examples/lca-evm.flows.js
Due: Orchestration

test: make gmp call via localAccount obj
  packages/boot/test/orchestration/axelar-gmp.test.ts
  packages/orchestration/src/examples/evm-account-kit.js
Due: Orchestration

chore(cosmic-swingset): Align anylogger-agoric.js with documented environment variable handling
  packages/cosmic-swingset/src/anylogger-agoric.js
Due: none

chore(cosmic-swingset): Switch an anylogger-agoric.js comment to JSDoc
  packages/cosmic-swingset/src/anylogger-agoric.js
Due: none

chore(cosmic-swingset): Improve anylogger-agoric.js readability
  packages/cosmic-swingset/src/anylogger-agoric.js
Due: none

refactor(cosmic-swingset): Further improve anylogger-agoric.js
  packages/cosmic-swingset/src/anylogger-agoric.js
Due: none

feat(SwingSet): Echo controller console output to the slog
  packages/SwingSet/src/controller/controller.js
Due: none

fix(telemetry): Launch a slog sender subprocess with the correct environment
  packages/telemetry/src/slog-sender-pipe.js
Due: none

feat(telemetry): Update slog sender JSON serialization of error instances
  packages/telemetry/src/serialize-slog-obj.js
Due: none

test(ci): parallelize multichain-testing
  .github/workflows/multichain-e2e.yml
  multichain-testing/ava.main.config.js
  multichain-testing/ava.staking.config.js
  multichain-testing/package.json
  multichain-testing/test/README.md
  multichain-testing/test/staking/README.md
  multichain-testing/test/staking/auto-stake-it.test.ts
  multichain-testing/test/staking/stake-ica.test.ts
Due: none

test: transmitTransferAck more defensive re: recent messages
  packages/orchestration/test/supports.ts
Due: Orchestration

feat: `CosmosOrchestrationAccount` supports `.depositForBurn`
  multichain-testing/yarn.lock
  packages/orchestration/package.json
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/utils/address.js
  packages/orchestration/test/types.test-d.ts
Due: Orchestration

feat: getChainInfoByChainId
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.snap
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/utils/chain-info.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
  packages/orchestration/test/facade-durability.test.ts
Due: Orchestration

test: make restart-contract test robust to changing test order
  packages/boot/test/orchestration/restart-contracts.test.ts
Due: none

test: test depositForBurn via Noble
  packages/orchestration/src/exos/README.md
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
  packages/orchestration/test/exos/make-test-coa-kit.ts
  packages/orchestration/test/exos/portfolio-holder-kit.test.ts
  packages/orchestration/test/ibc-mocks.ts
  packages/orchestration/test/network-fakes.ts
Due: Orchestration

feat: support CCTP in orchestration
  packages/boot/test/orchestration/contract-upgrade.test.ts
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-anywhere.flows.js
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/src/proposals/start-send-anywhere.js
  packages/orchestration/test/examples/send-anywhere.test.ts
  packages/orchestration/test/examples/send-cctp.test.ts
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
Due: Orchestration

feat: `depositForBurn` optionally accepts caller
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/utils/address.js
Due: Orchestration

types: `resolveCosmosChainId`, `resolveAccountId` accept a string
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/utils/address.js
  packages/orchestration/test/exos/chain-hub.test.ts
Due: Orchestration

refactor: move safeMath.js to ERTP
  packages/ERTP/src/safeMath.js
  packages/zoe/src/contractSupport/bondingCurves.js
  packages/zoe/src/contractSupport/index.js
Due: ERTP

refactor: move ratio.js to ERTP
  packages/ERTP/src/ratio.js
  packages/ERTP/test/unitTests/ratio.test.js
  packages/zoe/src/contractSupport/index.js
Due: ERTP

build: bump yarn 4.6 to 4.8
  a3p-integration/package.json
  a3p-integration/proposals/n:upgrade-next/package.json
  a3p-integration/proposals/z:acceptance/package.json
  multichain-testing/package.json
Due: none

feat: native URLSearchParams
  packages/cosmic-proto/package.json
  packages/cosmic-proto/src/address-hooks.js
  yarn.lock
Due: none

chore: trim abci/types to used messages
  packages/cosmic-proto/proto/tendermint/abci/types.proto
  packages/cosmic-proto/src/codegen/tendermint/abci/types.ts
Due: none

chore: trim CCTP tx proto to used messages
  packages/cosmic-proto/proto/circle/cctp/v1/tx.proto
  packages/cosmic-proto/src/codegen/circle/cctp/v1/tx.ts
Due: none

build: use pnpm linker
  a3p-integration/.yarnrc.yml
  multichain-testing/.yarnrc.yml
Due: none

chore(deps): dedupe bech32
  package.json
  yarn.lock
Due: none

feat: amounts package
  packages/amounts/README.md
  packages/amounts/package.json
  packages/amounts/tsconfig.build.json
  packages/amounts/tsconfig.json
Due: none

use hard coded values + change restore-node input name
  .github/actions/restore-node/action.yml
  .github/workflows/after-merge.yml
  .github/workflows/benchmarks.yml
  .github/workflows/integration.yml
  .github/workflows/multichain-e2e-template.yml
  .github/workflows/test-all-packages.yml
  .github/workflows/test-documentation.yml
Due: none

feat: ERTP Amounts in new Amounts package
  packages/ERTP/package.json
  packages/ERTP/src/amountStore.js
  packages/ERTP/src/displayInfo.js
  packages/ERTP/src/index.js
  packages/ERTP/src/issuerKit.js
  packages/ERTP/src/legacy-payment-helpers.js
  packages/ERTP/src/paymentLedger.js
  packages/ERTP/src/purse.js
  packages/ERTP/src/types.ts
  packages/ERTP/test/types.test-d.ts
  packages/ERTP/test/unitTests/mathHelpers/mockBrand.js
  packages/amounts/src/amountMath.js
  packages/amounts/src/index.js
  packages/amounts/src/mathHelpers/copyBagMathHelpers.js
  packages/amounts/src/mathHelpers/copySetMathHelpers.js
  packages/amounts/src/mathHelpers/natMathHelpers.js
  packages/amounts/src/mathHelpers/setMathHelpers.js
  packages/amounts/src/typeGuards.js
  packages/amounts/src/types-index.d.ts
  packages/amounts/src/types-index.js
  packages/amounts/src/types.ts
  packages/amounts/test/amountProperties.test.js
  packages/amounts/test/mathHelpers/copyBagMathHelpers.test.js
  packages/amounts/test/mathHelpers/copySetMathHelpers.test.js
  packages/amounts/test/mathHelpers/mockBrand.js
  packages/amounts/test/mathHelpers/natMathHelpers.test.js
  packages/amounts/test/mathHelpers/setMathHelpers.test.js
  packages/amounts/test/mathHelpers/strSetMathHelpers.test.js
Due: ERTP

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
