Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

ci: add build for both yarn and cosmoc-swingset
  .github/workflows/nix-check.yml
Due: none

Update flake.nix
  flake.nix
Due: none

update NOTICE
  NOTICE
Due: none

chore: remove ava timing patch
  patches/ava+5.3.1.patch
Due: none

fixup(cosmos/vstorage): Incorporate PR review comments
  golang/cosmos/x/vstorage/keeper/keeper.go
Due: none

test: rm b:beta-fast-usdc
  a3p-integration/proposals/b:beta-fast-usdc/.gitignore
  a3p-integration/proposals/b:beta-fast-usdc/.yarnrc.yml
  a3p-integration/proposals/b:beta-fast-usdc/README.md
  a3p-integration/proposals/b:beta-fast-usdc/package.json
  a3p-integration/proposals/b:beta-fast-usdc/test.sh
  a3p-integration/proposals/b:beta-fast-usdc/test/deploy.test.js
  a3p-integration/proposals/b:beta-fast-usdc/test/operators.test.js
  a3p-integration/proposals/b:beta-fast-usdc/test/test-cli.sh
  a3p-integration/proposals/b:beta-fast-usdc/yarn.lock
Due: none

test: use 87:fast-usdc
  a3p-integration/package.json
Due: none

refactor(SwingSet): Indicate intentional no-op finisher functions by name
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

chore(SwingSet): Improve slogger types
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/types-external.js
  packages/internal/src/js-utils.js
Due: SwingSet/kernel

refactor(SwingSet): Clarify makeCallbackRegistry as makeFinishersKit
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

chore(SwingSet): Require/ensure at least a dummy kernelSlog in lower layers
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/test/abandon-export.test.js
  packages/SwingSet/test/controller.test.js
  packages/SwingSet/test/state.test.js
Due: SwingSet/kernel

Refactor(SwingSet): Clarify safe vs. unsafe slogger write calls
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

chore: Make use of new common logLevels and LimitedConsole
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/types-internal.js
  packages/SwingSet/test/gc-kernel-orphan.test.js
  packages/SwingSet/test/gc-kernel.test.js
  packages/SwingSet/test/util.js
  packages/SwingSet/test/vpid-kernel.test.js
  packages/swingset-liveslots/src/liveslots.js
Due: none

refactor(SwingSet): Update makeConsole for simplicity and POLA
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

refactor(SwingSet): Use common slogger LimitedConsole construction patterns
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

refactor: Move makeLimitedConsole to package "internal"
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/slogger.js
  packages/internal/src/ses-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
Due: SwingSet/kernel

feat(SwingSet): Echo kernel console output to the slog
  packages/SwingSet/src/controller/controller.js
Due: none

chore(SwingSet): Minor cleanup
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

test(vow): test unhandled vow rejection machinery
  packages/orchestration/package.json
  packages/vow/package.json
  packages/vow/src/vow-utils.js
  packages/vow/test/retryable.test.js
  packages/vow/test/watch-upgrade.test.js
  packages/vow/test/watch-utils.test.js
  patches/ava+5.3.1.patch
Due: none

fix(vow): report unhandled rejections on vow collection or upgrade
  packages/vow/src/rejection-tracker.js
  packages/vow/src/tools.js
  packages/vow/src/vow-utils.js
  packages/vow/src/vow.js
  packages/vow/src/watch.js
Due: none

refactor(vow): rename type `VowV0` to `VowPayloadV0`
  packages/vow/src/types.ts
Due: none

test: update golden snapshots for `UpgradeRejectionWatcher`
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
  packages/zoe/test/unitTests/contracts/snapshots/valueVow.test.js.md
  packages/zoe/test/unitTests/contracts/snapshots/valueVow.test.js.snap
Due: Orchestration

feat(internal): add `src/lib-nodejs/ava-unhandled-rejection.js`
  packages/internal/src/lib-nodejs/ava-unhandled-rejection.js
  patches/ava+5.3.1.patch
Due: none

test: use fine-grained expected unhandled rejections
  packages/internal/src/lib-nodejs/ava-unhandled-rejection.js
  packages/orchestration/package.json
  packages/orchestration/test/examples/send-anywhere.test.ts
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/staking-combinations.test.ts
  packages/orchestration/test/exos/local-orchestration-account-kit.test.ts
  packages/vow/package.json
  packages/vow/test/unhandled-rejections.test.js
  packages/vow/test/watch-upgrade.test.js
Due: Orchestration

refactor(cosmic-swingset): Ensure proper typing of blockMetrics
  packages/cosmic-swingset/src/launch-chain.js
  packages/internal/src/js-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
Due: none

feat(cosmic-swingset): report block timings as explicit metrics
  packages/cosmic-swingset/src/launch-chain.js
Due: none

refactor(cosmic-swingset): Move block await points
  packages/cosmic-swingset/src/launch-chain.js
Due: none

refactor(cosmic-swingset): Rename timing-related variables and metrics for clarity and accuracy
  packages/cosmic-swingset/src/launch-chain.js
Due: none

refactor(cosmic-swingset): Tweak blockMetrics for better chronological alignment
  packages/cosmic-swingset/src/launch-chain.js
Due: none

refactor(cosmic-swingset): Extract common block metrics histogram details
  packages/cosmic-swingset/src/launch-chain.js
Due: none

test(cosmic-swingset): Include new histograms in the Prometheus snapshot
  packages/cosmic-swingset/test/prometheus.test.js
  packages/cosmic-swingset/test/snapshots/prometheus.test.js.md
  packages/cosmic-swingset/test/snapshots/prometheus.test.js.snap
Due: none

refactor(cosmic-swingset): Use a common `now` function
  packages/cosmic-swingset/src/launch-chain.js
Due: none

fix(cosmic-swingset): Calculate block lag from the start of BEGIN_BLOCK
  packages/cosmic-swingset/src/launch-chain.js
Due: none

refactor(cosmic-swingset): Promote the blockMetrics descriptors
  packages/cosmic-swingset/src/launch-chain.js
Due: none

feat(cosmic-swingset): measure some block timings
  packages/cosmic-swingset/src/launch-chain.js
Due: none

feat(xsnap): Support legacy and latest variants
  .dockerignore
  .github/workflows/docker.yml
  .gitmodules
  packages/deployment/Dockerfile.sdk
  packages/xsnap/README.md
  packages/xsnap/build.env
  packages/xsnap/package.json
  packages/xsnap/scripts/get_xsnap_version.sh
  packages/xsnap/src/build.js
  packages/xsnap/src/xsnap.js
Due: none

feat(xsnap): Upgrade latest variant
  packages/xsnap/build.env
Due: none

chore(swingset-liveslots): use avaRetry() in virtualObjectGC.test.js (#11021)
  packages/swingset-liveslots/test/virtual-objects/virtualObjectGC.test.js
Due: none

chore(SwingSet): Explain how `profileVats` affects node CLI options
  packages/SwingSet/src/controller/startNodeSubprocess.js
Due: none

test(a3p-integration): rename upgrade-next to upgrade-19
  a3p-integration/proposals/a:upgrade-19/.gitignore
  a3p-integration/proposals/a:upgrade-19/.yarn/patches/axios-npm-1.7.7-cfbedc233d.patch
  a3p-integration/proposals/a:upgrade-19/.yarn/patches/protobufjs-npm-6.11.4-af11968b80.patch
  a3p-integration/proposals/a:upgrade-19/.yarnrc.yml
  a3p-integration/proposals/a:upgrade-19/README.md
  a3p-integration/proposals/a:upgrade-19/eval.sh
  a3p-integration/proposals/a:upgrade-19/package.json
  a3p-integration/proposals/a:upgrade-19/test-lib/index.js
  a3p-integration/proposals/a:upgrade-19/test-lib/mintHolder-helpers.js
  a3p-integration/proposals/a:upgrade-19/test-lib/price-feed.js
  a3p-integration/proposals/a:upgrade-19/test-lib/provision-helpers.js
  a3p-integration/proposals/a:upgrade-19/test-lib/psm-lib.js
  a3p-integration/proposals/a:upgrade-19/test-lib/utils.js
  a3p-integration/proposals/a:upgrade-19/test.sh
  a3p-integration/proposals/a:upgrade-19/test/addCollateral/add-collateral-permit.json
  a3p-integration/proposals/a:upgrade-19/test/addCollateral/add-collateral.js
  a3p-integration/proposals/a:upgrade-19/test/agoricNames.test.js
  a3p-integration/proposals/a:upgrade-19/test/agoricNamesCoreEvals/depositUsdOlives/deposit-usd-olives-permit.json
  a3p-integration/proposals/a:upgrade-19/test/agoricNamesCoreEvals/depositUsdOlives/deposit-usd-olives.js
  a3p-integration/proposals/a:upgrade-19/test/agoricNamesCoreEvals/writeToAgoricNames/write-to-agoricNames-permit.json
  a3p-integration/proposals/a:upgrade-19/test/agoricNamesCoreEvals/writeToAgoricNames/write-to-agoricNames.js
  a3p-integration/proposals/a:upgrade-19/test/agoricNamesCoreEvals/writeToTestInfo/write-to-testInfo-permit.json
  a3p-integration/proposals/a:upgrade-19/test/agoricNamesCoreEvals/writeToTestInfo/write-to-testInfo.js
  a3p-integration/proposals/a:upgrade-19/test/assetReserve.test.js
  a3p-integration/proposals/a:upgrade-19/test/depositUSD-LEMONS/deposit-usd-lemons-permit.json
  a3p-integration/proposals/a:upgrade-19/test/depositUSD-LEMONS/deposit-usd-lemons.js
  a3p-integration/proposals/a:upgrade-19/test/initial.test.js
  a3p-integration/proposals/a:upgrade-19/test/mint-payment/send-script-permit.json
  a3p-integration/proposals/a:upgrade-19/test/mint-payment/send-script.tjs
  a3p-integration/proposals/a:upgrade-19/test/mintHolder.test.js
  a3p-integration/proposals/a:upgrade-19/test/nullUpgradePP/null-upgrade-pp-permit.json
  a3p-integration/proposals/a:upgrade-19/test/nullUpgradePP/null-upgrade-pp.js
  a3p-integration/proposals/a:upgrade-19/test/provisionPool.test.js
  a3p-integration/proposals/a:upgrade-19/test/psm.test.js
  a3p-integration/proposals/a:upgrade-19/test/replaceFeeDistributor.test.js
  a3p-integration/proposals/a:upgrade-19/test/swapAnchorForMintedSeat/swap-anchor-for-minted-seat-permit.json
  a3p-integration/proposals/a:upgrade-19/test/swapAnchorForMintedSeat/swap-anchor-for-minted-seat.js
  a3p-integration/proposals/a:upgrade-19/tsconfig.json
  a3p-integration/proposals/a:upgrade-19/yarn.lock
  a3p-integration/proposals/n:upgrade-next/README.md
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
