Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

build: .ts support
  tsconfig.json
Due: none

test: allow .ts files in internal
  packages/internal/package.json
Due: none

chore(types): work around TS2775
  packages/internal/src/ses-utils.ts
Due: none

feat: compat with .ts imports during dev
  packages/fast-usdc/package.json
  packages/fast-usdc/src/cli/bin.js
  yarn.lock
Due: none

refactor: ses-utils to .ts
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/slogger.js
  packages/internal/src/index.js
  packages/internal/src/ses-utils.ts
  packages/internal/src/types.ts
  packages/internal/test/types.test-d.ts
  packages/internal/test/utils.test.js
Due: SwingSet/kernel

refactor(ertp,zoe): minor types gardening (#11147)
  packages/ERTP/src/amountMath.js
  packages/zoe/src/contractFacet/zcfMint.js
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/contractSupport/atomicTransfer.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/priceAggregator.js
  packages/zoe/src/contracts/valueVow.contract.js
  packages/zoe/src/zoeService/types.ts
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/offerArgsUsageContract.js
  packages/zoe/test/unitTests/blockedOffers.test.js
  packages/zoe/test/unitTests/bounty.js
  packages/zoe/test/unitTests/zcf/zcfSeat.test.js
Due: ERTP

add elys init and update genesis script
  multichain-testing/config.yaml
  multichain-testing/elys-scripts/init_chain.sh
  multichain-testing/elys-scripts/update_genesis.sh
  multichain-testing/scripts/init_chain.sh
  multichain-testing/yarn.lock
Due: none

feat: initial setup for continuing invitations with dummy methods
  packages/boot/test/orchestration/axelar-gmp-makeAccount.test.ts
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/evm-transaction-kit.js
Due: Orchestration

chore: create makeEVMTransactionKit in makeAccount flow
  packages/boot/test/orchestration/axelar-gmp-makeAccount.test.ts
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/evm-transaction-kit.js
  packages/orchestration/src/examples/lca-evm.flows.js
Due: Orchestration

chore: segregate createAndMonitorLCA and prepareEVMTransactionKit
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/lca-evm.flows.js
Due: Orchestration

chore: get local account obj
  packages/boot/test/orchestration/axelar-gmp-makeAccount.test.ts
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/evm-transaction-kit.js
Due: Orchestration

chore: remove not required args for lca flow
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/lca-evm.flows.js
Due: Orchestration

chore: minor contract updates
  packages/boot/test/orchestration/axelar-gmp-makeAccount.test.ts
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/evm-transaction-kit.js
Due: Orchestration

chore: update evm facet and tests
  packages/boot/test/orchestration/axelar-gmp-makeAccount.test.ts
  packages/orchestration/src/examples/evm-transaction-kit.js
Due: Orchestration

build: drop fast-usdc dep
  packages/builders/package.json
Due: none

refactor: scaffold separate fast-usdc packages
  .github/workflows/test-all-packages.yml
  packages/agoric-cli/src/sdk-package-names.js
  packages/fast-usdc-contract/package.json
  packages/fast-usdc-contract/tsconfig.json
  packages/fast-usdc-deploy/package.json
  packages/fast-usdc-deploy/tsconfig.json
Due: none

docs: `chain-hub.js`
  packages/orchestration/src/exos/chain-hub.js
Due: Orchestration

fix(guard): `.getChain()` returns `Chain` remotable
  packages/orchestration/src/exos/orchestrator.js
Due: Orchestration

fix: `icaEnabled` codegen
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
  packages/orchestration/src/chain-capabilities.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
Due: Orchestration

test: include orchestration in test:xs
  packages/boot/package.json
Due: none

test: mv fast-usdc 'boot' to deploy pgk
  packages/boot/package.json
  packages/boot/tsconfig.json
  packages/fast-usdc-deploy/package.json
  packages/fast-usdc-deploy/test/bundles/b1-6f742c9506079a4ad917c50ef15cab85c5d2c8d562c04de72e9a79c2a192ba36e7c88aa365b740a0e1fd1968199289e20ed23ee62dd4a3240da78ebb6763fa34.json
  packages/fast-usdc-deploy/test/bundles/b1-ff51ba7d4abbab92013467813379be4d428b0b7a3f1a6f2ebd06c9b774e0e4e6acfbd6aea9e508d53419c50e13495b314a1b1fb94392ce42ea8feb18de9b3fa7.json
  packages/fast-usdc-deploy/test/bundles/dl.sh
  packages/fast-usdc-deploy/test/bundles/start-fast-usdc-permit.json
  packages/fast-usdc-deploy/test/bundles/start-fast-usdc-plan.json
  packages/fast-usdc-deploy/test/bundles/start-fast-usdc.js
  packages/fast-usdc-deploy/test/fast-usdc.test.ts
  packages/fast-usdc-deploy/test/snapshots/fast-usdc.test.ts.md
  packages/fast-usdc-deploy/test/snapshots/fast-usdc.test.ts.snap
  packages/fast-usdc-deploy/test/walletFactory.ts
  packages/fast-usdc-deploy/tsconfig.json
Due: none

chore: allow parial ChainInfo for `OrchestrationAccount<CI>`
  packages/orchestration/src/orchestration-api.ts
Due: Orchestration

feat!: ChainInfo requires CAIP-2 namespace and reference
  packages/orchestration/src/chain-info.js
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/types.ts
Due: Orchestration

chore(orchestration): `yarn codegen`
  packages/boot/test/bootstrapTests/snapshots/orchestration.test.ts.md
  packages/boot/test/bootstrapTests/snapshots/orchestration.test.ts.snap
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
  packages/orchestration/src/fetched-chain-info.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
  packages/orchestration/test/snapshots/chain-info.test.js.md
  packages/orchestration/test/snapshots/chain-info.test.js.snap
Due: Orchestration

feat: include `namespace` and `reference` in `coverChainInfo`
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/utils/registry.js
Due: Orchestration

test: skip `staking-combinations.test.ts` until #11026
  packages/orchestration/test/examples/staking-combinations.test.ts
Due: Orchestration

chore: `ChainInfo` tests include `namespace` and `reference`
  packages/orchestration/test/examples/send-anywhere.test.ts
  packages/orchestration/test/exos/chain-hub.test.ts
  packages/orchestration/test/facade-durability.test.ts
Due: Orchestration

feat: cctp-chain-info.js
  packages/orchestration/src/cctp-chain-info.js
Due: Orchestration

feat: `remote-chain-facade.js` handles non-cosmos chains
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/remote-chain-facade.js
Due: Orchestration

feat(chainHub)!: register and retrieve non-cosmos chains
  packages/builders/test/snapshots/orchestration-imports.test.js.md
  packages/builders/test/snapshots/orchestration-imports.test.js.snap
  packages/orchestration/src/examples/swap.contract.js
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/typeGuards.js
  packages/orchestration/test/exos/chain-hub.test.ts
  packages/orchestration/test/snapshots/exports.test.ts.md
  packages/orchestration/test/snapshots/exports.test.ts.snap
Due: Orchestration

chore: allow partial ChainInfo for `OrchestrationAccount<CI>` and `Chain<CI>`
  packages/orchestration/src/orchestration-api.ts
Due: Orchestration

fix: `icaEnabled` codegen
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.snap
  packages/orchestration/src/chain-capabilities.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
Due: Orchestration

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
