Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

test(a3p): create a3p test for replace electorate core eval
  a3p-integration/proposals/b:replace-electorate/.yarnrc.yml
  a3p-integration/proposals/b:replace-electorate/README.md
  a3p-integration/proposals/b:replace-electorate/agoric-tools.js
  a3p-integration/proposals/b:replace-electorate/package.json
  a3p-integration/proposals/b:replace-electorate/replaceElectorate.test.js
  a3p-integration/proposals/b:replace-electorate/test.sh
  a3p-integration/proposals/b:replace-electorate/tsconfig.json
  a3p-integration/proposals/b:replace-electorate/utils.js
  a3p-integration/proposals/b:replace-electorate/yarn.lock
  a3p-integration/scripts/build-submission.sh
Due: none

fixup! test(a3p): create a3p test for replace electorate core eval
  a3p-integration/proposals/b:replace-electorate/agoric-tools.js
  a3p-integration/proposals/b:replace-electorate/package.json
  a3p-integration/proposals/b:replace-electorate/replaceElectorate.test.js
  a3p-integration/proposals/b:replace-electorate/utils.js
  a3p-integration/proposals/b:replace-electorate/yarn.lock
Due: none

fixup! test(a3p): create a3p test for replace electorate core eval
  a3p-integration/scripts/build-submission.sh
Due: none

fix: remove unesesary error checks and returns
  golang/cosmos/x/vbank/vbank.go
Due: none

add a proper PromiseRecord type
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/types-internal.js
Due: SwingSet/kernel

change kernelKeeper.enumeratePromisesByDecider() API to be more efficient
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
Due: SwingSet/kernel

controller: expose kpRegisterInterest()
  packages/SwingSet/src/controller/controller.js
Due: none

faster scanner, only needed 11,882 queries and 0.37s
  packages/SwingSet/misc-tools/scan-9039-promises.js
Due: none

initial scanning tool, doing it the slow way
  packages/SwingSet/misc-tools/scan-9039-promises.js
Due: none

fix(swingset): change processUpgradeVat to delete clist entries
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/test/upgrade/bootstrap-scripted-upgrade.js
  packages/SwingSet/test/upgrade/upgrade.test.js
  packages/SwingSet/test/upgrade/vat-ulrik-1.js
  packages/SwingSet/test/upgrade/vat-ulrik-2.js
Due: SwingSet/kernel

chore: move platfrom-dependent builds to build:submissions
  a3p-integration/package.json
Due: none

test(quickSend): reify lifecycle participants, incl. settlement
  packages/orchestration/test/examples/quickSend-tx.test.ts
Due: Orchestration

test: separate setup
  packages/orchestration/test/examples/quickSend-tx.test.ts
Due: Orchestration

feat(vtransfer): implement `+`-separated virtual targets
  golang/cosmos/x/vtransfer/ibc_middleware_test.go
  golang/cosmos/x/vtransfer/keeper/keeper.go
Due: none

chore: drop "UNRELEASED_" from parameters
  a3p-integration/package.json
Due: none

test: sync arrow labels with sequence diagram
  packages/orchestration/test/examples/quickSend-tx.test.ts
Due: Orchestration

feat: updated makefile for personal convenience
  multichain-testing/Makefile
Due: none

test: move makeEthChain to match sequence diagram order
  packages/orchestration/test/examples/quickSend-tx.test.ts
Due: Orchestration

refactor: move contract logic to .contract.js file
  packages/orchestration/src/examples/quickSend.contract.js
  packages/orchestration/test/examples/quickSend-tx.test.ts
  packages/orchestration/tools/agoric-mock.js
  packages/orchestration/tools/cosmoverse-mock.js
  packages/orchestration/tools/eth-mock.ts
  packages/orchestration/tools/noble-mock.js
Due: Orchestration

chore(quickSend): skip bootstrap test (WIP)
  packages/boot/test/bootstrapTests/quickSend.test.ts
Due: none

chore: move the artifacts for main and devnet to subdirs
  a3p-integration/package.json
Due: none

docs: rewrite based on review
  packages/deploy-script-support/README.md
Due: none

docs: add better detail about how the script handles installations
  packages/deploy-script-support/README.md
Due: none

docs: add details on install handling when building proposals
  packages/deploy-script-support/README.md
Due: none

build proposals for PriceFeed coreEvals on multiple platforms. (#10146)
  a3p-integration/.gitignore
  a3p-integration/package.json
  packages/builders/scripts/inter-protocol/updatePriceFeeds.js
Due: none

docs: add details on install handling when building proposals (#10177)
  packages/deploy-script-support/README.md
Due: none

refactor: two proposals installed contractGovernor bundle; stop it
  packages/builders/scripts/vats/upgradeVaults.js
  packages/inter-protocol/src/proposals/add-auction.js
  packages/inter-protocol/src/proposals/upgrade-vaults.js
Due: none

fixup! test(a3p): create a3p test for replace electorate core eval
  a3p-integration/proposals/b:replace-electorate/replaceElectorate.test.js
Due: none

fixup! test(a3p): create a3p test for replace electorate core eval
  a3p-integration/proposals/b:replace-electorate/agoric-tools.js
  a3p-integration/proposals/b:replace-electorate/replaceElectorate.test.js
Due: none

chore: update devnet config for EC members
  packages/builders/scripts/inter-protocol/replace-electorate-core.js
Due: none

chore(swingset-vat): Update xsnap store test snapshots
  packages/SwingSet/test/snapshots/xsnap-store.test.js.md
  packages/SwingSet/test/snapshots/xsnap-store.test.js.snap
Due: none

chore: Update yarn.lock
  yarn.lock
Due: none

chore: Bump xsnap meter type
  packages/xsnap/api.js
Due: none

feat: updated builder file
  packages/builders/scripts/testing/start-tribbles-airdrop.js
Due: none

chore(a3p): add helper functions for KREAd tests
  a3p-integration/proposals/z:acceptance/test-lib/kread.js
Due: none

chore(a3p): add @agoric/store to dependencies to use makeCopyBag method
  a3p-integration/proposals/z:acceptance/package.json
  a3p-integration/proposals/z:acceptance/yarn.lock
Due: none

chore(a3p): replace old test scripts due to duplicated coverage
  a3p-integration/proposals/z:acceptance/create-kread-item-test.sh
  a3p-integration/proposals/z:acceptance/generate-kread-item-request.mjs
  a3p-integration/proposals/z:acceptance/test.sh
Due: none

test(a3p): add test cases for the KREAd app
  a3p-integration/proposals/z:acceptance/kread.test.js
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
