Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

fixup! test(cosmic-swingset): Include the last three lines of stderr when a make test fails
  packages/cosmic-swingset/test/scenario2.js
Due: none

test(cosmic-swingset): Include the last three lines of stderr when a `make` test fails (#10438)
  packages/cosmic-swingset/test/scenario2.js
Due: none

chore(x/swingset): Add comments to chargeAdmission
  golang/cosmos/x/swingset/types/msgs.go
Due: none

docs: deprecate IO at module init time
  packages/fast-usdc/src/cli/cli.js
Due: none

fix(casting): captureIO was missing resp.ok
  packages/casting/test/net-access-fixture.js
Due: none

refactor: clarify that access to package.json is a link-time thing
  packages/fast-usdc/src/cli/cli.js
Due: none

test: static type for deposit proposal
  packages/fast-usdc/test/fast-usdc.contract.test.ts
Due: none

chore(deps): casting for web recording testing tool
  packages/fast-usdc/package.json
Due: none

chore: notes on injecting IO in cli/transfer.js (WIP)
  packages/fast-usdc/src/cli/transfer.js
Due: none

chore: vstorage queryOnce etc. w/injected fetch (WIP)
  packages/fast-usdc/src/cli/chain-watcher.js
  packages/fast-usdc/src/cli/cosmos-api.js
  packages/fast-usdc/src/cli/marshal-tables.js
  packages/fast-usdc/src/cli/vstorage-client.js
Due: none

chore: encodeDetail testing utility
  packages/fast-usdc/testing/rpc-api-tools.js
Due: none

feat(cli): deposit (WIP)
  packages/fast-usdc/src/cli/cli.js
  packages/fast-usdc/src/cli/wallet-message.js
  packages/fast-usdc/test/cli/lp.test.ts
Due: none

chore: move PR template whitespace to the top
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(x/swingset): Add comments to chargeAdmission (#10440)
  golang/cosmos/x/swingset/types/msgs.go
Due: none

fix(ERTP,vats): fix 9407 AmountPatternShape
  packages/vats/src/virtual-purse.js
  packages/vats/test/vpurse.test.js
Due: none

feat(vats): ERTP face on orch assets
  packages/ERTP/src/amountStore.js
  packages/vats/package.json
  packages/vats/src/orch-purse/issuerKit.js
  packages/vats/src/orch-purse/mock-orch-chain.js
  packages/vats/src/orch-purse/paymentLedger.js
  packages/vats/src/orch-purse/purse.js
  packages/vats/src/orch-purse/typeGuards.js
  packages/vats/src/orch-purse/types.ts
Due: ERTP

fixup! types
  packages/vats/src/orch-purse/types.ts
Due: none

addressed Mathieu comments
  golang/cosmos/app/app.go
  golang/cosmos/daemon/cmd/root.go
  golang/cosmos/x/swingset/genesis.go
  golang/cosmos/x/swingset/keeper/swing_store_exports_handler.go
Due: none

chore(.github): Add "Release Verification" to the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(cosmos-orch-account): expose `.executeEncodedTx`
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
Due: Orchestration

types: update `OrchestrationAccount` type
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/exos/README.md
  packages/orchestration/src/exos/orchestrator.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/test/types.test-d.ts
Due: Orchestration

fix: use `asVow` in case `owned()` throws
  packages/orchestration/src/exos/cosmos-orchestration-account.js
Due: Orchestration

chore: remove `CosmosOrchAccount.executeTx()`
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/exos/README.md
  packages/orchestration/src/exos/ica-account-kit.js
  packages/orchestration/test/staking-ops.test.ts
Due: Orchestration

chore(a3p-integration): Clean up tryISTBalances
  a3p-integration/proposals/z:acceptance/test-lib/psm-lib.js
Due: none

fix(client-utils): Retry at least every other interval
  packages/client-utils/src/sync-tools.js
Due: none

fixup! fix(client-utils): Retry at least every other interval
  packages/client-utils/src/sync-tools.js
Due: none

fixup! chore(a3p-integration): Clean up tryISTBalances
  a3p-integration/proposals/z:acceptance/test-lib/psm-lib.js
Due: none

chore(.github): Incorporate the new prompts into Upgrade Considerations
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: readPublished in SwingsetTestKit
  packages/boot/package.json
  packages/boot/tools/supports.ts
Due: none

refactor: use readPublished in boot
  packages/boot/test/bootstrapTests/ec-membership-update.test.ts
  packages/boot/test/bootstrapTests/liquidation-1.test.ts
  packages/boot/test/bootstrapTests/liquidation-2b.test.ts
  packages/boot/test/bootstrapTests/liquidation-concurrent-1.test.ts
  packages/boot/test/bootstrapTests/liquidation-concurrent-2b.test.ts
  packages/boot/test/bootstrapTests/orchestration.test.ts
  packages/boot/test/bootstrapTests/price-feed-replace.test.ts
  packages/boot/test/bootstrapTests/vaults-upgrade.test.ts
  packages/boot/tools/drivers.ts
  packages/boot/tools/liquidation.ts
Due: none

refactor: WalletUtils wraps VstorageKit
  packages/client-utils/src/wallet-utils.js
Due: none

build: defer building types
  packages/client-utils/package.json
  packages/client-utils/tsconfig.build.json
Due: none

feat(types): TypedPublished
  packages/client-utils/src/main.js
  packages/client-utils/src/types.d.ts
  packages/client-utils/src/types.js
Due: none

feat: VstorageKit readPublished
  packages/client-utils/src/vstorage-kit.js
Due: none

chore(types): update type coverage
  packages/SwingSet/package.json
  packages/boot/package.json
  packages/cosmic-swingset/package.json
  packages/internal/package.json
  packages/vats/package.json
Due: none

refactor: use readPublished
  packages/agoric-cli/src/commands/auction.js
  packages/agoric-cli/src/commands/gov.js
  packages/agoric-cli/src/commands/inter.js
  packages/agoric-cli/src/commands/oracle.js
  packages/agoric-cli/src/commands/vaults.js
  packages/agoric-cli/src/commands/wallet.js
  packages/agoric-cli/src/lib/wallet.js
Due: none

chore(types): update type coverage
  packages/agoric-cli/package.json
Due: none

fix: yarn codegen script
  packages/orchestration/scripts/fetch-chain-info.ts
Due: Orchestration

chore: yarn codegen
  packages/boot/test/bootstrapTests/snapshots/orchestration.test.ts.md
  packages/boot/test/bootstrapTests/snapshots/orchestration.test.ts.snap
  packages/orchestration/src/fetched-chain-info.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
  packages/orchestration/test/snapshots/chain-info.test.js.md
  packages/orchestration/test/snapshots/chain-info.test.js.snap
Due: Orchestration

feat: CosmosChainInfo includes `pfmEnabled?: boolean`
  packages/orchestration/src/cosmos-api.ts
Due: Orchestration

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
