Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

add upgrade test in elys contract github workflow
  .github/workflows/contract-test.yml
  packages/boot/test/orchestration/contract-upgrade.test.ts
Due: none

chore(swing-store): Fix documentation typos
  packages/swing-store/src/assertComplete.js
  packages/swing-store/src/kvStore.js
  packages/swing-store/src/snapStore.js
Due: swing-store

chore(swing-store): Add type SwingStoreOptions
  packages/swing-store/src/snapStore.js
  packages/swing-store/src/swingStore.js
  packages/swing-store/src/transcriptStore.js
Due: swing-store

chore(swing-store): Narrow AnyIterableIterator to AnyIterable
  packages/swing-store/src/exporter.js
  packages/swing-store/src/snapStore.js
  packages/swing-store/src/transcriptStore.js
Due: swing-store

feat(internal): Add `pick` utility
  packages/internal/src/index.js
  packages/internal/src/ses-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
Due: none

refactor(swing-store): Use new `pick` utility
  packages/swing-store/src/swingStore.js
Due: swing-store

feat(cosmic-swingset): Add `getNextKey` support to BufferedStorage
  packages/cosmic-swingset/src/helpers/bufferedStorage.js
Due: none

refactor(swing-store): Extract all makeSwingStore options up front
  packages/swing-store/src/swingStore.js
Due: swing-store

feat(swing-store): Add options for opening swing-stores
  packages/swing-store/src/assertComplete.js
  packages/swing-store/src/swingStore.js
Due: swing-store

feat(cosmic-swingset): Expose a controller and associated helpers from test-kit.js
  packages/SwingSet/tools/run-utils.js
  packages/boot/test/upgrading/upgrade-vats.test.ts
  packages/boot/tools/supports.ts
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/cosmic-swingset/tools/test-kit.js
Due: none

chore: Add lint coverage for tools/
  eslint.config.mjs
  packages/cosmic-swingset/tsconfig.json
Due: none

feat(cosmic-swingset): Introduce inquisitor.mjs
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/tools/inquisitor.mjs
  packages/swing-store/src/bundleStore.js
  packages/swing-store/src/index.js
  packages/swing-store/src/internal.js
  packages/swing-store/src/swingStore.js
Due: swing-store

feat(internal): Generalize single-level `pick` utility to recursive `attenuate`
  packages/cosmic-swingset/src/launch-chain.js
  packages/internal/src/ses-utils.js
  packages/internal/src/types.ts
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
  packages/internal/test/types.test-d.ts
  packages/swing-store/src/swingStore.js
Due: swing-store

chore(vats): Fix typo in JSDoc (#11039)
  packages/vats/src/core/utils.js
Due: none

chore(fast-usdc): update, test chain policies vs. spreadsheet
  packages/fast-usdc/src/utils/chain-policies.js
  packages/fast-usdc/test/utils/chain-policies.test.ts
Due: none

chore: do not cache `ChainFacade` object
  packages/orchestration/src/exos/orchestrator.js
Due: Orchestration

test: `makeNobleAccount` flow gets new `connectionInfo`
  packages/boot/test/fast-usdc/fast-usdc.test.ts
Due: none

fix(vm-config): incorporate devnet config from `agoricdev-25`
  packages/vm-config/decentral-devnet-config.json
Due: none

chore: fix `MsgTransfer` timeout test fidelity
  packages/orchestration/src/exos/local-orchestration-account.js
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/staking-combinations.test.ts
  packages/orchestration/test/supports.ts
  packages/vats/src/types.ts
  packages/vats/tools/fake-bridge.js
Due: Orchestration

WIP(agd-lib): toward 1 tx/block
  multichain-testing/tools/agd-lib.js
Due: none

refactor: simplify evidence conflict check
  packages/fast-usdc/src/exos/transaction-feed.js
Due: none

chore(types): provide ZCF
  packages/orchestration/src/types.ts
Due: Orchestration

test(boot): fix 'oracles provision...' to do all, not just 1
  packages/boot/test/fast-usdc/fast-usdc.test.ts
Due: none

docs(fast-usdc): fix type of publicFacet in FastUSDCKit
  packages/fast-usdc/src/start-fast-usdc.core.js
Due: none

fix(orchestration): chainByName cache should not be durable
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
  packages/orchestration/src/exos/orchestrator.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/stake-ica.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/stake-ica.contract.test.ts.snap
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
Due: Orchestration

feat(fast-usdc): `ChainHub` update interfaces
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/test/exos/chain-hub.test.ts
Due: Orchestration

feat(fast-usdc): core eval to update chainInfo, noble ICA
  packages/fast-usdc/src/update-noble-ica.core.js
Due: none

test(boot): upgrade Fast USDC; update noble ICA
  packages/boot/test/fast-usdc/fast-usdc.test.ts
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.md
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.snap
Due: none

test(boot): oracles accept before upgrade
  packages/boot/test/fast-usdc/fast-usdc.test.ts
Due: none

chore(boot): cache fast-usdc-beta-1 release artifacts
  packages/boot/test/fast-usdc/bundles/b1-6f742c9506079a4ad917c50ef15cab85c5d2c8d562c04de72e9a79c2a192ba36e7c88aa365b740a0e1fd1968199289e20ed23ee62dd4a3240da78ebb6763fa34.json
  packages/boot/test/fast-usdc/bundles/b1-ff51ba7d4abbab92013467813379be4d428b0b7a3f1a6f2ebd06c9b774e0e4e6acfbd6aea9e508d53419c50e13495b314a1b1fb94392ce42ea8feb18de9b3fa7.json
  packages/boot/test/fast-usdc/bundles/dl.sh
  packages/boot/test/fast-usdc/bundles/start-fast-usdc-permit.json
  packages/boot/test/fast-usdc/bundles/start-fast-usdc-plan.json
  packages/boot/test/fast-usdc/bundles/start-fast-usdc.js
  packages/boot/tsconfig.json
Due: none

fix(fast-usdc): prepare to repair Noble Account
  packages/fast-usdc/src/fast-usdc.contract.js
  packages/fast-usdc/src/start-fast-usdc.core.js
  packages/fast-usdc/test/fast-usdc.contract.test.ts
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
Due: none

test(boot): start fastUsdc using fast-usdc-beta-1 release
  packages/boot/test/fast-usdc/fast-usdc.test.ts
  packages/boot/tools/supports.ts
Due: none

feat(builders): to reconfigure Fast USDC
  packages/builders/scripts/fast-usdc/fast-usdc-reconfigure.build.js
Due: none

feat(vats): decouple walletFactory from inter-protocol
  packages/vats/src/core/startWalletFactory.js
Due: none

fix(vats): avoid needless mutation on `producer.reset()`
  packages/vats/src/core/promise-space.js
  packages/vats/src/core/utils.js
  packages/vats/src/nameHub.js
Due: none

test(a3p): gtm-fast-usdc
  a3p-integration/proposals/g:gtm-fast-usdc/.yarnrc.yml
  a3p-integration/proposals/g:gtm-fast-usdc/README.md
  a3p-integration/proposals/g:gtm-fast-usdc/package.json
  a3p-integration/proposals/g:gtm-fast-usdc/test.sh
  a3p-integration/proposals/g:gtm-fast-usdc/test/deploy.test.js
  a3p-integration/proposals/g:gtm-fast-usdc/test/test-cli.sh
  a3p-integration/proposals/g:gtm-fast-usdc/yarn.lock
Due: none

chore(multichain): let startContract caller skip instance check
  multichain-testing/test/support.ts
Due: none

chore(orchestration): trace addresses when creating ICAs
  packages/orchestration/src/exos/cosmos-orchestration-account.js
Due: Orchestration
