Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

Fix: don't include dust accounts in graph solving
  packages/portfolio-api/src/constants.js
  packages/portfolio-contract/solver-approach-design.md
  packages/portfolio-contract/test/network/buildGraph.test.ts
  services/ymax-planner/src/engine.ts
  services/ymax-planner/src/plan-deposit.ts
  services/ymax-planner/test/deposit-tools.test.ts
Due: none

Update API test
  packages/portfolio-api/test/snapshots/exports.test.ts.md
  packages/portfolio-api/test/snapshots/exports.test.ts.snap
Due: none

test(SwingSet): Build bootstrap-relay on top of makeReflectionMethods
  packages/SwingSet/tools/bootstrap-relay.js
Due: none

fix(SwingSet): Tolerate absence of a kpid from maybeFreeKrefs
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/gc-actions.test.js
  packages/SwingSet/test/upgrade/upgrade.test.js
Due: SwingSet/kernel

chore(SwingSet): Don't emit "lost krefs" log messages for GC messages
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

chore(SwingSet): Update "lost krefs" log messages to indicate when the crank includes a snapshot
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vat-warehouse.js
Due: SwingSet/kernel

test(SwingSet): Extend vat-puppet reflection methods
  packages/SwingSet/tools/vat-puppet.js
Due: none

test(SwingSet): Align bootstrap-relay with bootstrap-chain-reflective.js in anticipation of sharing code
  packages/SwingSet/tools/bootstrap-relay.js
Due: none

chore(SwingSet): Improve "lost krefs" log messages
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

test(SwingSet): Align vat-puppet with bootstrap-relay in anticipation of sharing code
  packages/SwingSet/tools/vat-puppet.js
Due: none

refactor(SwingSet): bringOutYourDead is a GC message
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

test(SwingSet): Simplify upgrade.test.js helpers
  packages/SwingSet/test/upgrade/upgrade.test.js
Due: none

test(SwingSet): Extend vat-puppet to support init-time root object method calls
  packages/SwingSet/tools/vat-puppet.js
Due: none

test(SwingSet): Add coverage for failed upgrade exporting a promise
  packages/SwingSet/test/upgrade/upgrade.test.js
Due: none

test(SwingSet): Update vat-puppet to support initialCalls results as arguments for subsequent calls
  packages/SwingSet/tools/vat-puppet.js
Due: none

test(SwingSet): Extend vat-puppet to support watchPromise
  packages/SwingSet/tools/vat-puppet.js
Due: none

refactor(SwingSet): Simplify crankNum references in processDeliveryMessage
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

test(SwingSet): Simplify and increase coverage for the "lost promise export" test
  packages/SwingSet/test/upgrade/upgrade.test.js
Due: none

refactor(SwingSet): Replace redefinition typedefs with simple imports
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

chore(SwingSet): Account for all RunQueueEvent types in legibilizeMessage
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

refactor(SwingSet): Make better use of RunQueueEvent typing
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

chore(orchestration): more refinement of `ResultMeta`
  packages/orchestration/package.json
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/utils/result-meta.js
Due: Orchestration

test(orchestration): new `ResultMeta` helpers
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
  packages/orchestration/test/exos/snapshots/cosmos-orchestration-account.test.ts.md
  packages/orchestration/test/exos/snapshots/cosmos-orchestration-account.test.ts.snap
Due: Orchestration

chore(portfolio-api): rename some resolver types
  packages/portfolio-api/src/resolver.js
  packages/portfolio-api/src/types.ts
Due: none

chore(portfolio-contract): adopt flow serial "phases" of `pendingTxs`
  packages/portfolio-contract/src/portfolio.exo.ts
  packages/portfolio-contract/src/portfolio.flows.ts
  packages/portfolio-contract/src/resolver/resolver.exo.ts
  packages/portfolio-contract/src/type-guards.ts
Due: none

test(portfolio-contract): update for phases
  packages/portfolio-contract/test/portfolio.flows.test.ts
  packages/portfolio-contract/test/snapshots/portfolio.contract.test.ts.snap
  packages/portfolio-contract/test/snapshots/portfolio.flows.test.ts.md
  packages/portfolio-contract/test/snapshots/portfolio.flows.test.ts.snap
  packages/portfolio-contract/test/ymax-scenario.test.ts
Due: none

test(portfolio-contract): FIXME mark scenarios with test.failing
  packages/portfolio-contract/test/ymax-scenario.test.ts
Due: none

chore: regenerate golden snapshots
  packages/portfolio-contract/test/snapshots/portfolio.contract.test.ts.md
  packages/portfolio-contract/test/snapshots/portfolio.contract.test.ts.snap
  packages/portfolio-contract/test/snapshots/portfolio.flows.test.ts.md
  packages/portfolio-contract/test/snapshots/portfolio.flows.test.ts.snap
  packages/portfolio-deploy/test/snapshots/portfolio-start.core.test.ts.md
  packages/portfolio-deploy/test/snapshots/portfolio-start.core.test.ts.snap
Due: none

chore: rerun `scripts/update-package-locks.sh`
  multichain-testing/yarn.lock
  yarn.lock
Due: none

chore: update planner to not timeout pending txs
  services/ymax-planner/src/watchers/cctp-watcher.ts
  services/ymax-planner/src/watchers/gmp-watcher.ts
Due: none

test: update test for timeout
  services/ymax-planner/test/cctp-watcher.test.ts
  services/ymax-planner/test/gmp-watcher.test.ts
Due: none

fix: executePlan should always exit seat
  packages/portfolio-contract/src/portfolio.flows.ts
Due: none

feat(smart-wallet): do not publish invitation details handles
  packages/smart-wallet/src/smartWallet.js
Due: none

feat: portfolio handlers return immediately
  packages/portfolio-contract/src/portfolio.exo.ts
Due: none

test: annotate log structure
  packages/portfolio-contract/test/portfolio.flows.test.ts
Due: none

feat: validate deposit offerArgs
  packages/portfolio-contract/src/portfolio.exo.ts
  packages/portfolio-contract/src/type-guards-steps.ts
Due: none

feat: optional startedFlow in executePlan
  packages/portfolio-contract/src/portfolio.exo.ts
  packages/portfolio-contract/src/portfolio.flows.ts
Due: none

feat: open portfolio handler returns immediately
  packages/portfolio-contract/src/portfolio.contract.ts
  packages/portfolio-contract/src/portfolio.flows.ts
Due: none

feat: optional startedFlow in rebalance()
  packages/portfolio-contract/src/portfolio.exo.ts
  packages/portfolio-contract/src/portfolio.flows.ts
Due: none

feat: rebalance handler return immediately
  packages/portfolio-contract/src/portfolio.exo.ts
  packages/portfolio-contract/src/portfolio.flows.ts
  packages/portfolio-contract/test/portfolio.contract.test.ts
  packages/portfolio-contract/test/portfolio.flows.test.ts
  packages/portfolio-contract/test/snapshots/portfolio.contract.test.ts.md
  packages/portfolio-contract/test/snapshots/portfolio.contract.test.ts.snap
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
