Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

add ibc mocks for stride msg and ack
  packages/orchestration/test/ibc-mocks.ts
  packages/vats/tools/fake-bridge.js
Due: Orchestration

update elys contract tap kit
  packages/orchestration/src/examples/elys-contract-tap-kit.js
  packages/orchestration/src/examples/elys-contract.flow.js
Due: Orchestration

Update commsVatDriver.js
  packages/SwingSet/test/commsVatDriver.js
Due: none

Update controller.test.js
  packages/SwingSet/test/controller.test.js
Due: none

Update gc-actions.test.js
  packages/SwingSet/test/gc-actions.test.js
Due: none

refactor(cosmic-swingset): Make a helper function for capturing cosmos ports
  packages/cosmic-swingset/src/chain-main.js
Due: none

refactor(cosmic-swingset): End launchAndInitializeSwingSet at the call to launch
  packages/cosmic-swingset/src/chain-main.js
Due: none

refactor(cosmic-swingset): Rename launchAndInitializeSwingSet to launchChain
  packages/cosmic-swingset/src/chain-main.js
Due: none

chore(cosmic-swingset): Improve some typing
  packages/cosmic-swingset/src/chain-main.js
Due: none

refactor(cosmic-swingset): Extract launchChain into a testable unit
  packages/cosmic-swingset/src/chain-main.js
Due: none

refactor(cosmic-swingset): Move some variable declarations for better future diff output
  packages/cosmic-swingset/src/chain-main.js
Due: none

test: Add new ava snapshots
  packages/cosmic-swingset/test/snapshots/prometheus.test.js.md
  packages/cosmic-swingset/test/snapshots/prometheus.test.js.snap
Due: none

refactor(cosmic-swingset): Prevent SES_ALREADY_LOCKED_DOWN errors
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/src/export-kernel-db.js
  packages/cosmic-swingset/src/helpers/maybe-lockdown.js
  packages/cosmic-swingset/src/import-kernel-db.js
Due: none

test(cosmic-swingset): Add test coverage for Prometheus output
  packages/cosmic-swingset/test/prometheus.test.js
Due: none

test(cosmic-swingset): Delay use of makeInitMsg to keep Port mappings in defaultInitMessage
  packages/cosmic-swingset/tools/test-kit.js
Due: none

test(cosmic-swingset): Reimplement makeCosmicSwingsetTestKit on top of makeLaunchChain
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/tools/test-kit.js
Due: none

test(cosmic-swingset): Ensure block-related metrics in the Prometheus snapshot
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/test/prometheus.test.js
  packages/cosmic-swingset/test/snapshots/prometheus.test.js.md
  packages/cosmic-swingset/test/snapshots/prometheus.test.js.snap
Due: none

test(cosmic-swingset): Reimplement Prometheus snapshot testing with makeCosmicSwingsetTestKit
  packages/cosmic-swingset/test/prometheus.test.js
Due: none

chore(cosmic-swingset): Rename maybe-lockdown.js to maybe-unsafe-lockdown.js
  packages/cosmic-swingset/src/export-kernel-db.js
  packages/cosmic-swingset/src/helpers/maybe-unsafe-lockdown.js
  packages/cosmic-swingset/src/import-kernel-db.js
Due: none

test(cosmic-swingset): Minor cleanup
  packages/cosmic-swingset/test/run-policy.test.js
Due: none

wip: advance fail test
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
  multichain-testing/test/support.ts
Due: none

wip: advance fail test with connection info
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
  multichain-testing/test/support.ts
  multichain-testing/tools/query.ts
Due: none

add mockIbc response for msgLiquidstake and update tests
  packages/orchestration/test/examples/elys-contract.test.ts
  packages/orchestration/test/ibc-mocks.ts
Due: Orchestration

fix elys contract bugs
  packages/orchestration/src/examples/elys-contract-tap-kit.js
Due: Orchestration

testing
  packages/orchestration/package.json
  packages/orchestration/test/encode.test.js
  packages/orchestration/test/incontract.js
  yarn.lock
Due: Orchestration

feat: changes in send-anywhere.flow.js for agoric to evm invocations
  packages/orchestration/src/examples/send-anywhere.flows.js
Due: Orchestration

chore: create a seperate flows file for agoric to evm transactions
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-axelar.flows.js
Due: Orchestration

init
  packages/benchmark-test/benchmark.js
  packages/benchmark-test/benchmark.test.js
  packages/benchmark-test/package.json
  packages/benchmark-test/rollup.config.js
Due: none

extra space
  packages/benchmark-test/benchmark.js
  packages/benchmark-test/benchmark.test.js
  packages/benchmark-test/package.json
  packages/benchmark-test/rollup.config.js
Due: none

remove async slog sender + revert other changes
  packages/internal/src/node/fs-stream.js
  packages/telemetry/src/block-slog.js
  packages/telemetry/src/context-aware-slog-file.js
  packages/telemetry/src/context-aware-slog-persistent-util.js
  packages/telemetry/src/context-aware-slog.js
  packages/telemetry/src/otel-context-aware-slog.js
Due: none

oops
  packages/telemetry/src/context-aware-slog.js
Due: none

chore: fix some function names in comment
  golang/cosmos/x/swingset/keeper/keeper.go
  golang/cosmos/x/vtransfer/keeper/keeper.go
Due: none

test: retry provisionSmartWallet a lot
  multichain-testing/tools/e2e-tools.js
Due: none

feat: log txHash when conflicting evidence
  packages/fast-usdc/src/exos/transaction-feed.js
Due: none

test: explain liquidity-pool exo test empty
  packages/fast-usdc/test/exos/liquidity-pool.test.ts
Due: none

feat(SwingSet): Report vat sntapshot size delta on save
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-xsnap.js
Due: SwingSet/kernel

fixup(SwingSet): use correct stream in saveSnapshot()
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-xsnap.js
Due: SwingSet/kernel

fixup(SwingSet): fix saveSnapshot() arguments move uncompressedSizeLoaded into saveSnapshot().
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-xsnap.js
Due: SwingSet/kernel

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
