Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

chore!: drop support for verified queries
  packages/agoric-cli/src/main.js
  packages/casting/src/follower-cosmjs.js
Due: none

resolved merge conflict
  golang/cosmos/go.mod
  golang/cosmos/go.sum
Due: none

chore: correct parameters in call to prepareMakeTestCOAKit()
  packages/orchestration/test/exos/portfolio-holder-kit.test.ts
Due: Orchestration

chore: type ignore.
  packages/orchestration/src/proposals/start-stakeAtom.js
  packages/orchestration/src/proposals/start-stakeOsmo.js
Due: Orchestration

test: update orcestration example snapshots
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
Due: Orchestration

feat: encode cctp destination address
  packages/orchestration/package.json
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/utils/address.js
Due: Orchestration

test: reset snapshots for builders/test/snapshots/orchestration
  packages/builders/test/snapshots/orchestration-imports.test.js.md
  packages/builders/test/snapshots/orchestration-imports.test.js.snap
Due: none

test: transmitTransferAck more defensive re: recent messages
  packages/orchestration/test/supports.ts
Due: Orchestration

feat: support CCTP in orchestration
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-cctp.flows.js
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/test/examples/send-cctp.test.ts
Due: Orchestration

feat: `CosmosOrchestrationAccount` supports `.depositForBurn`
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/typeGuards.js
  packages/orchestration/test/types.test-d.ts
Due: Orchestration

refactor: support generic non-cosmos chainInfo in chain-hub
  packages/orchestration/src/exos/chain-hub.js
Due: Orchestration

test: update snapshot in fastUSDC
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
Due: none

test: test depositForBurn via Noble
  packages/orchestration/src/exos/README.md
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
  packages/orchestration/test/exos/make-test-coa-kit.ts
  packages/orchestration/test/ibc-mocks.ts
  packages/orchestration/test/network-fakes.ts
Due: Orchestration

test: make restart-contract test robust to changing test order
  packages/boot/test/orchestration/restart-contracts.test.ts
Due: none

chore(SwingSet): Remove URL from kernel compartment endowments
  packages/SwingSet/src/controller/controller.js
Due: none

fix(fast-usdc): disallow all non-positive integer counts in Multiset (#11079)
  packages/fast-usdc/src/utils/store.js
  packages/fast-usdc/test/utils/store.test.js
Due: none

chore: remove redundant words in comment
  .github/dependabot.yml
  packages/SwingSet/docs/garbage-collection.md
  packages/SwingSet/src/supervisors/subprocess-node/supervisor-subprocess-node.js
  packages/boot/test/orchestration/restart-contracts.test.ts
  packages/smart-wallet/src/smartWallet.js
  packages/swing-store/docs/transcriptstore.md
Due: swing-store

refactor: fund-provision-pool script
  multichain-testing/Makefile
  multichain-testing/scripts/fund-provision-pool.ts
Due: none

test: retry fund-provision-pool
  multichain-testing/scripts/fund-provision-pool.ts
Due: none

chore: LLM instruction by Claude
  .github/copilot-instructions.md
Due: none

fix: no more 'block' mode
  multichain-testing/scripts/fund-provision-pool.ts
  multichain-testing/tools/agd-lib.js
  multichain-testing/tools/noble-tools.ts
Due: none

fixup(cosmic-swingset): 'vstorage meterics' test clean-up
  packages/cosmic-swingset/test/make.test.js
Due: none

test(cosmic-swingset): use template to implement 'vstorage metrics' test
  packages/cosmic-swingset/test/make.test.js
Due: none

fixup(cosmic-swingset): Apply suggestions from code review
  packages/cosmic-swingset/test/make.test.js
Due: none

fixup(cosmic-swingset): Update packages/cosmic-swingset/test/make.test.js
  packages/cosmic-swingset/test/make.test.js
Due: none

fixup(cosmic-swingset): refactor 'vstorage metrics' test per review feedback
  packages/cosmic-swingset/test/make.test.js
Due: none

fixup(cosmic-swingset): add JSDoc to functions in 'vstorage metrics' test
  packages/cosmic-swingset/test/make.test.js
Due: none

feat!: remove IBC relayer commands
  packages/agoric-cli/README.md
  packages/agoric-cli/registry.yaml
  packages/agoric-cli/src/main.js
Due: none

refactor: rename orchestration config
  packages/boot/test/fast-usdc/fast-usdc.test.ts
  packages/vm-config/decentral-itest-orchestration-config.json
Due: none

refactor: rename orchestration-chains config
  multichain-testing/config.fusdc.go-relayer.yaml
  multichain-testing/config.fusdc.yaml
  multichain-testing/config.go-relayer.yaml
  multichain-testing/config.yaml
  packages/boot/test/orchestration/contract-upgrade.test.ts
  packages/boot/test/orchestration/restart-contracts.test.ts
  packages/vm-config/decentral-itest-fast-usdc-config.json
  packages/vm-config/decentral-itest-orchestration-chains-config.json
Due: none

test: ChainPolicyShape independent of actual policies
  packages/fast-usdc/test/type-guards.test.ts
  packages/fast-usdc/test/utils/chain-policies.test.ts
Due: none

chore(types): ESM paths
  packages/fast-usdc/src/cli/config.js
  packages/fast-usdc/src/cli/transfer.js
  packages/fast-usdc/src/distribute-fees.core.js
  packages/fast-usdc/src/exos/settler.js
  packages/fast-usdc/src/exos/status-manager.js
  packages/fast-usdc/src/pool-share-math.js
  packages/fast-usdc/src/start-fast-usdc.core.js
  packages/fast-usdc/src/update-noble-ica.core.js
  packages/fast-usdc/test/fast-usdc.contract.test.ts
  packages/vats/src/core/types-ambient.d.ts
Due: none

chore(types): rm noop types-ambient import
  packages/zoe/exported.d.ts
Due: none

chore: clean up multichain-testing
  multichain-testing/package.json
  multichain-testing/patches/node-fetch+2.7.0.patch
  multichain-testing/patches/protobufjs+6.11.4.patch
Due: none

lint: eslint to green
  dapps/fast-usdc/api/test/clientSupport.test.js
  dapps/fast-usdc/api/test/operator-commands.test.ts
  dapps/fast-usdc/api/test/transfer.test.ts
  dapps/fast-usdc/contract/package.json
  dapps/fast-usdc/contract/test/exos/advancer.test.ts
  dapps/fast-usdc/contract/test/exos/settler.test.ts
  dapps/fast-usdc/contract/test/exos/status-manager.test.ts
  dapps/fast-usdc/contract/test/exos/transaction-feed.test.ts
  dapps/fast-usdc/contract/test/supports.ts
  dapps/fast-usdc/contract/test/type-guards.test.ts
  dapps/fast-usdc/contract/test/utils/fees.test.ts
  dapps/fast-usdc/tsconfig.json
  dapps/fast-usdc/vm-integration/package.json
  dapps/fast-usdc/vm-integration/scripts/fast-usdc-fees.build.js
  dapps/fast-usdc/vm-integration/scripts/fast-usdc-reconfigure.build.js
  dapps/fast-usdc/vm-integration/test/fast-usdc.test.ts
  dapps/fast-usdc/vm-integration/test/walletFactory.ts
  dapps/fast-usdc/yarn.lock
Due: none

chore(deps): source monorepo
  dapps/fast-usdc/package.json
  dapps/fast-usdc/yarn.lock
Due: none

chore(deps): yarn berry
  dapps/fast-usdc/.gitignore
  dapps/fast-usdc/.yarnrc.yml
  dapps/fast-usdc/package.json
  dapps/fast-usdc/yarn.lock
Due: none
