Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

refactor(swingset): reapAllVats
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

feat(swingset): reapAllVats that have advanced
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

feat(swingset): snapshotAllVats
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vat-warehouse.js
Due: SwingSet/kernel

fix: Remotables must be explicitly decalred
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/evm-tap-kit.js
  packages/orchestration/src/examples/make-account.flows.js
Due: Orchestration

fixup! chore: get contract invocation payload off chain
  packages/boot/test/orchestration/axelar-gmp.test.ts
Due: none

test: successful token transfer via axelar gmp
  packages/boot/test/orchestration/axelar-gmp.test.ts
  packages/orchestration/src/examples/axelar-gmp.flows.js
Due: Orchestration

chore: get contract invocation payload off chain
  packages/boot/test/orchestration/axelar-gmp-upgrade.test.ts
  packages/orchestration/package.json
  packages/orchestration/src/examples/axelar.flows.js
  yarn.lock
Due: Orchestration

chore: get local account obj
  packages/boot/test/orchestration/axelar-gmp-makeAccount.test.ts
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/evm-transaction-kit.js
Due: Orchestration

chore: update evm facet and tests
  packages/boot/test/orchestration/axelar-gmp-makeAccount.test.ts
  packages/orchestration/src/examples/evm-transaction-kit.js
Due: Orchestration

test: fix failing bootstrap test
  packages/boot/test/orchestration/axelar-gmp.test.ts
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/axelar-gmp.flows.js
  packages/orchestration/src/examples/evm-tap-kit.js
  packages/orchestration/src/examples/lca-evm.flows.js
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-axelar.flows.js
  packages/orchestration/src/proposals/start-axelar-gmp.js
Due: Orchestration

fix: validate destination address
  packages/boot/test/orchestration/axelar-gmp-token-transfer.test.ts
  packages/orchestration/src/examples/axelar-gmp.flows.js
Due: Orchestration

chore: working version without patch
  packages/orchestration/package.json
  patches/@ethersproject+random+5.7.0.patch
  patches/bn.js+5.2.0.patch
  yarn.lock
Due: none

test: make contract calls via axelar gmp
  packages/boot/test/orchestration/axelar-gmp-contract-calls.test.ts
Due: none

feat: changes in send-anywhere.flow.js for agoric to evm invocations
  packages/orchestration/src/examples/send-anywhere.flows.js
Due: Orchestration

test: make an LCA with a receiveUpCall listener
  packages/boot/test/orchestration/axelar-gmp-makeAccount.test.ts
Due: none

feat: create seperate contract for axelar-gmp
  packages/orchestration/package.json
  packages/orchestration/src/examples/axelar-gmp.js
  packages/orchestration/src/examples/axelar.flows.js
  yarn.lock
Due: Orchestration

chore: remove not required args for lca flow
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/lca-evm.flows.js
Due: Orchestration

test: worflows when token transfer fails
  packages/boot/test/orchestration/axelar-gmp.test.ts
Due: none

chore: segregate token transfer tests
  packages/boot/test/orchestration/axelar-gmp-token-transfer.test.ts
Due: none

chore: construct contract call payload
  packages/orchestration/src/examples/axelar.flows.js
Due: Orchestration

test: execute offers via the LCA
  packages/boot/test/orchestration/axelar-gmp-makeAccount.test.ts
Due: none

fix: add patch for @ethersproject/random v5.8.0
  packages/orchestration/package.json
  patches/@ethersproject+random+5.8.0.patch
  yarn.lock
Due: none

chore: accept log as param in createAndMonitorLCA
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/lca-evm.flows.js
Due: Orchestration

chore: update yarn.lock
  yarn.lock
Due: none

chore: remove accepting chainName in offerArgs for makeAccount flow
  packages/orchestration/src/examples/lca-evm.flows.js
Due: Orchestration

chore: update contract and flows
  .gitignore
  packages/orchestration/src/examples/axelar-evm.flows.js
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/axelar-gmp.flows.js
  packages/orchestration/src/examples/axelar-token-transfer.flows.js
  packages/orchestration/src/examples/evm-tap-kit.js
  packages/orchestration/src/proposals/start-axelar-gmp.js
Due: Orchestration

chore: add check for destinationEVMChain
  packages/orchestration/src/examples/axelar-gmp.flows.js
Due: Orchestration

test: simulate resolving ibc transfers
  packages/boot/test/orchestration/axelar-gmp.test.ts
Due: none

chore: add buildGMPPayload
  packages/orchestration/package.json
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/utils/gmp.js
  yarn.lock
Due: Orchestration

chore: update contract builder script and log messages
  packages/builders/scripts/testing/init-axelar-gmp.js
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/axelar-gmp.flows.js
Due: Orchestration

chore: update package.json and yarn.lock for ethers
  packages/orchestration/package.json
  yarn.lock
Due: none

chore: changes in contract to construct payload via buildGMPPayload
  packages/orchestration/src/examples/axelar-gmp.flows.js
Due: Orchestration

chore: working version with deep imports
  packages/builders/scripts/testing/init-axelar-gmp.js
  packages/orchestration/package.json
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/proposals/start-axelar-gmp.js
Due: Orchestration

chore: create a seperate flows file for agoric to evm transactions
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-axelar.flows.js
Due: Orchestration

test: add tests for missing contract invocation data in offerArgs
  packages/boot/test/orchestration/axelar-gmp-contract-calls.test.ts
  packages/orchestration/src/examples/axelar-gmp.flows.js
Due: Orchestration

chore: create makeEVMTransactionKit in makeAccount flow
  packages/boot/test/orchestration/axelar-gmp-makeAccount.test.ts
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/evm-transaction-kit.js
  packages/orchestration/src/examples/lca-evm.flows.js
Due: Orchestration

chore: minor contract updates
  packages/boot/test/orchestration/axelar-gmp-makeAccount.test.ts
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/evm-transaction-kit.js
Due: Orchestration

chore: add axelar connection info in fetched-chain-info.js
  packages/orchestration/src/fetched-chain-info.js
Due: Orchestration

chore: segregate createAndMonitorLCA and prepareEVMTransactionKit
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/lca-evm.flows.js
Due: Orchestration
