Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

refactor(vaultFactory!): vaultFactory use zcf.atomicRearrange
  packages/inter-protocol/src/vaultFactory/liquidation.js
  packages/inter-protocol/src/vaultFactory/vaultDirector.js
  packages/inter-protocol/src/vaultFactory/vaultManager.js
Due: none

refactor(Auciton!): make Auction use zcf.atomicRearrange()
  packages/inter-protocol/src/auction/auctionBook.js
  packages/inter-protocol/src/auction/auctioneer.js
Due: none

refactor: Errors do not need `new` (#10030)
  a3p-integration/proposals/b:enable-orchestration/test-lib/wallet.js
  a3p-integration/proposals/c:stake-bld/test-lib/wallet.js
  multichain-testing/test/ica-channel-close.test.ts
  multichain-testing/tools/address.ts
  multichain-testing/tools/deploy.ts
  multichain-testing/tools/makeHttpClient.js
  multichain-testing/tools/marshalTables.js
  multichain-testing/tools/sleep.ts
  packages/SwingSet/README.md
  packages/agoric-cli/src/commands/auction.js
  packages/agoric-cli/src/commands/gov.js
  packages/agoric-cli/src/commands/inter.js
  packages/agoric-cli/src/commands/test-upgrade.js
  packages/agoric-cli/src/lib/bundles.js
  packages/agoric-cli/src/lib/wallet.js
  packages/agoric-cli/test/inter-cli.test.js
  packages/casting/src/makeHttpClient.js
  packages/cosmic-proto/src/codegen/binary.ts
  packages/cosmic-proto/src/codegen/helpers.ts
  packages/cosmic-proto/src/codegen/varint.ts
  packages/cosmic-proto/src/helpers.ts
  packages/network/src/network.js
  packages/notifier/src/publish-kit.js
  packages/smart-wallet/test/invitation1.test.js
  packages/vats/src/proposals/localchain-test.js
  packages/vow/src/vow.js
  packages/vow/test/watch-utils.test.js
  packages/xsnap/src/build.js
Due: none

chore: rename Proxying inv maker
  packages/boot/test/bootstrapTests/orchestration.test.ts
  packages/orchestration/src/examples/basic-flows.flows.js
  packages/orchestration/src/exos/portfolio-holder-kit.js
  packages/orchestration/test/exos/portfolio-holder-kit.test.ts
Due: Orchestration

refactor: no spreading in state obj
  packages/orchestration/src/exos/cosmos-orchestration-account.js
Due: Orchestration

docs: TODOs in unbond example
  packages/orchestration/src/examples/unbond.flows.js
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
Due: Orchestration

chore: remove 'Example' from example contract names
  packages/orchestration/src/examples/README.md
  packages/orchestration/src/examples/swap.contract.js
  packages/orchestration/src/examples/unbond.contract.js
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbondExample.test.ts.snap
  packages/orchestration/test/examples/swap.contract.test.ts
  packages/orchestration/test/examples/unbond.contract.test.ts
Due: Orchestration

test: rename facade-durability module
  packages/orchestration/test/facade-durability.test.ts
Due: Orchestration

refactor: makeSharedStateRecord
  packages/async-flow/index.js
  packages/async-flow/src/endowments.js
  packages/orchestration/src/examples/sendAnywhere.contract.js
Due: Orchestration

refactor: extract flows
  packages/orchestration/src/examples/swap.contract.js
  packages/orchestration/src/examples/swap.flows.js
  packages/orchestration/src/examples/unbond.contract.js
  packages/orchestration/src/examples/unbond.flows.js
Due: Orchestration

feat(internal): deepMapObject
  packages/internal/src/utils.js
  packages/internal/test/utils.test.js
Due: none

feat: flows in orchestrateAll context
  packages/orchestration/src/facade.js
  packages/orchestration/test/facade.test.ts
Due: Orchestration

feat(orchestration): map flows anywhere in context
  packages/orchestration/src/facade.js
  packages/orchestration/test/facade.test.ts
Due: Orchestration

chore(deps): bump noble/hashes to 1.5.0
  package.json
  packages/orchestration/package.json
  patches/@noble+hashes+1.4.0.patch
  yarn.lock
Due: none

refactor: share `toDenomAmount` helper
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/utils/cosmos.js
Due: Orchestration

feat!: lookupDenom -> getDenom and lookupAsset -> getAsset
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/local-orchestration-account.js
  packages/orchestration/src/exos/orchestrator.js
  packages/orchestration/src/utils/amounts.js
  packages/orchestration/test/exos/chain-hub.test.ts
  packages/orchestration/test/supports.ts
Due: Orchestration

feat!: getAsset returns undefined when lookup fails
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/local-orchestration-account.js
  packages/orchestration/src/exos/orchestrator.js
  packages/orchestration/src/utils/amounts.js
  packages/orchestration/test/exos/chain-hub.test.ts
  packages/orchestration/test/supports.ts
Due: Orchestration

refactor: prefer `denom` to `denomination` in error message
  packages/boot/test/bootstrapTests/orchestration.test.ts
  packages/orchestration/src/utils/amounts.js
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
Due: Orchestration

refactor: move test util out of `src`
  packages/orchestration/src/utils/cosmos.js
  packages/orchestration/test/staking-ops.test.ts
Due: Orchestration

feat: localOrchAccount.getBalance queries non-vbank assets
  packages/orchestration/src/examples/stakeBld.contract.js
  packages/orchestration/src/exos/local-orchestration-account.js
  packages/orchestration/src/utils/start-helper.js
  packages/orchestration/test/exos/local-orchestration-account-kit.test.ts
  packages/orchestration/test/exos/make-test-loa-kit.ts
  packages/vats/tools/fake-bridge.js
Due: Orchestration

test: export LOCALCHAIN_QUERY_ALL_BALANCES_RESPONSE
  packages/vats/tools/fake-bridge.js
Due: none

fix: localOrchAccount.getBalance
  packages/orchestration/src/exos/local-orchestration-account.js
Due: Orchestration

test: localOrchAccount.getBalance and localOrchAccount.getBalances
  multichain-testing/test/account-balance-queries.test.ts
Due: none

feat: query-flows fixture supports localchain accounts
  packages/orchestration/src/fixtures/query-flows.flows.js
  packages/orchestration/test/fixtures/query-flows.contract.test.ts
Due: Orchestration

feat: localOrchAccount.getBalances
  packages/orchestration/src/exos/README.md
  packages/orchestration/src/exos/local-orchestration-account.js
  packages/orchestration/test/exos/local-orchestration-account-kit.test.ts
Due: Orchestration

chore(cosmic-swingset): Validate AG_COSMOS_INIT `resolvedConfig`
  golang/cosmos/x/swingset/config.go
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/src/chain-main.js
Due: none

chore(golang/cosmos): Align `[swingset]` TOML with cosmos-sdk
  golang/cosmos/x/swingset/config.go
Due: none

feat: Add consensus-independent vat transcript span retention configuration to AG_COSMOS_INIT
  golang/cosmos/util/util.go
  golang/cosmos/x/swingset/config.go
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
Due: none

feat(swing-store): Limit item deletion to the previously-current transcript span
  packages/swing-store/src/transcriptStore.js
  packages/swing-store/test/state.test.js
Due: swing-store

refactor(cosmic-swingset): Clarify keep{Snapshots,Transcripts} determination
  packages/cosmic-swingset/src/chain-main.js
Due: none

feat: Add consensus-independent vat snapshot retention configuration to AG_COSMOS_INIT
  golang/cosmos/x/swingset/config.go
  packages/cosmic-swingset/src/chain-main.js
Due: none

docs(swing-store): Update for changes
  packages/swing-store/docs/data-export.md
Due: swing-store

test: trace network-fakes
  packages/orchestration/test/network-fakes.ts
Due: Orchestration

feat: combine-invitation-makers exo
  packages/orchestration/src/exos/combine-invitation-makers.js
Due: Orchestration

feat: export CosmosOrchestrationInvitationMakersInterface
  packages/orchestration/src/exos/cosmos-orchestration-account.js
Due: Orchestration

test: staking-combinations
  packages/orchestration/src/examples/staking-combinations.contract.js
  packages/orchestration/src/examples/staking-combinations.flows.js
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/staking-combinations.test.ts
Due: Orchestration

docs: update last verified date
  packages/orchestration/USAGE.md
  packages/orchestration/src/exos/README.md
Due: Orchestration

docs: orchestration usage
  packages/orchestration/USAGE.md
Due: Orchestration

refactor: rename sendAnywhere -> send-anywhere
  multichain-testing/test/send-anywhere.test.ts
  packages/boot/test/orchestration/restart-contracts.test.ts
  packages/builders/scripts/testing/restart-send-anywhere.js
  packages/builders/scripts/testing/start-send-anywhere.js
  packages/orchestration/USAGE.md
  packages/orchestration/src/examples/README.md
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-anywhere.flows.js
  packages/orchestration/test/examples/send-anywhere.test.ts
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
Due: Orchestration

chore: remove config override
  multichain-testing/config.yaml
  multichain-testing/scripts/update-config.sh
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
