Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

chore(types): use Database
  packages/internal/src/kv-store.js
Due: none

chore(types): misc fixes
  packages/inter-protocol/src/proposals/replace-fee-distributor.js
  packages/inter-protocol/src/proposals/replaceElectorate.js
  packages/inter-protocol/test/psm/gov-replace-committee.js
  packages/inter-protocol/test/swingsetTests/reserve/bootstrap-assetReserve-upgrade.js
  packages/telemetry/src/kv-string-store.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/internal-types.js
Due: none

chore(types): unglobal Invitation, InvitationAmount
  packages/boot/test/bootstrapTests/governedContract.js
  packages/boot/test/bootstrapTests/governedContract2.js
  packages/deploy-script-support/src/depositInvitation.js
  packages/deploy-script-support/src/offer.js
  packages/governance/test/swingsetTests/contractGovernor/governedContract.js
  packages/governance/test/unitTests/typedParamManager.test.js
  packages/inter-protocol/src/collectFees.js
  packages/inter-protocol/src/feeDistributor.js
  packages/inter-protocol/src/price/fluxAggregatorContract.js
  packages/inter-protocol/src/proposals/committee-proposal.js
  packages/inter-protocol/src/proposals/replaceElectorate.js
  packages/inter-protocol/src/psm/psm.js
  packages/inter-protocol/src/reserve/assetReserve.js
  packages/inter-protocol/src/vaultFactory/types-ambient.js
  packages/inter-protocol/src/vaultFactory/vault.js
  packages/inter-protocol/test/psm/governedPsm.test.js
  packages/inter-protocol/test/reserve/reserve.test.js
  packages/inter-protocol/test/smartWallet/psm-integration.test.js
  packages/orchestration/src/utils/zcf-tools.js
  packages/portfolio-contract/src/portfolio.contract.ts
  packages/smart-wallet/src/invitations.js
  packages/smart-wallet/src/smartWallet.js
  packages/zoe/exported.d.ts
  packages/zoe/src/contractSupport/prepare-ownable.js
  packages/zoe/src/contracts/otcDesk.js
  packages/zoe/src/contracts/priceAggregatorTypes.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/typeGuards.js
  tsconfig.build.json
Due: Orchestration

chore(types): drop obsolete references
  packages/base-zone/src/index.js
  packages/governance/src/index.js
  packages/network/src/network.js
  packages/smart-wallet/src/index.js
Due: none

chore(types): suppress deprecated
  packages/deployment/src/main.js
  packages/deployment/src/run.js
  packages/import-manager/src/importManager.js
Due: none

chore(types): compat with typedoc
  packages/governance/src/contractGovernance/governParam.js
  packages/governance/src/types.js
  packages/governance/test/swingsetTests/contractGovernor/bootstrap.js
  packages/governance/tools/puppetContractGovernor.js
  packages/governance/typedoc.json
Due: none

chore: remove governance exported.js
  packages/governance/exported.d.ts
  packages/governance/exported.js
  packages/governance/package.json
  packages/governance/src/index.js
  packages/governance/src/types.js
  packages/inter-protocol/src/econCommitteeCharter.js
  packages/inter-protocol/src/proposals/startPSM.js
  packages/inter-protocol/src/psm/psm.js
  packages/inter-protocol/src/reserve/assetReserve.js
  packages/inter-protocol/src/vaultFactory/params.js
  packages/inter-protocol/src/vaultFactory/vaultDirector.js
  packages/inter-protocol/src/vaultFactory/vaultFactory.js
  packages/inter-protocol/test/psm/psm.test.js
  packages/inter-protocol/test/smartWallet/contexts.js
  packages/vats/src/core/types-ambient.d.ts
Due: none

chore(types): provide missing imports/annotations
  packages/agoric-cli/src/lib/wallet.js
  packages/boot/tools/liquidation.ts
  packages/portfolio-deploy/src/orch.start.types.ts
  packages/portfolio-deploy/src/portfolio-start.type.ts
  packages/smart-wallet/src/marshal-contexts.js
  packages/swing-store/src/internal.js
  packages/wallet/api/src/internal-types.js
  packages/wallet/api/src/lib-wallet.js
  packages/wallet/api/src/types-ambient.js
  packages/zoe/src/zoeService/internal-types.js
  services/ymax-planner/src/cosmos-rest-client.ts
Due: swing-store

chore(types): explicit zoe imports in inter-protocol
  packages/inter-protocol/src/clientSupport.js
  packages/inter-protocol/src/collectFees.js
  packages/inter-protocol/src/contractSupport.js
  packages/inter-protocol/src/econCommitteeCharter.js
  packages/inter-protocol/src/feeDistributor.js
  packages/inter-protocol/src/interest.js
  packages/inter-protocol/src/price/fluxAggregatorContract.js
  packages/inter-protocol/src/price/fluxAggregatorKit.js
  packages/inter-protocol/src/proposals/addAssetToVault.js
  packages/inter-protocol/src/proposals/core-proposal.js
  packages/inter-protocol/src/proposals/deploy-price-feeds.js
  packages/inter-protocol/src/proposals/econ-behaviors.js
  packages/inter-protocol/src/proposals/replaceElectorate.js
  packages/inter-protocol/src/proposals/utils.js
  packages/inter-protocol/src/psm/psm.js
  packages/inter-protocol/src/reserve/assetReserve.js
  packages/inter-protocol/src/vaultFactory/burn.js
  packages/inter-protocol/src/vaultFactory/types-ambient.js
  packages/inter-protocol/src/vaultFactory/vault.js
  packages/inter-protocol/src/vaultFactory/vaultDirector.js
  packages/inter-protocol/src/vaultFactory/vaultManager.js
  packages/inter-protocol/test/provisionPool.test.js
  packages/inter-protocol/test/psm/setupPsm.js
  packages/inter-protocol/test/reserve/reserve.test.js
  packages/inter-protocol/test/reserve/setup.js
  packages/inter-protocol/test/smartWallet/contexts.js
  packages/inter-protocol/test/smartWallet/psm-integration.test.js
Due: none

chore: remove notifier exported.js
  packages/ERTP/exported.d.ts
  packages/governance/src/binaryVoteCounter.js
  packages/governance/src/committee.js
  packages/governance/src/electorateTools.js
  packages/governance/src/multiCandidateVoteCounter.js
  packages/governance/src/types.js
  packages/inter-protocol/src/contractSupport.js
  packages/inter-protocol/src/price/fluxAggregatorKit.js
  packages/inter-protocol/src/price/roundsManager.js
  packages/inter-protocol/src/vaultFactory/vault.js
  packages/inter-protocol/src/vaultFactory/vaultManager.js
  packages/inter-protocol/test/metrics.js
  packages/inter-protocol/test/supports.js
  packages/inter-protocol/test/swingsetTests/fluxAggregator/bootstrap-fluxAggregator-service-upgrade.js
  packages/inter-protocol/test/swingsetTests/psmUpgrade/bootstrap-psm-upgrade.js
  packages/inter-protocol/test/swingsetTests/reserve/bootstrap-assetReserve-upgrade.js
  packages/notifier/exported.d.ts
  packages/notifier/exported.js
  packages/notifier/package.json
  packages/smart-wallet/src/smartWallet.js
  packages/smart-wallet/src/utils.js
  packages/smart-wallet/src/walletFactory.js
  packages/smart-wallet/test/supports.js
  packages/vats/src/core/chain-behaviors.js
  packages/vats/src/vat-bank.js
  packages/vats/src/virtual-purse.js
  packages/zoe/src/contractSupport/priceAuthority.js
  packages/zoe/src/contractSupport/priceAuthorityTransform.js
  packages/zoe/src/contractSupport/recorder.js
  packages/zoe/src/contractSupport/topics.js
  packages/zoe/src/contracts/loan/types-ambient.js
  packages/zoe/src/contracts/priceAggregator.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/originalZoeSeat.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/contracts/priceAggregator.test.js
  packages/zoe/tools/fakePriceAuthority.js
  packages/zoe/tools/scriptedPriceAuthority.js
Due: ERTP

chore(types): explicit zoe imports in vats
  packages/vats/src/core/basic-behaviors.js
  packages/vats/src/core/demoIssuers.js
  packages/vats/src/core/startWalletFactory.js
  packages/vats/src/core/utils.js
  packages/vats/src/mintHolder.js
  packages/vats/src/proposals/restart-vats-proposal.js
  packages/vats/test/bootstrapPayment.test.js
Due: none

feat: normalize-imports script
  package.json
  scripts/normalize-imports.ts
  yarn.lock
Due: none

build: support incremental build
  .gitignore
  AGENTS.md
Due: none

chore: remove zoe exported.js
  packages/deploy-script-support/src/helpers.js
  packages/inter-protocol/src/econCommitteeCharter.js
  packages/inter-protocol/src/psm/psm.js
  packages/inter-protocol/src/vaultFactory/burn.js
  packages/inter-protocol/src/vaultFactory/vaultDirector.js
  packages/inter-protocol/src/vaultFactory/vaultFactory.js
  packages/inter-protocol/src/vaultFactory/vaultKit.js
  packages/inter-protocol/src/vaultFactory/vaultManager.js
  packages/orchestration/index.js
  packages/zoe/exported.d.ts
  packages/zoe/exported.js
  packages/zoe/package.json
  packages/zoe/src/contractSupport/types-ambient.js
  packages/zoe/src/zoeService/internal-types.js
Due: Orchestration

chore(types): some tsgo compat
  packages/internal/src/marshal/cap-data.js
  packages/internal/src/ses-utils.js
  packages/store/src/legacy/legacyWeakMap.js
  packages/store/src/stores/scalarMapStore.js
  packages/store/src/stores/scalarSetStore.js
  packages/store/src/stores/store-utils.js
  packages/swingset-liveslots/src/virtualObjectManager.js
Due: none

chore(types): explicit zoe imports in vats
  packages/vats/src/core/types-ambient.d.ts
Due: none

chore(types): misc fixes
  packages/SwingSet/src/kernel/vat-loader/types.js
  packages/governance/test/unitTests/typedParamManager.test.js
  packages/smart-wallet/test/swingsetTests/upgradeWalletFactory/bootstrap-walletFactory-service-upgrade.js
  packages/vats/src/proposals/terminate-governed-instance.js
Due: SwingSet/kernel

chore(types): explicit zoe imports in governance
  packages/governance/src/binaryVoteCounter.js
  packages/governance/src/committee.js
  packages/governance/src/contractGovernance/paramManager.js
  packages/governance/src/contractGovernance/typedParamManager.js
  packages/governance/src/contractGovernor.js
  packages/governance/src/contractGovernorKit.js
  packages/governance/src/electorateTools.js
  packages/governance/src/multiCandidateVoteCounter.js
  packages/governance/src/noActionElectorate.js
  packages/governance/src/types.js
  packages/governance/src/voterKit.js
  packages/governance/tools/puppetContractGovernor.js
Due: none

chore(types): explicit zoe imports in deploy-s-s
  packages/deploy-script-support/src/endo-pieces-contract.js
  packages/deploy-script-support/src/externalTypes.js
  packages/deploy-script-support/src/install.js
  packages/deploy-script-support/src/offer.js
  packages/deploy-script-support/src/startInstance.js
Due: none

chore: remove ERTP exported.js
  packages/ERTP/exported.d.ts
  packages/ERTP/exported.js
  packages/ERTP/package.json
Due: ERTP

chore(types): remove invalid imports
  packages/inter-protocol/src/proposals/addAssetToVault.js
  packages/inter-protocol/src/reserve/params.js
  packages/inter-protocol/src/vaultFactory/vaultManager.js
  packages/vats/src/core/startWalletFactory.js
Due: none

refactor(types): name SwingsetPromiseRecord
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/types-internal.js
Due: SwingSet/kernel

chore(types): remove legacy map types
  packages/store/exported.d.ts
Due: none

chore: remove internal exported.js
  packages/ERTP/src/index.js
  packages/cache/src/main.js
  packages/casting/src/main.js
  packages/inter-protocol/src/index.js
  packages/inter-protocol/src/vaultFactory/params.js
  packages/internal/exported.d.ts
  packages/internal/exported.js
  packages/internal/package.json
  packages/notifier/src/index.js
  packages/orchestration/index.js
  packages/zoe/src/zoeService/zoe.js
Due: ERTP, Orchestration

build: remove dead file refs
  packages/SwingSet/package.json
  packages/SwingSet/tsconfig.json
  packages/agoric-cli/package.json
  packages/benchmark/package.json
  packages/boot/package.json
  packages/builders/package.json
  packages/swingset-liveslots/package.json
  packages/vm-config/package.json
Due: none

chore(types): clean up store package globals
  packages/store/exported.d.ts
  packages/store/package.json
Due: none

refactor(types): move ERef global to agoric/store
  packages/internal/exported.d.ts
  packages/store/exported.d.ts
Due: none

chore(orchestration): add isHex viem utils export
  packages/orchestration/src/stubs/viem-typedData.ts
  packages/orchestration/src/vendor/viem/chunk-ZKSIP2AM.js
  packages/orchestration/src/vendor/viem/viem-abi.js
  packages/orchestration/src/vendor/viem/viem-typedData.d.ts
  packages/orchestration/src/vendor/viem/viem-typedData.js
Due: Orchestration

feat(orchestration): add permit2 ABI definitions
  packages/orchestration/src/utils/permit2/signatureTransferHelpers.ts
Due: Orchestration

feat(portfolio-api): update permit details extraction logic
  packages/portfolio-api/src/evm-wallet/message-handler-helpers.ts
Due: none

chore: rm store exported.js
  packages/ERTP/src/paymentLedger.js
  packages/cache/src/types.js
  packages/network/src/router.js
  packages/store/exported.d.ts
  packages/store/exported.js
  packages/store/package.json
  packages/swingset-liveslots/src/index.js
Due: ERTP

chore(types): unglobal Agoric store types
  packages/store/exported.d.ts
Due: none

feat(types): reexport canonical ERef
  packages/vow/src/types.ts
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
