Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

test: upgrade-vats to .ts
  packages/boot/test/upgrading/upgrade-vats.test.ts
Due: none

chore: port dapp-orchestration-basics contract
  packages/orchestration/src/examples/orca.contract.js
  packages/orchestration/src/proposals/orca-proposal.js
Due: Orchestration

feat: clean up orca contract and add unit test
  packages/orchestration/src/examples/orca.contract.js
  packages/orchestration/test/examples/orca.contract.test.ts
Due: Orchestration

fixup! feat: clean up orca contract and add unit test
  packages/orchestration/src/examples/orca.contract.js
Due: Orchestration

chore(swingset): reenable part of gc-kernel.test, working better now
  packages/SwingSet/test/gc-kernel.test.js
Due: none

refactor(swingset): move retireKernelObjects into kernelKeeper
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
Due: SwingSet/kernel

fix(swingset): retire unreachable orphans
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/gc-kernel-orphan.test.js
Due: SwingSet/kernel

refactor(swingset): replace orphanKernelObject with abandonKernelObject
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/vatTranslator.js
Due: SwingSet/kernel

test(swingset): improve/re-enable gc tests
  packages/SwingSet/test/abandon-export.test.js
  packages/SwingSet/test/gc-dead-vat/bootstrap.js
  packages/SwingSet/test/gc-dead-vat/vat-doomed.js
  packages/SwingSet/test/gc-kernel-orphan.test.js
  packages/SwingSet/test/gc-kernel.test.js
  packages/SwingSet/test/upgrade/upgrade.test.js
Due: none

chore: remove incorrect kernelKeeper comment about vNN.meter
  packages/SwingSet/src/kernel/state/kernelKeeper.js
Due: SwingSet/kernel

fix(swingset): don't assume we can cache GC actions in processRefcounts
  packages/SwingSet/src/kernel/state/kernelKeeper.js
Due: SwingSet/kernel

feat: ensure smart-wallet and test are using same marshaller
  multichain-testing/test/auto-stake-it.test.ts
  multichain-testing/test/basic-flows.test.ts
  multichain-testing/test/smart-wallet.test.ts
  multichain-testing/test/stake-ica.test.ts
  multichain-testing/tools/e2e-tools.js
Due: none

feat: include issuerKeywordRecord in start-sendAnywhere.js
  packages/builders/scripts/testing/start-sendAnywhere.js
Due: none

fix: unsubscribeFromTransfers returns undefined
  packages/orchestration/src/exos/packet-tools.js
Due: Orchestration

fix: to update totalDebt for 1 vault, match old with new
  packages/inter-protocol/src/vaultFactory/vaultManager.js
Due: none

test: metricsNotified support
  packages/inter-protocol/test/vaultFactory/driver.js
Due: none

test: giving collateral does not change totalDebt
  packages/inter-protocol/test/vaultFactory/driver.js
  packages/inter-protocol/test/vaultFactory/vault-collateralization.test.js
Due: none

chore(inter-protocol): regenerate vaultFactory snapshots
  packages/inter-protocol/test/vaultFactory/snapshots/vaultFactory.test.js.md
  packages/inter-protocol/test/vaultFactory/snapshots/vaultFactory.test.js.snap
Due: none

test: update totalDebt calculations
  packages/inter-protocol/test/vaultFactory/vaultFactory.test.js
Due: none

test: sendAnywhere.contract.js e2e test
  multichain-testing/test/send-anywhere.test.ts
Due: none

fix(localTransfer): ensure results of deposit are returned
  packages/orchestration/src/utils/zoe-tools.js
  packages/orchestration/test/examples/swapExample.test.ts
Due: Orchestration

fix(sendAnywhere): exit seat
  packages/orchestration/src/examples/sendAnywhere.flows.js
Due: Orchestration

master state from 13th August
  packages/inter-protocol/src/price/fluxAggregatorKit.js
Due: none

master state 11th August
  packages/inter-protocol/src/price/fluxAggregatorKit.js
Due: none

master state 10th August
  packages/inter-protocol/src/price/fluxAggregatorKit.js
Due: none

minor change
  golang/cosmos/Makefile
Due: none

test
  .github/actions/restore-node/action.yml
  .github/workflows/integration.yml
Due: none

test
  .github/actions/restore-node/action.yml
Due: none

test: base a3p on upgrade-15
  a3p-integration/package.json
Due: none

feat: guard orchAccount.transfer opts
  packages/orchestration/src/utils/orchestrationAccount.js
Due: Orchestration

feat: ensure mock lca address is unique
  packages/boot/test/bootstrapTests/orchestration.test.ts
  packages/boot/tools/supports.ts
Due: none

types: opts: IBCMsgTransferOptions are optional
  packages/orchestration/src/exos/local-orchestration-account.js
Due: Orchestration

chore: ibc/applications/transfer/v1/tx.js in package exports
  packages/cosmic-proto/package.json
Due: none

refactor: simplify sendPacket switch statement
  packages/boot/tools/ibc/mocks.js
  packages/boot/tools/supports.ts
Due: none

refactor: use SIMULATED_ERRORS const
  packages/orchestration/test/examples/stake-bld.contract.test.ts
Due: Orchestration

refactor: simplify stakeIca proposals
  packages/orchestration/src/proposals/start-stakeAtom.js
  packages/orchestration/src/proposals/start-stakeOsmo.js
Due: Orchestration

feat: get timerBrand from currentTime TimestampRecord
  packages/orchestration/src/utils/time.js
Due: Orchestration

feat: add transfer method to CosmosOrchestrationAccount
  packages/boot/test/bootstrapTests/orchestration.test.ts
  packages/boot/tools/ibc/mocks.js
  packages/builders/scripts/testing/restart-stakeAtom.js
  packages/orchestration/src/examples/stakeIca.contract.js
  packages/orchestration/src/exos/README.md
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/proposals/start-stakeAtom.js
  packages/orchestration/src/proposals/start-stakeOsmo.js
  packages/orchestration/src/utils/start-helper.js
  packages/orchestration/test/examples/stake-ica.contract.test.ts
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
  packages/orchestration/test/exos/make-test-coa-kit.ts
  packages/orchestration/test/staking-ops.test.ts
  packages/orchestration/test/types.test-d.ts
Due: Orchestration

feat: LocalOrchestrationAccount Transfer invitation
  packages/boot/test/bootstrapTests/orchestration.test.ts
  packages/orchestration/src/exos/local-orchestration-account.js
Due: Orchestration

feat: parseOutgoingTxPacket test util
  packages/orchestration/tools/ibc-mocks.ts
Due: Orchestration
