Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

test: add parseOutgoingTxPacket
  packages/orchestration/tools/ibc-mocks.ts
Due: Orchestration

feat: preparePortfolioHolder takes extra invitation makers
  packages/orchestration/src/exos/portfolio-holder-kit.js
Due: Orchestration

feat: add UpdateValidator and CancelAutoStake to auto-stake-it
  packages/orchestration/src/examples/auto-stake-it.contract.js
  packages/orchestration/src/examples/auto-stake-it.flows.js
  packages/orchestration/test/examples/auto-stake-it.contract.test.ts
Due: Orchestration

Update test-all-packages.yml
  .github/workflows/test-all-packages.yml
Due: none

feat: Orchestrator.getBrandInfo
  packages/orchestration/src/exos/orchestrator.js
  packages/orchestration/src/utils/start-helper.js
  packages/orchestration/test/facade.test.ts
Due: Orchestration

chore: support for asset info in agoricNames
  packages/orchestration/src/chain-info.js
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/typeGuards.js
  packages/orchestration/test/assets.fixture.ts
  packages/orchestration/test/exos/chain-hub.test.ts
Due: Orchestration

feat: chainHub.registerAsset / lookupAsset
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/typeGuards.js
  packages/orchestration/src/types.ts
  packages/orchestration/test/exos/chain-hub.test.ts
Due: Orchestration

chore: don't export from tests
  packages/orchestration/test/facade.test.ts
Due: Orchestration

chore: regenerate snapshots with chainName collection
  packages/orchestration/test/examples/snapshots/sendAnywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/sendAnywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbondExample.test.ts.md
  packages/orchestration/test/examples/snapshots/unbondExample.test.ts.snap
Due: Orchestration

chore: note work needed
  packages/orchestration/src/exos/local-orchestration-account.js
Due: Orchestration

chore: rm dead addSequenceNonce
  packages/boot/tools/supports.ts
Due: none

refactor: bridgeUtils
  packages/boot/test/bootstrapTests/orchestration.test.ts
  packages/boot/test/bootstrapTests/vtransfer.test.ts
  packages/boot/test/orchestration/restart-contracts.test.ts
  packages/boot/tools/supports.ts
Due: none

feat: getInboundQueueLength
  packages/boot/tools/supports.ts
Due: none

feat(evaluator): detect statement vs. expression
  packages/evaluator/package.json
  packages/evaluator/src/evaluator.contract.js
  packages/evaluator/src/proposals/start-evaluator.js
Due: none

feat(evaluator): minor ergonomics improvements
  packages/agoric-cli/src/commands/eval.js
  packages/evaluator/README.md
  packages/evaluator/src/evaluator.contract.js
  packages/evaluator/src/proposals/start-evaluator.js
Due: none

refactor: pushInbound
  packages/boot/tools/supports.ts
Due: none

test: restart basic-flow's orchestration flow
  packages/boot/test/orchestration/restart-contracts.test.ts
  packages/builders/scripts/testing/restart-basic-flows.js
Due: none

chore: revert codecov comment and required check
  codecov.yaml
Due: none

chore(multichain): install cleanup
  multichain-testing/scripts/install.sh
Due: none

chore: bump HELM_CHART_VERSION to 0.2.10
  .github/workflows/multichain-e2e.yml
  multichain-testing/Makefile
  multichain-testing/config.yaml
  multichain-testing/scripts/fetch-starship-chain-info.ts
  multichain-testing/scripts/install.sh
  multichain-testing/test/auto-stake-it.test.ts
  multichain-testing/test/stake-ica.test.ts
Due: none

chore: bump starship to 2.4.0
  multichain-testing/package.json
  multichain-testing/patches/starshipjs+2.0.0.patch
  multichain-testing/test/auto-stake-it.test.ts
  multichain-testing/test/smart-wallet.test.ts
  multichain-testing/test/stake-ica.test.ts
  multichain-testing/test/tools/wallet.test.ts
  multichain-testing/tools/ibc-transfer.ts
  multichain-testing/tools/registry.ts
  multichain-testing/yarn.lock
Due: none

fixup! chore: bump starship to 2.4.0
  multichain-testing/test/smart-wallet.test.ts
Due: none

refactor: compose asContinuingOffer
  packages/orchestration/src/examples/auto-stake-it.contract.js
  packages/orchestration/src/examples/auto-stake-it.flows.js
  packages/orchestration/src/examples/basic-flows.contract.js
  packages/orchestration/src/examples/basic-flows.flows.js
  packages/orchestration/src/exos/portfolio-holder-kit.js
  packages/orchestration/test/exos/portfolio-holder-kit.test.ts
Due: Orchestration

feat: restake example contract (wip)
  packages/orchestration/src/examples/restake.contract.js
  packages/orchestration/src/examples/restake.flows.js
  packages/orchestration/src/examples/restake.kit.js
  packages/orchestration/src/exos/portfolio-holder-kit.js
  packages/orchestration/test/examples/restake.contract.test.ts
Due: Orchestration

comments on schema versions/deltas
  packages/SwingSet/src/kernel/state/kernelKeeper.js
Due: SwingSet/kernel

WIP: cleanup asyncFlow and orch
  packages/async-flow/src/async-flow.js
  packages/async-flow/test/async-flow-crank.test.js
  packages/orchestration/src/facade.js
  packages/orchestration/src/utils/start-helper.js
  packages/orchestration/src/utils/zoe-tools.js
  packages/orchestration/test/examples/snapshots/sendAnywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/unbondExample.test.ts.md
Due: Orchestration

chore: fix baggage tree snapshots
  packages/orchestration/test/examples/snapshots/sendAnywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/sendAnywhere.test.ts.snap
Due: Orchestration

lint(config): harden-exports in flows.js
  package.json
  packages/eslint-config/eslint-config.cjs
  packages/eslint-config/package.json
  packages/orchestration/test/examples/bad.flows.js
  yarn.lock
Due: Orchestration

feat: combine-invitation-makers exo
  packages/orchestration/src/examples/restake.contract.js
  packages/orchestration/src/examples/restake.flows.js
  packages/orchestration/src/examples/restake.kit.js
  packages/orchestration/src/exos/combine-invitation-makers.js
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/utils/orchestrationAccount.js
  packages/orchestration/test/examples/restake.contract.test.ts
Due: Orchestration

Update packages/swing-store/docs/bundlestore.md
  packages/swing-store/docs/bundlestore.md
Due: swing-store

refactor: restake exo kit as flows
  packages/orchestration/src/examples/restake.contract.js
  packages/orchestration/src/examples/restake.flows.js
  packages/orchestration/src/examples/restake.kit.js
Due: Orchestration

lint: lint-fix exports of .contract.js
  packages/orchestration/src/examples/auto-stake-it.contract.js
  packages/orchestration/src/examples/basic-flows.contract.js
  packages/orchestration/src/examples/sendAnywhere.contract.js
  packages/orchestration/src/examples/stakeBld.contract.js
  packages/orchestration/src/examples/stakeIca.contract.js
  packages/orchestration/src/examples/swapExample.contract.js
  packages/orchestration/src/examples/unbondExample.contract.js
Due: Orchestration

lint(config): harden exports in *.contract.js
  packages/eslint-config/eslint-config.cjs
Due: none

lint: lint-fix exports of *.flow.js
  packages/orchestration/src/examples/auto-stake-it.flows.js
  packages/orchestration/src/examples/basic-flows.flows.js
  packages/orchestration/src/examples/sendAnywhere.flows.js
Due: Orchestration

test: upgrade from buggy sendAnywhere
  packages/boot/test/orchestration/contract-upgrade.test.ts
  packages/builders/scripts/testing/fix-buggy-sendAnywhere.js
  packages/builders/scripts/testing/start-buggy-sendAnywhere.js
  packages/orchestration/src/examples/buggy-sendAnywhere.contract.js
Due: Orchestration

fixup
  packages/orchestration/src/examples/buggy-sendAnywhere.contract.js
  packages/orchestration/src/examples/sendAnywhere.flows.js
  packages/orchestration/src/examples/swapExample.contract.js
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/utils/zoe-tools.js
  packages/vow/src/retriable.js
  packages/zoe/test/unitTests/contracts/snapshots/valueVow.test.js.md
  packages/zoe/test/unitTests/contracts/snapshots/valueVow.test.js.snap
Due: Orchestration

chore(types): relax RetriableFunc generic
  packages/orchestration/src/examples/sendAnywhere.flows.js
  packages/orchestration/src/examples/swapExample.contract.js
  packages/orchestration/src/utils/zoe-tools.js
  packages/vow/src/retriable.js
Due: Orchestration

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
