Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

chore: undupe isCopyMap, isCopySet
  packages/store/src/stores/store-utils.js
Due: none

fix: "seat has been exited"
  packages/fast-usdc/src/exos/advancer.js
Due: none

fix: minted early tracking
  packages/fast-usdc/src/exos/settler.js
  packages/fast-usdc/test/exos/settler.test.ts
Due: none

feat: asMultiset
  packages/fast-usdc/src/utils/store.js
  packages/fast-usdc/test/utils/store.test.js
Due: none

fix(SwingSet): Include level in kernel console slog output
  packages/SwingSet/src/controller/controller.js
Due: none

refactor(SwingSet): Improve addSlogCallbacks parameter/variable names
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

chore(SwingSet): Remove unused code and comments
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

fix: Properly synchronize slog sender termination
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/internal/src/node/fs-stream.js
  packages/telemetry/src/flight-recorder.js
  packages/telemetry/test/flight-recorder.test.js
Due: none

refactor(SwingSet): Simplify makeFinishersKit into addSlogCallbacks
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

fix(internal): Exempt process.stdout from being closed by makeFsStreamWriter
  packages/internal/src/node/fs-stream.js
Due: none

chore(telemetry): Use more readable async patterns
  packages/internal/src/node/fs-stream.js
  packages/telemetry/src/index.js
  packages/telemetry/src/make-slog-sender.js
Due: none

refactor(internal): Prefer fs.WriteStream close() over stream.Writable end()
  packages/internal/src/node/fs-stream.js
Due: none

chore(SwingSet): Prefer type Callable over Function
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

nit
  .github/workflows/integration.yml
Due: none

fix: install golang
  .github/workflows/integration.yml
Due: none

fix: use default home
  a3p-integration/proposals/z:acceptance/host/before-test-run.sh
Due: none

fix: wait for rpc
  a3p-integration/proposals/z:acceptance/host/before-test-run.sh
Due: none

chore(golang): `go mod tidy`
  golang/cosmos/go.sum
Due: none

build(deps): use new version of ibc-go
  golang/cosmos/go.mod
Due: none

chore: update lockfiles
  a3p-integration/proposals/z:acceptance/yarn.lock
  multichain-testing/yarn.lock
Due: none

test(cosmic-swingset): use template to implement 'vstorage metrics' test
  packages/cosmic-swingset/test/make.test.js
Due: none

chore: harden arguments to atomicRearrange
  packages/fast-usdc/src/exos/liquidity-pool.js
Due: none

refactor: use a single zcf.atomicReallocate for repaying
  packages/fast-usdc/src/exos/liquidity-pool.js
  packages/fast-usdc/src/exos/settler.js
  packages/fast-usdc/src/pool-share-math.js
  packages/fast-usdc/test/exos/settler.test.ts
  packages/fast-usdc/test/pool-share-math.test.ts
Due: none

refactor: use arrow function style
  packages/fast-usdc/test/pool-share-math.test.ts
Due: none

feat: `CosmosOrchestrationAccount` supports `.depositForBurn`
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/typeGuards.js
  packages/orchestration/test/types.test-d.ts
Due: Orchestration

feat: encode cctp destination address
  packages/orchestration/package.json
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/utils/address.js
Due: Orchestration

refactor: support chainIDs that are string | number
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/src/examples/stake-ica.contract.js
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/orchestration-api.ts
Due: Orchestration

feat: support CCTP in orchestration
  packages/orchestration/src/chain-capabilities.js
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-cctp.flows.js
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/test/examples/send-cctp.test.ts
Due: Orchestration

test: update orcestration example snapshots
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
Due: Orchestration

refactor: support generic non-cosmos chainInfo in chain-hub
  packages/orchestration/src/exos/chain-hub.js
Due: Orchestration

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
