Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

chore(liveslots): remove unnecessary promiseRegistrations
  packages/swingset-liveslots/src/watchedPromises.js
  packages/swingset-liveslots/test/gc-helpers.js
  packages/swingset-liveslots/test/initial-vrefs.test.js
  packages/swingset-liveslots/test/liveslots-real-gc.test.js
  packages/swingset-liveslots/test/liveslots.test.js
  packages/swingset-liveslots/test/storeGC/lifecycle.test.js
  packages/swingset-liveslots/test/virtual-objects/virtualObjectManager.test.js
Due: none

feat(boot-tools): make slogSender available in context
  packages/boot/tools/supports.ts
Due: none

feat(boot-tools): add configOverrides
  packages/boot/tools/supports.ts
Due: none

refactor(swingset): reapAllVats
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

WIP feat(swingset): reapAllVats that have advanced
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

WIP feat(swingset): snapshotAllVats
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vat-warehouse.js
Due: SwingSet/kernel

WIP feat(swingset): subprocess node heap snapshot on BOYD
  packages/SwingSet/src/supervisors/subprocess-node/supervisor-subprocess-node.js
Due: none

WIP refactor(boot): chain-impact extract doCleanupAndSnapshot
  packages/boot/test/fast-usdc/chain-impact.test.ts
Due: none

WIP feat(boot): chain-impact add slog events around cleanup and iteration
  packages/boot/test/fast-usdc/chain-impact.test.ts
Due: none

WIP feat(boot): chain-impact reap until no more dirt found
  packages/boot/test/fast-usdc/chain-impact.test.ts
Due: none

WIP feat(boot): chain-impact force snapshots
  packages/boot/test/fast-usdc/chain-impact.test.ts
Due: none

WIP chore(boot): chain-impact
  packages/boot/test/fast-usdc/chain-impact.test.ts
Due: none

fix(vow): watch-utils leak in non storable results
  packages/vow/src/watch-utils.js
Due: none

wip: got mod tidy to work
  golang/cosmos/ante/ante.go
  golang/cosmos/app/app.go
  golang/cosmos/app/sim_test.go
  golang/cosmos/e2e_test/pfm_test.go
  golang/cosmos/go.mod
  golang/cosmos/go.sum
  golang/cosmos/third_party/proto/ibc/core/channel/v1/channel.proto
  golang/cosmos/third_party/proto/ibc/core/client/v1/client.proto
  golang/cosmos/types/address_hooks.go
  golang/cosmos/types/address_hooks_test.go
  golang/cosmos/x/swingset/config.go
  golang/cosmos/x/vibc/keeper/keeper.go
  golang/cosmos/x/vibc/keeper/triggers.go
  golang/cosmos/x/vibc/types/expected_keepers.go
  golang/cosmos/x/vibc/types/ibc_module.go
  golang/cosmos/x/vibc/types/msgs.go
  golang/cosmos/x/vibc/types/msgs.pb.go
  golang/cosmos/x/vibc/types/receiver.go
  golang/cosmos/x/vlocalchain/vlocalchain_test.go
  golang/cosmos/x/vtransfer/ibc_middleware.go
  golang/cosmos/x/vtransfer/ibc_middleware_test.go
  golang/cosmos/x/vtransfer/keeper/keeper.go
  golang/cosmos/x/vtransfer/types/expected_keepers.go
  golang/cosmos/x/vtransfer/utils_test.go
Due: none

wip: removing legacy querier from custom modules
  golang/cosmos/go.mod
  golang/cosmos/go.sum
  golang/cosmos/x/swingset/abci.go
  golang/cosmos/x/swingset/alias.go
  golang/cosmos/x/swingset/keeper/extension_snapshotter.go
  golang/cosmos/x/swingset/keeper/extension_snapshotter_test.go
  golang/cosmos/x/swingset/keeper/keeper.go
  golang/cosmos/x/swingset/keeper/querier.go
  golang/cosmos/x/swingset/keeper/swing_store_exports_handler.go
  golang/cosmos/x/swingset/keeper/swing_store_exports_handler_test.go
  golang/cosmos/x/swingset/module.go
  golang/cosmos/x/vbank/keeper/querier.go
  golang/cosmos/x/vbank/module.go
  golang/cosmos/x/vibc/module.go
  golang/cosmos/x/vlocalchain/keeper/keeper.go
  golang/cosmos/x/vstorage/alias.go
  golang/cosmos/x/vstorage/keeper/querier.go
  golang/cosmos/x/vstorage/module.go
  golang/cosmos/x/vtransfer/module.go
Due: none

fix(vow): watch-utils leak in non storable results (#11117)
  packages/vow/src/watch-utils.js
Due: none

fix(liveslots): do not leak known resolved promises
  packages/swingset-liveslots/src/liveslots.js
Due: none

feat: `update-fee-config` proposal
  packages/boot/test/fast-usdc/fast-usdc.test.ts
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.md
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.snap
  packages/builders/scripts/fast-usdc/fast-usdc-fee-config.build.js
  packages/fast-usdc/src/update-fee-config.core.js
Due: none

fix
  packages/agoric-cli/src/install.js
  packages/agoric-cli/src/lib/packageManager.js
Due: none

chore: update flows and contracts
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/axelar-gmp.flows.js
  packages/orchestration/src/examples/axelar-token-transfer.flows.js
  packages/orchestration/src/examples/evm-tap-kit.js
  packages/orchestration/src/examples/lca-evm.flows.js
  packages/orchestration/src/proposals/start-axelar-gmp.js
Due: Orchestration

fix: remove `intermediateRecipient` from `ForwardInfo`
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/test/exos/chain-hub-transfer-routes.test.ts
  packages/orchestration/test/exos/local-orchestration-account-kit.test.ts
Due: Orchestration

fix(test): `lastestTxMsg` -> `latestTxMsg`
  packages/orchestration/test/exos/local-orchestration-account-kit.test.ts
Due: Orchestration

feat(replay-transcript): some clean-up and small fixes
  packages/SwingSet/misc-tools/replay-transcript-new.js
Due: none

updated transfer steps to transfer
  packages/orchestration/src/examples/omniflixTip.contract.js
  packages/orchestration/src/examples/omniflixTip.flows.js
  packages/orchestration/test/examples/omniflixTip.test.ts
Due: Orchestration

fix: remove client commiting
  golang/cosmos/go.mod
  golang/cosmos/go.sum
Due: none

wip
  golang/cosmos/app/app.go
  golang/cosmos/app/export.go
  golang/cosmos/app/sim_test.go
  golang/cosmos/cmd/agd/agvm.go
  golang/cosmos/cmd/agd/main.go
  golang/cosmos/cmd/libdaemon/main.go
  golang/cosmos/daemon/cmd/root.go
  golang/cosmos/daemon/cmd/root_test.go
  golang/cosmos/daemon/cmd/testnet.go
  golang/cosmos/go.mod
  golang/cosmos/go.sum
  golang/cosmos/x/swingset/keeper/extension_snapshotter_test.go
  golang/cosmos/x/swingset/keeper/swing_store_exports_handler.go
  golang/cosmos/x/swingset/keeper/swing_store_exports_handler_test.go
  golang/cosmos/x/vbank/genesis.go
  golang/cosmos/x/vbank/module.go
  golang/cosmos/x/vbank/vbank_test.go
  golang/cosmos/x/vibc/module.go
  golang/cosmos/x/vlocalchain/vlocalchain_test.go
  golang/cosmos/x/vstorage/genesis.go
  golang/cosmos/x/vstorage/keeper/keeper_test.go
  golang/cosmos/x/vstorage/keeper/querier.go
  golang/cosmos/x/vstorage/keeper/querier_test.go
  golang/cosmos/x/vstorage/module.go
  golang/cosmos/x/vstorage/vstorage_test.go
  golang/cosmos/x/vtransfer/genesis.go
  golang/cosmos/x/vtransfer/ibc_middleware_test.go
  golang/cosmos/x/vtransfer/module.go
Due: none

wip
  golang/cosmos/app/app.go
  golang/cosmos/app/sim_test.go
  golang/cosmos/cmd/agd/agvm.go
  golang/cosmos/cmd/agd/main.go
  golang/cosmos/cmd/libdaemon/main.go
  golang/cosmos/daemon/cmd/root.go
  golang/cosmos/daemon/cmd/root_test.go
  golang/cosmos/go.mod
  golang/cosmos/go.sum
  golang/cosmos/x/swingset/keeper/extension_snapshotter_test.go
  golang/cosmos/x/swingset/keeper/swing_store_exports_handler.go
  golang/cosmos/x/swingset/keeper/swing_store_exports_handler_test.go
  golang/cosmos/x/vbank/vbank_test.go
  golang/cosmos/x/vlocalchain/vlocalchain_test.go
  golang/cosmos/x/vstorage/keeper/keeper_test.go
  golang/cosmos/x/vstorage/vstorage_test.go
  golang/cosmos/x/vtransfer/ibc_middleware_test.go
Due: none

feat: remove deprecated Refactor CommunityPoolSpendProposal cosmos#12852
  golang/cosmos/app/app.go
Due: none

fix: remove all error on app
  golang/cosmos/app/app.go
Due: none

feat(ertp,zoe): minimal want patterns using M.has(el,n)
  packages/ERTP/package.json
  packages/ERTP/src/amountMath.js
  packages/ERTP/src/mathHelpers/copyBagMathHelpers.js
  packages/ERTP/src/mathHelpers/copySetMathHelpers.js
  packages/ERTP/src/mathHelpers/natMathHelpers.js
  packages/ERTP/src/mathHelpers/setMathHelpers.js
  packages/ERTP/src/typeGuards.js
  packages/ERTP/src/types.ts
  packages/ERTP/test/unitTests/mathHelpers/copyBagMathHelpers.test.js
  packages/ERTP/test/unitTests/mathHelpers/copySetMathHelpers.test.js
  packages/ERTP/test/unitTests/mathHelpers/natMathHelpers.test.js
  packages/ERTP/test/unitTests/mathHelpers/setBoundMathHelpers.test.js
  packages/ERTP/test/unitTests/mathHelpers/setMathHelpers.test.js
  packages/ERTP/test/unitTests/mathHelpers/strSetMathHelpers.test.js
  packages/fast-usdc/test/fast-usdc.contract.test.ts
  packages/zoe/src/contracts/loan/close.js
  packages/zoe/test/unitTests/contractSupport/ratio.test.js
Due: ERTP

refactor(send-anywhere): simplify denom lookup
  packages/boot/test/orchestration/contract-upgrade.test.ts
  packages/boot/test/orchestration/restart-contracts.test.ts
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-anywhere.flows.js
  packages/orchestration/test/examples/send-anywhere.test.ts
Due: Orchestration

fix: remove all erros from root
  golang/cosmos/daemon/cmd/root.go
Due: none

test: fast-usdc rc2 atop rc1
  a3p-integration/package.json
  a3p-integration/proposals/g:gtm-fast-usdc/package.json
  a3p-integration/proposals/g:gtm-fast-usdc/test/deploy.test.js
  a3p-integration/proposals/g:gtm-fast-usdc/yarn.lock
Due: none

fixup! types
  packages/ERTP/src/amountMath.js
  packages/ERTP/src/typeGuards.js
  packages/ERTP/src/types.ts
Due: ERTP

fix(agoric-cli): Specify active directory when querying workspaces (#11122)
  packages/agoric-cli/src/install.js
  packages/agoric-cli/src/lib/packageManager.js
Due: none

fixup! start pushing want patterns into zoe
  packages/ERTP/src/typeGuards.js
  packages/zoe/exported.d.ts
  packages/zoe/src/contractFacet/offerSafety.js
  packages/zoe/src/contractFacet/types.ts
  packages/zoe/src/contractSupport/ratio.js
  packages/zoe/src/contracts/auction/firstPriceLogic.js
  packages/zoe/src/contracts/auction/secondPriceLogic.js
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/types.ts
  packages/zoe/src/zoeService/internal-types.js
  packages/zoe/src/zoeService/types.ts
  packages/zoe/src/zoeService/utils.d.ts
  packages/zoe/test/types.test-d.ts
  packages/zoe/tools/setup-zoe.js
Due: ERTP

changes
  packages/builders/scripts/testing/init-axelar-gmp.js
  packages/orchestration/src/examples/lca-evm.flows.js
Due: Orchestration

changes
  packages/orchestration/src/proposals/start-axelar-gmp.js
Due: Orchestration

changes
  packages/orchestration/src/examples/lca-evm.flows.js
Due: Orchestration

fix: update various parameters
  packages/orchestration/src/examples/omniflixTip.contract.js
  packages/orchestration/src/examples/omniflixTip.flows.js
  packages/orchestration/test/examples/omniflixTip.test.ts
Due: Orchestration
