Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

refactor(golang/cosmos): Simplify and DRY out isPrimaryUpgradeName
  golang/cosmos/app/app.go
  golang/cosmos/app/upgrade.go
Due: none

chore: adding helper tagets to Makefile
  multichain-testing/Makefile
Due: none

test: unstorable result (wip)
  packages/vow/test/watch-utils.test.js
Due: none

feat(cosmos): Next upgrade is agoric-upgrade-17
  a3p-integration/proposals/a:upgrade-17/.gitignore
  a3p-integration/proposals/a:upgrade-17/.yarnrc.yml
  a3p-integration/proposals/a:upgrade-17/README.md
  a3p-integration/proposals/a:upgrade-17/agd-tools.js
  a3p-integration/proposals/a:upgrade-17/initial.test.js
  a3p-integration/proposals/a:upgrade-17/localchain.test.js
  a3p-integration/proposals/a:upgrade-17/package.json
  a3p-integration/proposals/a:upgrade-17/prepare.sh
  a3p-integration/proposals/a:upgrade-17/priceFeed-follower-auction.test.js
  a3p-integration/proposals/a:upgrade-17/provisionPool.test.js
  a3p-integration/proposals/a:upgrade-17/synthetic-chain-excerpt.js
  a3p-integration/proposals/a:upgrade-17/test.sh
  a3p-integration/proposals/a:upgrade-17/tsconfig.json
  a3p-integration/proposals/a:upgrade-17/vatDetails.js
  a3p-integration/proposals/a:upgrade-17/yarn.lock
  a3p-integration/proposals/n:upgrade-next/README.md
  golang/cosmos/app/app.go
  golang/cosmos/app/upgrade.go
Due: none

test(swingset): use xs-worker to avoid gc flake (#10085)
  packages/SwingSet/test/gc-kernel.test.js
Due: none

build: export {distribution,query} staking
  packages/cosmic-proto/package.json
Due: none

chore: gitignore aider
  .gitignore
Due: none

fix: encoding Decimal values
  packages/cosmic-proto/package.json
  packages/cosmic-proto/src/codegen/binary.ts
  packages/cosmic-proto/src/codegen/google/protobuf/descriptor.ts
  packages/cosmic-proto/src/codegen/helpers.ts
  packages/cosmic-proto/src/codegen/index.ts
  packages/cosmic-proto/src/codegen/json-safe.ts
  packages/cosmic-proto/src/codegen/tendermint/abci/types.ts
  packages/cosmic-proto/src/codegen/tendermint/types/types.ts
  packages/cosmic-proto/src/codegen/utf8.ts
  packages/cosmic-proto/src/codegen/varint.ts
  patches/@cosmology+telescope+1.7.1.patch
  yarn.lock
Due: none

test: build QueryDelegatorDelegationsResponse
  packages/orchestration/test/ibc-mocks.test.ts
Due: Orchestration

test: ibc-mocks decoding
  packages/orchestration/test/ibc-mocks.test.ts
  packages/orchestration/test/snapshots/ibc-mocks.test.ts.md
  packages/orchestration/test/snapshots/ibc-mocks.test.ts.snap
Due: Orchestration

chore(types): accomodate new Telescope
  packages/cosmic-proto/test/helpers.test-d.ts
  packages/orchestration/src/exos/local-orchestration-account.js
  packages/orchestration/src/typeGuards.js
  packages/vats/tools/fake-bridge.js
Due: Orchestration

refactor: use Node global fetch
  a3p-integration/proposals/s:stake-bld/test-lib/index.js
  multichain-testing/scripts/fetch-starship-chain-info.ts
  packages/deployment/src/entrypoint.js
  packages/solo/src/add-chain.js
Due: none

chore: drop node-fetch-shim
  packages/agoric-cli/src/bin-agops.js
  packages/agoric-cli/src/entrypoint.js
  packages/agoric-cli/test/main.test.js
  packages/casting/README.md
  packages/casting/node-fetch-shim.js
  packages/casting/test/lockdown.js
  packages/casting/test/mvp.test.js
Due: none

chore(deps): remove node-fetch
  a3p-integration/proposals/s:stake-bld/package.json
  a3p-integration/proposals/s:stake-bld/yarn.lock
  multichain-testing/package.json
  multichain-testing/yarn.lock
  packages/casting/package.json
  packages/deployment/package.json
  packages/solo/package.json
  yarn.lock
Due: none

Apply suggestions from code review
  MAINTAINERS.md
Due: none

chore: update maintainers instructions (#10090)
  MAINTAINERS.md
Due: none

feat: env-doctor script
  scripts/env-doctor.sh
Due: none

build: yarn doctor
  package.json
  scripts/env-doctor.sh
Due: none

chore: update type-coverage
  packages/async-flow/package.json
  packages/boot/package.json
  packages/cosmic-swingset/package.json
  packages/internal/package.json
  packages/orchestration/package.json
  packages/solo/package.json
  packages/swing-store/package.json
  packages/zoe/package.json
Due: none

WIP Update test snapshots
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
Due: Orchestration

WIP feat(vow): retriable tools
  packages/vow/src/retriable.js
  packages/vow/src/tools.js
Due: none

WIP fix(orchestration): chainHub accepts zone
  packages/orchestration/src/examples/stakeBld.contract.js
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/proposals/start-stakeAtom.js
  packages/orchestration/src/proposals/start-stakeOsmo.js
  packages/orchestration/src/utils/start-helper.js
  packages/orchestration/test/exos/chain-hub.test.ts
Due: Orchestration

feat(vow): abandoned errors are retriable
  packages/internal/src/upgrade-api.js
  packages/internal/test/upgrade-api.test.js
  packages/vow/vat.js
Due: none

chore(types): relax RetriableFunc generic
  packages/vow/src/retriable.js
Due: none

fixups
  packages/orchestration/src/examples/send-anywhere.flows.js
  packages/orchestration/src/examples/stakeIca.contract.js
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/utils/zoe-tools.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
  packages/orchestration/test/staking-ops.test.ts
  packages/orchestration/test/supports.ts
  packages/vow/src/retriable.js
  packages/zoe/test/unitTests/contracts/snapshots/valueVow.test.js.md
  packages/zoe/test/unitTests/contracts/snapshots/valueVow.test.js.snap
Due: Orchestration

test: upgrade from buggy sendAnywhere
  packages/boot/test/orchestration/contract-upgrade.test.ts
  packages/builders/scripts/testing/fix-buggy-sendAnywhere.js
  packages/builders/scripts/testing/start-buggy-sendAnywhere.js
  packages/orchestration/src/examples/send-anywhere.contract.js
Due: Orchestration

feat(examples): logging progress
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-anywhere.flows.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
Due: Orchestration

chore(types): import each name
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

build: rm unused test:nyc, test:c8
  packages/vat-data/package.json
  packages/vow/package.json
Due: none

chore: update type-coverage
  packages/SwingSet/package.json
  packages/internal/package.json
Due: none

chore: define asyncDispose in synchronizedTee
  packages/internal/src/utils.js
Due: none

build: clean .tsbuildinfo
  packages/ERTP/package.json
  packages/async-flow/package.json
  packages/base-zone/package.json
  packages/builders/package.json
  packages/casting/package.json
  packages/governance/package.json
  packages/inter-protocol/package.json
  packages/internal/package.json
  packages/network/package.json
  packages/notifier/package.json
  packages/orchestration/package.json
  packages/smart-wallet/package.json
  packages/vats/package.json
  packages/vow/package.json
  packages/zoe/package.json
  packages/zone/package.json
Due: none

chore(types): KernelKeeper
  packages/SwingSet/src/kernel/deviceTranslator.js
  packages/SwingSet/src/kernel/gc-actions.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/types-external.js
  packages/SwingSet/test/gc-actions.test.js
Due: SwingSet/kernel

chore(types): update suppressions
  packages/SwingSet/misc-tools/replay-transcript.js
  packages/smart-wallet/test/supports.js
Due: none

ci(types): enable noUncheckedSideEffectImports
  packages/xsnap/test/leakiness.mjs
  tsconfig.json
Due: none

chore(deps): bump typescript to 5.6 release
  package.json
  packages/cosmic-proto/package.json
  yarn.lock
Due: none

fixup! test: upgrade from buggy sendAnywhere
  packages/builders/scripts/testing/fix-buggy-sendAnywhere.js
  packages/builders/scripts/testing/start-buggy-sendAnywhere.js
Due: none

fix: remove getRedelegation
  packages/orchestration/src/cosmos-api.ts
Due: Orchestration

refactor: extract stakingAccountActionsMethods
  packages/orchestration/src/exos/cosmos-orchestration-account.js
Due: Orchestration

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
