Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

test(multichain): misconfigure noble->agoric conn like mainnet
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
Due: none

test(multichain): reconfigure: fix noble ICA
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
  multichain-testing/test/fast-usdc/fu-actors.ts
Due: none

chore: Update feeConfig.variableRate to 0.5%, i.e. 5n/1000n
  packages/fast-usdc/src/update-noble-ica.core.js
Due: none

test(internal): Better organize test/utils.test.js
  packages/internal/test/utils.test.js
Due: none

test(internal): Add coverage for `attenuate`
  packages/internal/package.json
  packages/internal/test/utils.test.js
  yarn.lock
Due: none

fix(cosmos-vstorage): split size_delta counter into allocated and released
  golang/cosmos/x/vstorage/keeper/keeper.go
Due: none

test(cosmic-swingset): Smoke test the inquisitor
  packages/cosmic-swingset/test/inquisitor.test.js
  packages/cosmic-swingset/tools/inquisitor.mjs
Due: none

fix(cosmic-swingset): Correct an inquisitor pattern and comment
  packages/cosmic-swingset/tools/inquisitor.mjs
Due: none

fix(cosmos-vstorage): incorporate review comments
  golang/cosmos/x/vstorage/keeper/keeper.go
Due: none

fix(cosmos-vstorage): split 'size_delta' counter into 'size_increase' and 'size_decrease' (#11063)
  golang/cosmos/x/vstorage/keeper/keeper.go
Due: none

chore(swing-store): Fix documentation typos
  packages/swing-store/src/assertComplete.js
  packages/swing-store/src/kvStore.js
  packages/swing-store/src/snapStore.js
Due: swing-store

chore(swing-store): Narrow AnyIterableIterator to AnyIterable
  packages/swing-store/src/exporter.js
  packages/swing-store/src/snapStore.js
  packages/swing-store/src/transcriptStore.js
Due: swing-store

feat(internal): Add `pick` utility
  packages/internal/src/index.js
  packages/internal/src/ses-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
Due: none

refactor(swing-store): Use new `pick` utility
  packages/swing-store/src/swingStore.js
Due: swing-store

chore(swing-store): Add type SwingStoreOptions
  packages/swing-store/src/snapStore.js
  packages/swing-store/src/swingStore.js
  packages/swing-store/src/transcriptStore.js
Due: swing-store

feat(cosmic-swingset): Expose a controller and associated helpers from test-kit.js
  packages/SwingSet/tools/run-utils.js
  packages/boot/test/upgrading/upgrade-vats.test.ts
  packages/boot/tools/supports.ts
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/cosmic-swingset/tools/test-kit.js
Due: none

feat(swing-store): Add options for opening swing-stores
  packages/swing-store/src/assertComplete.js
  packages/swing-store/src/swingStore.js
Due: swing-store

refactor(swing-store): Extract all makeSwingStore options up front
  packages/swing-store/src/swingStore.js
Due: swing-store

feat(cosmic-swingset): Add `getNextKey` support to BufferedStorage
  packages/cosmic-swingset/src/helpers/bufferedStorage.js
Due: none

feat(internal): Generalize single-level `pick` utility to recursive `attenuate`
  packages/cosmic-swingset/src/launch-chain.js
  packages/internal/src/ses-utils.js
  packages/internal/src/types.ts
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
  packages/internal/test/types.test-d.ts
  packages/swing-store/src/swingStore.js
Due: swing-store

chore: Add lint coverage for tools/
  eslint.config.mjs
  packages/cosmic-swingset/tsconfig.json
Due: none

feat(cosmic-swingset): Introduce inquisitor.mjs
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/tools/inquisitor.mjs
  packages/swing-store/src/bundleStore.js
  packages/swing-store/src/index.js
  packages/swing-store/src/internal.js
  packages/swing-store/src/swingStore.js
Due: swing-store

feat(fast-usdc): `ChainHub` update interfaces
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/test/exos/chain-hub.test.ts
Due: Orchestration

feat(fast-usdc): core eval to update chainInfo, noble ICA
  packages/fast-usdc/src/update-noble-ica.core.js
Due: none

fix(fast-usdc): prepare to repair Noble Account
  packages/fast-usdc/src/fast-usdc.contract.js
  packages/fast-usdc/src/start-fast-usdc.core.js
  packages/fast-usdc/test/fast-usdc.contract.test.ts
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
Due: none

feat(builders): to reconfigure Fast USDC
  packages/builders/scripts/fast-usdc/fast-usdc-reconfigure.build.js
Due: none

chore(boot): cache fast-usdc-beta-1 release artifacts
  packages/boot/test/fast-usdc/bundles/b1-6f742c9506079a4ad917c50ef15cab85c5d2c8d562c04de72e9a79c2a192ba36e7c88aa365b740a0e1fd1968199289e20ed23ee62dd4a3240da78ebb6763fa34.json
  packages/boot/test/fast-usdc/bundles/b1-ff51ba7d4abbab92013467813379be4d428b0b7a3f1a6f2ebd06c9b774e0e4e6acfbd6aea9e508d53419c50e13495b314a1b1fb94392ce42ea8feb18de9b3fa7.json
  packages/boot/test/fast-usdc/bundles/dl.sh
  packages/boot/test/fast-usdc/bundles/start-fast-usdc-permit.json
  packages/boot/test/fast-usdc/bundles/start-fast-usdc-plan.json
  packages/boot/test/fast-usdc/bundles/start-fast-usdc.js
  packages/boot/tsconfig.json
Due: none

test(boot): oracles accept before upgrade
  packages/boot/test/fast-usdc/fast-usdc.test.ts
Due: none

test(boot): start fastUsdc using fast-usdc-beta-1 release
  packages/boot/test/fast-usdc/fast-usdc.test.ts
  packages/boot/tools/supports.ts
Due: none

test(boot): upgrade Fast USDC; update noble ICA
  packages/boot/test/fast-usdc/fast-usdc.test.ts
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.md
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.snap
Due: none

build(deps): use new version of ibc-go
  golang/cosmos/go.mod
Due: none

chore(golang): `go mod tidy`
  golang/cosmos/go.sum
Due: none

test(internal): Accommodate property-based testing attempts to delete an Array's `length`
  packages/internal/test/utils.test.js
Due: none

chore(internal): Remove unused dependency
  packages/internal/package.json
  yarn.lock
Due: none

chore(internal): Improve comments and typing for `attenuate` testing
  packages/internal/test/utils.test.js
Due: none

test(internal): Add static tests for `attenuate`
  packages/internal/test/utils.test.js
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
