Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

chore: rearrange price-feed proposal and script to match upgrade.go
  packages/builders/scripts/inter-protocol/updatePriceFeeds.js
  packages/inter-protocol/src/proposals/deploy-price-feeds.js
Due: none

chore: don't rely on getting old auctioneer instance
  packages/inter-protocol/src/proposals/upgrade-vaults.js
Due: none

refactor: replaceElectorate get new auction via direct promises
  packages/inter-protocol/src/proposals/add-auction.js
  packages/inter-protocol/src/proposals/replaceElectorate.js
Due: none

chore: update auctioneer in governedContractKits
  packages/inter-protocol/src/proposals/add-auction.js
Due: none

test: allow EC update bootstap test to run without auction upgrade
  packages/boot/test/bootstrapTests/ec-membership-update.test.ts
Due: none

feat: only add one auctioneer instance to charter
  packages/inter-protocol/src/proposals/replaceElectorate.js
Due: none

test: restore prior state of GLOBIGNORE
  a3p-integration/proposals/n:upgrade-next/test.sh
Due: none

kernelKeeper: incrementReferenceCount feedback
  packages/SwingSet/src/kernel/state/kernelKeeper.js
Due: SwingSet/kernel

review feedback: dumpQueue, use Map for upgrade-kpid cache
  packages/SwingSet/src/controller/upgradeSwingset.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
Due: SwingSet/kernel

start a host-application responsibilities document
  packages/SwingSet/docs/host-app.md
Due: none

feat(swingset): add "upgrade events" management
  packages/SwingSet/docs/host-app.md
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/controller/upgradeSwingset.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/kernel.test.js
  packages/SwingSet/test/state.test.js
  packages/SwingSet/test/upgrade-swingset.test.js
Due: SwingSet/kernel

fix(cosmic-swingset): inject kernel upgrade events at a safe time
  packages/cosmic-swingset/src/launch-chain.js
  packages/internal/src/action-types.js
Due: none

chore(swingset/misc-tools): add #9039 scanner to count cleanup work
  packages/SwingSet/misc-tools/scan-9039-promises.js
Due: none

docs(swingset): start a host-application responsibilities document
  packages/SwingSet/docs/host-app.md
Due: none

chore(swingset): add a proper PromiseRecord type
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/types-internal.js
Due: SwingSet/kernel

chore: more efficient kernelKeeper.enumeratePromisesByDecider() API
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
Due: SwingSet/kernel

chore: expose kernel.kpRegisterInterest() on controller
  packages/SwingSet/src/controller/controller.js
Due: none

fix(swingset): change processUpgradeVat to delete clist entries
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/test/upgrade/bootstrap-scripted-upgrade.js
  packages/SwingSet/test/upgrade/upgrade.test.js
  packages/SwingSet/test/upgrade/vat-ulrik-1.js
  packages/SwingSet/test/upgrade/vat-ulrik-2.js
Due: SwingSet/kernel

refactor: change kernelKeeper to expose helper functions for upgrade
  packages/SwingSet/src/kernel/state/kernelKeeper.js
Due: SwingSet/kernel

fix(swingset): add remediation of 9039
  packages/SwingSet/src/controller/upgradeSwingset.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/snapshots/state.test.js.md
  packages/SwingSet/test/snapshots/state.test.js.snap
  packages/SwingSet/test/state.test.js
  packages/SwingSet/test/transcript-light.test.js
  packages/SwingSet/test/upgrade-swingset.test.js
Due: SwingSet/kernel

fix(swingset): clean up promise c-list entries during vat deletion
  packages/SwingSet/docs/run-policy.md
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/types-external.js
  packages/SwingSet/test/vat-admin/slow-termination/slow-termination.test.js
  packages/SwingSet/test/vat-admin/terminate/terminate.test.js
Due: SwingSet/kernel

chore: update termination tests to watch for promise cleanup
  packages/SwingSet/test/vat-admin/slow-termination/bootstrap-slow-terminate.js
  packages/SwingSet/test/vat-admin/slow-termination/slow-termination.test.js
  packages/SwingSet/test/vat-admin/slow-termination/vat-slow-terminate.js
  packages/SwingSet/test/vat-admin/terminate/bootstrap-die-cleanly.js
  packages/SwingSet/test/vat-admin/terminate/terminate.test.js
  packages/SwingSet/test/vat-admin/terminate/vat-dude-terminate.js
Due: none

address mathieu comments 4.0
  packages/telemetry/src/context-aware-slog.js
  packages/telemetry/src/temp.js
Due: none

revert temp file
  packages/telemetry/src/temp.js
Due: none

address mathieu comments 4.1
  packages/telemetry/src/context-aware-slog.js
  packages/telemetry/src/otel-context-aware-slog.js
Due: none

fix(swingset): retain vatParameters for vat creation and upgrade
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/test/state.test.js
  packages/SwingSet/test/upgrade/bootstrap-scripted-upgrade.js
  packages/SwingSet/test/upgrade/upgrade.test.js
  packages/SwingSet/test/vat-admin/create-vat.test.js
  packages/SwingSet/test/vat-admin/slow-termination/slow-termination.test.js
Due: SwingSet/kernel

feat(pause-contract): Updated contract code to contain a method for delegating pause access to a specific wallet
  packages/orchestration/src/examples/airdrop/airdrop.contract.js
  packages/orchestration/src/examples/airdrop/airdrop.proposal.js
  packages/orchestration/test/examples/pause-contract.test.js
  packages/orchestration/test/examples/tribbles-airdrop/actors.js
  packages/orchestration/test/examples/tribbles-airdrop/boot-tools.js
  packages/orchestration/test/examples/tribbles-airdrop/data/genesis.keys.js
  packages/orchestration/test/examples/tribbles-airdrop/e2e-tools.js
  packages/orchestration/test/examples/tribbles-airdrop/pauseContract.test.js
  packages/orchestration/test/examples/tribbles-airdrop/tools/README.md
  packages/orchestration/test/examples/tribbles-airdrop/tools/agd-lib.js
  packages/orchestration/test/examples/tribbles-airdrop/tools/e2e-tools.js
  packages/orchestration/test/examples/tribbles-airdrop/tools/rollup-plugin-core-eval.js
  packages/orchestration/test/examples/tribbles-airdrop/tools/ui-kit-goals/README.md
  packages/orchestration/test/examples/tribbles-airdrop/tools/ui-kit-goals/batchQuery.js
  packages/orchestration/test/examples/tribbles-airdrop/tools/ui-kit-goals/makeHttpClient.js
  packages/orchestration/test/examples/tribbles-airdrop/tools/ui-kit-goals/marshalTables.js
  packages/orchestration/test/examples/tribbles-airdrop/tools/ui-kit-goals/name-service-client.js
  packages/orchestration/test/examples/tribbles-airdrop/tools/ui-kit-goals/queryKit.js
  packages/orchestration/test/examples/tribbles-airdrop/tools/ui-kit-goals/test-nameProxy.js
Due: Orchestration

test(pause-contract): adding failing test case for feedback
  packages/orchestration/src/examples/airdrop/airdrop.contract.js
  packages/orchestration/test/examples/tribbles-airdrop/pauseContract.test.js
Due: Orchestration

address mathieu comments 4.0
  packages/telemetry/src/context-aware-slog-file.js
  packages/telemetry/src/otel-context-aware-slog.js
Due: none

chore(psm-acceptance): address change requests and apply sync tools
  a3p-integration/proposals/z:acceptance/psm.test.js
  a3p-integration/proposals/z:acceptance/test-lib/errors.js
  a3p-integration/proposals/z:acceptance/test-lib/psm-lib.js
  a3p-integration/proposals/z:acceptance/yarn.lock
Due: none

chore(sync-tools): improve types
  a3p-integration/proposals/z:acceptance/test-lib/sync-tools.js
Due: none

chore(acceptance): add tests for PSM to `z:acceptance`
  a3p-integration/proposals/z:acceptance/package.json
  a3p-integration/proposals/z:acceptance/psm.test.js
  a3p-integration/proposals/z:acceptance/test-lib/psm-lib.js
  a3p-integration/proposals/z:acceptance/test-lib/sync-tools.js
  a3p-integration/proposals/z:acceptance/test.sh
  a3p-integration/proposals/z:acceptance/yarn.lock
Due: none

handle export data modes
  golang/cosmos/daemon/cmd/root.go
  golang/cosmos/x/swingset/genesis.go
Due: none

revert logs
  golang/cosmos/cmd/agd/main.go
  golang/cosmos/cmd/libdaemon/main.go
  golang/cosmos/daemon/main.go
  golang/cosmos/x/swingset/genesis.go
  packages/cosmic-swingset/src/chain-main.js
Due: none

docs: missing typeof
  packages/SwingSet/tools/run-utils.js
Due: none

fix(internal): better stream error handling
  packages/internal/src/node/fs-stream.js
Due: none

fix(telemetry): silence slogfile write errors They'll be reported on flush
  packages/telemetry/src/slog-file.js
Due: none

feat(internal): fs stream to stdout
  packages/internal/src/node/fs-stream.js
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
