Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

chore(types): normalize agoric-any
  packages/fast-usdc-contract/src/exos/advancer.ts
  packages/fast-usdc-contract/src/exos/settler.ts
  packages/fast-usdc-contract/test/mocks.ts
  packages/orchestration/src/examples/auto-stake-it-tap-kit.js
  packages/orchestration/test/exos/chain-hub.test.ts
Due: Orchestration

chore(types): misc fixes
  multichain-testing/tools/batchQuery.js
  packages/ERTP/src/amountMath.js
  packages/SwingSet/src/vats/plugin-manager.js
  packages/fast-usdc/src/cli/lp-commands.js
  packages/fast-usdc/src/type-guards.js
  packages/vats/tools/fake-bridge.js
  packages/vow/src/E.js
  packages/zoe/src/contractFacet/types.ts
  packages/zoe/src/contractSupport/ratio.js
  packages/zoe/src/zoeService/utils.d.ts
Due: ERTP

docs: `chain-hub.js`
  packages/orchestration/src/exos/chain-hub.js
Due: Orchestration

chore: mock `unreachableChain` includes `namespace` and `reference`
  multichain-testing/test/support.ts
Due: none

chore: allow partial ChainInfo for `OrchestrationAccount<CI>` and `Chain<CI>`
  packages/orchestration/src/orchestration-api.ts
Due: Orchestration

test: skip `staking-combinations.test.ts` until #11026
  packages/orchestration/test/examples/staking-combinations.test.ts
Due: Orchestration

feat: upgrade FUSDC chainHub
  packages/fast-usdc-contract/src/fast-usdc.contract.ts
  packages/fast-usdc-deploy/src/fast-usdc-evm-solana.build.js
  packages/fast-usdc-deploy/src/upgrade-evm-solana.core.js
  packages/fast-usdc-deploy/test/fast-usdc.test.ts
  packages/orchestration/src/exos/chain-hub.js
Due: Orchestration

chore(orchestration): `yarn codegen`
  packages/boot/test/bootstrapTests/snapshots/orchestration.test.ts.md
  packages/boot/test/bootstrapTests/snapshots/orchestration.test.ts.snap
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.snap
  packages/orchestration/src/fetched-chain-info.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
  packages/orchestration/test/snapshots/chain-info.test.js.md
  packages/orchestration/test/snapshots/chain-info.test.js.snap
Due: Orchestration

feat: include `namespace` and `reference` in `coverChainInfo`
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/utils/registry.js
Due: Orchestration

types: scope `.makeAccount()` to cosmos chains
  packages/orchestration/src/orchestration-api.ts
Due: Orchestration

feat(chainHub)!: register and retrieve non-cosmos chains
  packages/builders/test/snapshots/orchestration-imports.test.js.md
  packages/builders/test/snapshots/orchestration-imports.test.js.snap
  packages/orchestration/src/examples/swap.contract.js
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/typeGuards.js
  packages/orchestration/test/exos/chain-hub.test.ts
  packages/orchestration/test/snapshots/exports.test.ts.md
  packages/orchestration/test/snapshots/exports.test.ts.snap
Due: Orchestration

test: `ChainInfo` tests include `namespace` and `reference`
  packages/boot/test/bootstrapTests/orchestration.test.ts
  packages/builders/scripts/testing/append-chain-info.js
  packages/builders/scripts/testing/tweak-chain-info.js
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/test/examples/send-anywhere.test.ts
  packages/orchestration/test/exos/chain-hub.test.ts
  packages/orchestration/test/facade-durability.test.ts
Due: Orchestration

feat!: ChainInfo requires CAIP-2 namespace and reference
  packages/orchestration/src/chain-info.js
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/types.ts
Due: Orchestration

fix(guard): `.getChain()` returns `Chain` remotable
  packages/orchestration/src/exos/orchestrator.js
Due: Orchestration

feat: `ChainHub`, `withOrchestration` accept `opts.chainInfoValueShape`
  packages/fast-usdc-contract/src/fast-usdc.contract.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/utils/start-helper.js
Due: Orchestration

fix: `icaEnabled` codegen
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.snap
  packages/orchestration/src/chain-capabilities.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
Due: Orchestration

feat: `remote-chain-facade.js` handles non-cosmos chains
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/remote-chain-facade.js
Due: Orchestration

feat: cctp-chain-info.js
  packages/orchestration/src/cctp-chain-info.js
Due: Orchestration

refactor: `BaseChainInfo` does not require `chainId`
  packages/boot/test/bootstrapTests/orchestration.test.ts
  packages/builders/scripts/testing/append-chain-info.js
  packages/builders/test/snapshots/orchestration-imports.test.js.md
  packages/builders/test/snapshots/orchestration-imports.test.js.snap
  packages/fast-usdc-contract/src/fast-usdc.contract.ts
  packages/fast-usdc/src/type-guards.js
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/remote-chain-facade.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/typeGuards.js
  packages/orchestration/test/examples/send-anywhere.test.ts
  packages/orchestration/test/exos/chain-hub.test.ts
  packages/orchestration/test/facade-durability.test.ts
  packages/orchestration/test/snapshots/exports.test.ts.md
  packages/orchestration/test/snapshots/exports.test.ts.snap
Due: Orchestration

chore(types): inquisitor makeHelpers
  packages/cosmic-swingset/test/inquisitor.test.js
  packages/cosmic-swingset/tools/inquisitor.mjs
Due: none

feat: getVatDetailsByName
  packages/boot/tools/supports.ts
Due: none

test: incarnation number
  packages/fast-usdc-deploy/test/fast-usdc.test.ts
Due: none

feat: create seperate contract for axelar-gmp
  packages/orchestration/package.json
  packages/orchestration/src/examples/axelar-gmp.js
  packages/orchestration/src/examples/axelar.flows.js
  yarn.lock
Due: Orchestration

chore: update flows and contracts
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/axelar-gmp.flows.js
  packages/orchestration/src/examples/axelar-token-transfer.flows.js
  packages/orchestration/src/examples/evm-tap-kit.js
  packages/orchestration/src/examples/lca-evm.flows.js
  packages/orchestration/src/proposals/start-axelar-gmp.js
Due: Orchestration

test: add bootstrap test for axelar-gmp contract
  packages/boot/test/orchestration/axelar-gmp-upgrade.test.ts
  packages/orchestration/src/examples/axelar.flows.js
  packages/orchestration/src/proposals/start-axelar-gmp.js
Due: Orchestration

chore: update contract and flows
  .gitignore
  packages/orchestration/src/examples/axelar-evm.flows.js
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/axelar-gmp.flows.js
  packages/orchestration/src/examples/axelar-token-transfer.flows.js
  packages/orchestration/src/examples/evm-tap-kit.js
  packages/orchestration/src/proposals/start-axelar-gmp.js
Due: Orchestration

feat: changes in send-anywhere.flow.js for agoric to evm invocations
  packages/orchestration/src/examples/send-anywhere.flows.js
Due: Orchestration

fixup! chore: get contract invocation payload off chain
  packages/boot/test/orchestration/axelar-gmp.test.ts
Due: none

fix: add patch for @ethersproject/random v5.8.0
  packages/orchestration/package.json
  patches/@ethersproject+random+5.8.0.patch
  yarn.lock
Due: none

chore: working version with deep imports
  packages/builders/scripts/testing/init-axelar-gmp.js
  packages/orchestration/package.json
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/proposals/start-axelar-gmp.js
Due: Orchestration

test: successful token transfer via axelar gmp
  packages/boot/test/orchestration/axelar-gmp.test.ts
  packages/orchestration/src/examples/axelar-gmp.flows.js
Due: Orchestration

chore: make @ethersproject/abi ses compatible
  package.json
  packages/orchestration/package.json
  packages/orchestration/src/examples/axelar-gmp.contract.js
  patches/@ethersproject+random+5.7.0.patch
  patches/bn.js+5.2.0.patch
  yarn.lock
Due: Orchestration

chore: update package.json and yarn.lock
  package.json
  yarn.lock
Due: none

test: bundle size and format
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/examples/evm-tap-kit.js
  packages/orchestration/test/examples/test-axelar-bundle-source.test.ts
Due: Orchestration

chore: construct contract call payload
  packages/orchestration/src/examples/axelar.flows.js
Due: Orchestration

chore: get contract invocation payload off chain
  packages/boot/test/orchestration/axelar-gmp-upgrade.test.ts
  packages/orchestration/package.json
  packages/orchestration/src/examples/axelar.flows.js
  yarn.lock
Due: Orchestration

chore: working version without patch
  packages/orchestration/package.json
  patches/@ethersproject+random+5.7.0.patch
  patches/bn.js+5.2.0.patch
  yarn.lock
Due: none

chore: create a seperate flows file for agoric to evm transactions
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-axelar.flows.js
Due: Orchestration

fix: validate destination address
  packages/boot/test/orchestration/axelar-gmp-token-transfer.test.ts
  packages/orchestration/src/examples/axelar-gmp.flows.js
Due: Orchestration

test: simulate resolving ibc transfers
  packages/boot/test/orchestration/axelar-gmp.test.ts
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
