Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

fixup: Apply suggestions from code review
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-xsnap.js
Due: SwingSet/kernel

fixup(SwingSet): another small fix in saveSnapshot()
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-xsnap.js
Due: SwingSet/kernel

chore(SwingSet): lint-fix
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-xsnap.js
Due: SwingSet/kernel

test(vow): test unhandled vow rejection machinery
  packages/orchestration/package.json
  packages/vow/package.json
  packages/vow/test/retryable.test.js
  packages/vow/test/watch-upgrade.test.js
Due: none

fix(vow): report unhandled rejections on vow collection or upgrade
  packages/vow/src/rejection-tracker.js
  packages/vow/src/tools.js
  packages/vow/src/vow-utils.js
  packages/vow/src/vow.js
  packages/vow/src/watch.js
Due: none

test: update golden snapshots for `VowRejectionTrackerKit`
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc/test/snapshots/fast-usdc.contract.test.ts.snap
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
  packages/zoe/test/unitTests/contracts/snapshots/valueVow.test.js.md
  packages/zoe/test/unitTests/contracts/snapshots/valueVow.test.js.snap
Due: Orchestration

fixup! test(vow): test unhandled vow rejection machinery
  packages/orchestration/package.json
  packages/vow/package.json
  packages/vow/src/vow-utils.js
  patches/ava+5.3.1.patch
Due: none

refactor(vow): rename type `VowV0` to `VowPayloadV0`
  packages/vow/src/rejection-tracker.js
  packages/vow/src/types.ts
Due: none

chore: return to pool on advance failure
  packages/fast-usdc/src/exos/advancer.js
  packages/fast-usdc/src/fast-usdc.contract.js
  packages/fast-usdc/test/exos/advancer.test.ts
Due: none

chore: forward failed alert
  packages/fast-usdc/src/exos/settler.js
Due: none

test: Add tests for error handling during Advancer recovery
  packages/fast-usdc/test/exos/advancer.test.ts
Due: none

test: Add checks to verify returnToPool is called after bank send fails
  packages/fast-usdc/test/exos/advancer.test.ts
Due: none

WIP: update, refactor devnet deploy info
  packages/fast-usdc/src/utils/deploy-config.js
Due: none

fixup! test(vow): test unhandled vow rejection machinery
  packages/orchestration/package.json
  packages/vow/package.json
  patches/ava+5.3.1.patch
Due: none

ci(test-all-packages): run `test:ci` for packages that need it
  .github/workflows/test-all-packages.yml
Due: none

chore(internal): Disable tsconfig suppressions
  packages/internal/src/priority-senders.js
  packages/internal/tsconfig.json
Due: none

chore(swing-store): Narrow AnyIterableIterator to AnyIterable
  packages/swing-store/src/exporter.js
  packages/swing-store/src/snapStore.js
  packages/swing-store/src/transcriptStore.js
Due: swing-store

chore(swing-store): Add type SwingStoreOptions
  packages/swing-store/src/snapStore.js
  packages/swing-store/src/swingStore.js
  packages/swing-store/src/transcriptStore.js
Due: swing-store

chore(swing-store): Fix documentation typos
  packages/swing-store/src/assertComplete.js
  packages/swing-store/src/kvStore.js
  packages/swing-store/src/snapStore.js
Due: swing-store

feat(internal): Add `pick` utility
  packages/internal/src/index.js
  packages/internal/src/ses-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
Due: none

refactor(swing-store): Use new `pick` utility
  packages/swing-store/src/swingStore.js
Due: swing-store

feat(cosmic-swingset): Expose a controller and associated helpers from test-kit.js
  packages/SwingSet/tools/run-utils.js
  packages/boot/test/upgrading/upgrade-vats.test.ts
  packages/boot/tools/supports.ts
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/cosmic-swingset/tools/test-kit.js
Due: none

feat(cosmic-swingset): Add `getNextKey` support to BufferedStorage
  packages/cosmic-swingset/src/helpers/bufferedStorage.js
Due: none

feat(swing-store): Add options for opening swing-stores
  packages/swing-store/src/assertComplete.js
  packages/swing-store/src/swingStore.js
Due: swing-store

refactor(swing-store): Extract all makeSwingStore options up front
  packages/swing-store/src/swingStore.js
Due: swing-store

feat(internal): Add `defineName` utility
  packages/internal/src/js-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
Due: none

chore: Add lint coverage for tools/
  eslint.config.mjs
  packages/cosmic-swingset/tsconfig.json
Due: none

feat(cosmic-swingset): Introduce inquisitor.mjs
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/tools/inquisitor.mjs
  packages/swing-store/src/bundleStore.js
  packages/swing-store/src/index.js
  packages/swing-store/src/internal.js
  packages/swing-store/src/swingStore.js
Due: swing-store

feat(internal): Generalize single-level `pick` utility to recursive `attenuate`
  packages/cosmic-swingset/src/launch-chain.js
  packages/internal/src/ses-utils.js
  packages/internal/src/types.ts
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
  packages/internal/test/types.test-d.ts
  packages/swing-store/src/swingStore.js
Due: swing-store

fix(benchmark-test): suggestions for #10975
  packages/agoric-cli/src/sdk-package-names.js
  packages/benchmark-test/benchmark.js
  packages/benchmark-test/benchmark.test.js
  packages/benchmark-test/package.json
  packages/benchmark-test/rollup.config.js
  packages/benchmark-test/test/benchmark.test.js
  packages/benchmark-test/tools/benchmark.js
  packages/benchmark-test/tsconfig.build.json
  packages/benchmark-test/tsconfig.json
  packages/benchmark-test/typedoc.json
  yarn.lock
Due: none

feat: create seperate contract for axelar-gmp
  packages/orchestration/package.json
  packages/orchestration/src/examples/axelar-gmp.js
  packages/orchestration/src/examples/axelar.flows.js
  yarn.lock
Due: Orchestration

chore: construct contract call payload
  packages/orchestration/src/examples/axelar.flows.js
Due: Orchestration

feat: builder script for axelar-gmp contract
  packages/builders/scripts/testing/init-axelar-gmp.js
  packages/orchestration/src/examples/axelar-gmp.contract.js
  packages/orchestration/src/proposals/start-axelar-gmp.js
Due: Orchestration

docs: update destination arg description in ICA transfer
  packages/orchestration/src/orchestration-api.ts
Due: Orchestration

test: add bootstrap test for axelar-gmp contract
  packages/boot/test/orchestration/axelar-gmp-upgrade.test.ts
  packages/orchestration/src/examples/axelar.flows.js
  packages/orchestration/src/proposals/start-axelar-gmp.js
Due: Orchestration

test(fast-usdc): make txHash collisions less likely
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
Due: none

add ibc transfer rejection callbacks in elys contract
  packages/orchestration/src/examples/elys-contract-tap-kit.js
  packages/orchestration/src/examples/elys-contract.flow.js
  packages/orchestration/src/examples/elys.contract.js
Due: Orchestration

test: migrate u19 tests to upgrade-next; update upgrade.go
  a3p-integration/proposals/n:upgrade-next/.gitignore
  a3p-integration/proposals/n:upgrade-next/agoricNames.test.js
  a3p-integration/proposals/n:upgrade-next/eval.sh
  a3p-integration/proposals/n:upgrade-next/initial.test.js
  a3p-integration/proposals/n:upgrade-next/mint-payment/send-script-permit.json
  a3p-integration/proposals/n:upgrade-next/mint-payment/send-script.tjs
  a3p-integration/proposals/n:upgrade-next/mintHolder.test.js
  a3p-integration/proposals/n:upgrade-next/nullUpgradePP/null-upgrade-pp.js
  a3p-integration/proposals/n:upgrade-next/package.json
  a3p-integration/proposals/n:upgrade-next/provisionPool.test.js
  a3p-integration/proposals/n:upgrade-next/psm.test.js
  a3p-integration/proposals/n:upgrade-next/test-lib/mintHolder-helpers.js
  a3p-integration/proposals/n:upgrade-next/test.sh
  a3p-integration/proposals/n:upgrade-next/tsconfig.json
  golang/cosmos/app/upgrade.go
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
