Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

chore(types): declare chainstorage fn returns
  packages/internal/src/lib-chainStorage.js
Due: none

fix: narrow getStoreKey return guard
  packages/internal/src/lib-chainStorage.js
Due: none

build(deps): patch ses to restore Float* TypedArrays as compartment globals
  .yarn/patches/.patchlift/ses-npm-2.2.0-8184219d81.yml
  .yarn/patches/ses-npm-2.2.0-8184219d81.patch
  package.json
  yarn.lock
Due: none

fix(types): recover TestFn typing past ses-ava wrapTest
  packages/SwingSet/tools/prepare-test-env-ava.js
Due: none

chore(types): adopt CastedPattern; tighten ERTP, vow, lib-chainStorage
  packages/ERTP/src/amountMath.js
  packages/ERTP/src/typeGuards.js
  packages/ERTP/src/types.ts
  packages/ERTP/test/types.test-d.ts
  packages/internal/src/lib-chainStorage.js
  packages/internal/src/types.ts
  packages/orchestration/src/exos/icq-connection-kit.js
  packages/vats/src/vat-bank.js
  packages/vow/src/index.js
  packages/vow/src/types.ts
  packages/vow/src/vow-utils.js
Due: ERTP, Orchestration

chore(types): decouple vats from orchestration; fix bridge handler types
  packages/vats/src/bridge-target.js
  packages/vats/src/bridge.js
  packages/vats/src/core/types.ts
  packages/vats/src/localchain.js
  packages/vats/src/types.ts
Due: none

chore(types): InvitationShape uses Invitation<any, any>
  packages/zoe/src/typeGuards.js
Due: none

fix(multichain-testing): use in-tree portal paths
  multichain-testing/package.json
  multichain-testing/yarn.lock
Due: none

build(deps): run scripts/update-package-locks.sh
  a3p-integration/proposals/f:ymax0-restart/yarn.lock
  a3p-integration/proposals/g:ymax1/yarn.lock
  a3p-integration/proposals/h:hook-msg-send/yarn.lock
  a3p-integration/proposals/k:param-change/yarn.lock
  a3p-integration/proposals/l:wallet-upgrade/yarn.lock
  a3p-integration/proposals/m:before-next-upgrade/yarn.lock
  a3p-integration/proposals/n:upgrade-next/yarn.lock
  a3p-integration/proposals/z:acceptance/yarn.lock
  a3p-integration/yarn.lock
Due: none

chore(types): use M.splitArray for nameHub entries shape
  packages/vats/src/nameHub.js
Due: none

chore(types): fix JSDoc type in .ts
  packages/boot/test/tools/changeVaultParams.ts
  services/ymax-planner/src/vstorage-utils.ts
Due: none

fix(swingset-vat): assert bootstrapArgs Passable through unknown
  packages/SwingSet/src/controller/initializeKernel.js
Due: none

chore(types): cast watcher channelHandler and exo-helpers methods
  packages/orchestration/src/exos/cosmos-interchain-service.js
  packages/orchestration/src/exos/ibc-packet.js
  packages/orchestration/src/utils/exo-helpers.js
Due: Orchestration

lint: don't eslint .md files
  eslint.config.mjs
Due: none

chore(types): cleanup code review findings
  packages/orchestration/docs/types.md
  packages/vats/src/nameHub.js
  packages/zone/src/durable.js
Due: Orchestration

fix(a3p): name and set type:module on a3p-integration packages
  a3p-integration/package.json
  a3p-integration/proposals/f:ymax0-restart/yarn.lock
  a3p-integration/proposals/g:ymax1/yarn.lock
  a3p-integration/proposals/h:hook-msg-send/yarn.lock
  a3p-integration/proposals/k:param-change/yarn.lock
  a3p-integration/proposals/l:wallet-upgrade/yarn.lock
  a3p-integration/proposals/m:before-next-upgrade/yarn.lock
  a3p-integration/proposals/n:upgrade-next/yarn.lock
  a3p-integration/proposals/z:acceptance/yarn.lock
  a3p-integration/yarn.lock
Due: none

chore(swingset-vat): increase meter allocation for Endo update
  MAINTAINERS.md
  a3p-integration/proposals/f:ymax0-restart/package.json
  a3p-integration/proposals/g:ymax1/package.json
  a3p-integration/proposals/h:hook-msg-send/package.json
  a3p-integration/proposals/k:param-change/package.json
  a3p-integration/proposals/l:wallet-upgrade/package.json
  a3p-integration/proposals/m:before-next-upgrade/package.json
  a3p-integration/proposals/n:upgrade-next/package.json
  a3p-integration/proposals/z:acceptance/package.json
  packages/SwingSet/test/metering/dynamic-vat-metered.test.js
Due: none

chore(types): annotate cosmos-interchain-service public Vow returns
  packages/orchestration/src/exos/cosmos-interchain-service.js
Due: Orchestration

test(vow): regression tests for heapVowE Vow-chain unwrapping
  packages/vow/test/types.test-d.ts
Due: none

refactor(types): extract StorageNode
  packages/internal/src/lib-chainStorage.js
  packages/internal/src/types.ts
Due: none

chore(swingset-vat): Update xsnap store test snapshots
  packages/SwingSet/test/snapshots/xsnap-store.test.js.md
  packages/SwingSet/test/snapshots/xsnap-store.test.js.snap
Due: none

chore(types): exo-helpers overrideVow returns Vow<Fulfilled<T>>
  packages/orchestration/src/utils/exo-helpers.js
Due: Orchestration

docs: skill for Endo sync
  .agents/skills/syncing-endo-dependencies/SKILL.md
Due: none

chore(lint): work around typescript-eslint
  packages/governance/src/contractGovernance/governParam.js
Due: none

chore(types): make Vow\$ a proper CastedPattern factory
  packages/orchestration/src/exos/icq-connection-kit.js
  packages/vow/src/vow-utils.js
  packages/vow/test/snapshots/exports.test.js.md
  packages/vow/test/snapshots/exports.test.js.snap
Due: Orchestration

chore(types): import ConnectionHandler in cosmos-interchain-service
  packages/orchestration/src/exos/cosmos-interchain-service.js
Due: Orchestration

test(a3p): fail z:acceptance fast on follower consensus failure
  a3p-integration/proposals/z:acceptance/host/before-test-run.sh
Due: none

chore: Bump xsnap meter type
  packages/xsnap/api.js
Due: none

feat(vow): VowShape carries Vow type; watch unwraps nested Vows
  packages/inter-protocol/test/feeDistributor.test.js
  packages/vow/src/types.ts
  packages/vow/src/vow-utils.js
  packages/vow/src/watch.js
Due: none

chore(types): narrow ERTP issuer.burn; tighten vats virtual-purse to 'nat'
  packages/ERTP/src/amountMath.js
  packages/ERTP/src/types.ts
  packages/vats/src/transfer.js
  packages/vats/src/vat-bank.js
  packages/vats/src/virtual-purse.js
  packages/vats/test/vat-bank.test.js
  packages/vats/test/vpurse.test.js
Due: ERTP

chore(types): inline PromiseShape cast in vats bridge.js and nameHub.js
  packages/vats/src/bridge.js
  packages/vats/src/nameHub.js
Due: none

chore(deps): declare endo/common
  packages/fast-usdc-deploy/package.json
  packages/orchestration/package.json
  yarn.lock
Due: none

docs: types and type tests
  packages/orchestration/docs/types.md
  packages/orchestration/src/exos/icq-connection-kit.js
  packages/portfolio-deploy/src/control/postal-service.contract.js
Due: Orchestration

build(a3p-integration): pin @endo resolutions for Endo sync
  a3p-integration/package.json
  a3p-integration/proposals/n:upgrade-next/package.json
Due: none

chore(types): drop spurious invalid-Bech32 ts-expect-error
  packages/orchestration/test/examples/stake-ica.contract.test.ts
Due: Orchestration

fix(a3p): declare ts-blank-space dep in g:ymax1 proposal
  a3p-integration/proposals/g:ymax1/package.json
  a3p-integration/proposals/g:ymax1/yarn.lock
Due: none

docs(typescript): add Type-level tests section covering test-d patterns
  docs/typescript.md
Due: none

chore(types): tighten remaining guard/impl mismatches
  packages/fast-usdc-contract/src/exos/status-manager.ts
  packages/fast-usdc-deploy/src/utils/deploy-config.js
  packages/portfolio-contract/src/evm-wallet-handler.exo.ts
  packages/portfolio-contract/test/portfolio.contract.test.ts
  packages/vats/src/bridge.js
  packages/vow/src/watch.js
Due: none

fix(zoe): tighten TransferPart typedef and stop hardening splitArray literal
  packages/zoe/src/contractFacet/types.ts
  packages/zoe/src/contractSupport/atomicTransfer.js
  packages/zoe/test/types.test-d.ts
Due: none

chore(types): multichain-testing accomodations for Endo bump
  multichain-testing/scripts/ymax-tool.ts
  multichain-testing/tools/e2e-tools.js
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
