Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

test(ERTP): balance {x, y, z} >= {z}
  packages/ERTP/test/unitTests/mathHelpers/copySetMathHelpers.test.js
Due: ERTP

address mathieu comments
  packages/telemetry/src/context-aware-slog.js
Due: none

yarn
  packages/telemetry/src/context-aware-slog.js
  yarn.lock
Due: none

remove async usage
  packages/telemetry/src/context-aware-slog.js
Due: none

chore: clean up after incarnation2 repair
  packages/smart-wallet/src/smartWallet.js
  packages/smart-wallet/src/walletFactory.js
  packages/smart-wallet/test/invitation1.test.js
  packages/smart-wallet/test/swingsetTests/upgradeWalletFactory/walletFactory-V2.js
Due: none

chore: rm unused deploy-contracts script
  packages/builders/scripts/inter-protocol/deploy-contracts.js
Due: none

fix: validate scriptArgs endowment
  packages/builders/scripts/inter-protocol/updatePriceFeeds.js
  packages/deploy-script-support/src/externalTypes.js
Due: none

chore(types): define DeployScriptFunction
  packages/builders/scripts/inter-protocol/add-collateral-core.js
  packages/deploy-script-support/src/cachedBundleSpec.js
  packages/deploy-script-support/src/externalTypes.js
  packages/deploy-script-support/src/helpers.js
  packages/deploy-script-support/src/writeCoreEvalParts.js
  packages/inter-protocol/src/proposals/utils.js
  tsconfig.build.json
Due: none

test: bump zoe incarnation number
  a3p-integration/proposals/n:upgrade-next/initial.test.js
Due: none

feat: add zoe upgrade to upgrade.go
  golang/cosmos/app/upgrade.go
Due: none

build: stub fast-usdc package
  packages/agoric-cli/src/sdk-package-names.js
  packages/fast-usdc/README.md
  packages/fast-usdc/package.json
Due: none

feat: add CLI for fast-usdc package
  packages/fast-usdc/package.json
  packages/fast-usdc/src/cli.js
  packages/fast-usdc/tsconfig.json
  yarn.lock
Due: none

ci: include fast-usdc in tested packages
  .github/workflows/test-all-packages.yml
  scripts/check-untested-packages.mjs
Due: none

test: verify output
  packages/fast-usdc/package.json
  packages/fast-usdc/test/cli.test.ts
  packages/fast-usdc/test/snapshots/cli.test.ts.md
  packages/fast-usdc/test/snapshots/cli.test.ts.snap
Due: none

style: prettier package.json
  packages/fast-usdc/package.json
Due: none

test(quickSend): a3p deployment to agoricNames.instance
  a3p-integration/proposals/d:quick-send/.yarnrc.yml
  a3p-integration/proposals/d:quick-send/package.json
  a3p-integration/proposals/d:quick-send/quick-load.test.js
  a3p-integration/proposals/d:quick-send/test.sh
  a3p-integration/proposals/d:quick-send/yarn.lock
  packages/orchestration/src/proposals/start-quickSend.js
Due: Orchestration

chore: extract computron-counter for boot testing
  packages/boot/tools/computron-counter.js
Due: none

test: fix computron handling; report Mc
  packages/SwingSet/tools/run-utils.js
  packages/boot/test/bootstrapTests/quickSend.test.ts
  packages/boot/tools/supports.ts
Due: none

fix(quickSend): contract requires USDC brand
  packages/orchestration/src/examples/quickSend.contract.js
  packages/orchestration/src/proposals/start-quickSend.js
Due: Orchestration

chore: mock registerAsset in quickSend-tx.test
  packages/orchestration/test/examples/quickSend-tx.test.ts
  packages/orchestration/tools/agoric-mock.js
Due: Orchestration

chore: quick-n-dirty vstorage client w/explicit io
  a3p-integration/proposals/d:quick-send/test-lib/cosmos-api.js
  a3p-integration/proposals/d:quick-send/test-lib/vstorage-client.js
Due: none

test(quickSend): measure advance computrons
  packages/boot/test/bootstrapTests/quickSend.test.ts
  packages/orchestration/src/examples/quickSend.flows.js
Due: Orchestration

test(boot): thread run policy thru to controller
  packages/boot/test/bootstrapTests/walletFactory.ts
  packages/boot/tools/supports.ts
Due: none

chore(quickSend): register USDC asset for transfer
  packages/orchestration/src/examples/quickSend.contract.js
  packages/orchestration/src/examples/quickSend.flows.js
Due: Orchestration

test(quickSend): initial computron performance measurement
  packages/boot/test/bootstrapTests/quickSend.test.ts
Due: none

feat(quickSend): thread watcherAddress config out to builder CLI
  packages/builders/scripts/orchestration/init-quickSend.js
  packages/orchestration/src/proposals/start-quickSend.js
Due: Orchestration

feat(makeRunUtils): thread a run policy into controller.run()
  packages/SwingSet/tools/run-utils.js
Due: none

chore: support $SLOGFILE in quickSend perf test
  packages/boot/test/bootstrapTests/quickSend.test.ts
Due: none

refactor: fast-usdc files to own package
  packages/fast-usdc/contract/quickSend.contract.js
  packages/fast-usdc/contract/quickSend.flows.js
  packages/fast-usdc/contract/start-quickSend.js
  packages/fast-usdc/test/quickSend-tx.test.ts
  packages/fast-usdc/tools/agoric-mock.js
  packages/fast-usdc/tools/cosmoverse-mock.js
  packages/fast-usdc/tools/eth-mock.ts
  packages/fast-usdc/tools/noble-mock.js
  packages/orchestration/src/utils/address.js
Due: Orchestration

test(fast-usdc): tx lifecycle no longer failing
  packages/fast-usdc/test/quickSend-tx.test.ts
Due: none

test(fast-usdc): restore quickSend boot test
  packages/boot/test/bootstrapTests/quickSend.test.ts
  packages/builders/package.json
  packages/builders/scripts/fast-usdc/init-quickSend.js
Due: none

fixup! test(quickSend): measure advance computrons
  packages/boot/test/bootstrapTests/quickSend.test.ts
Due: none

test(perf): added sample performance tests
  airdrop-testing/test/performance.test.ts
Due: none

test: renamed macro function, added invocation of setupSpecificKeys
  airdrop-testing/test/performance.test.ts
Due: none

address mathieu comments 2.0
  packages/telemetry/src/context-aware-slog.js
  packages/telemetry/src/otel-context-aware-slog.js
Due: none

chore: dont version private packages
  scripts/registry.sh
Due: none

chore: update config for MAINNET
  packages/builders/scripts/inter-protocol/replace-electorate-core.js
Due: none

local runner script
  packages/telemetry/src/otel-context-aware-slog.js
  packages/telemetry/src/temp.js
Due: none
