Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

chore(noble-usdn-lab): mainnet config for MKFWD
  multichain-testing/scripts/noble-usdn-lab.ts
  multichain-testing/tools/noble-aux.ts
Due: none

chore(ymax-ops): fund-fee-acct refinements
  multichain-testing/ymax-ops/Makefile
Due: none

chore(noble-usdn-lab): moar NFA
  multichain-testing/scripts/noble-usdn-lab.ts
  multichain-testing/tools/noble-aux.ts
Due: none

ci: generic coreeval builder workflow
  .github/workflows/build-coreeval.yml
Due: none

chore: remove pr trigger
  .github/workflows/build-coreeval.yml
Due: none

chore(SwingSet): Reduce "lost ~~objects~~ krefs" noise by suppressing the log messages for GC actions
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

chore: update type-coverage
  packages/smart-wallet/package.json
Due: none

refactor: offer types as .ts
  packages/smart-wallet/src/offerWatcher.js
  packages/smart-wallet/src/offers.js
  packages/smart-wallet/src/offers.ts
  packages/smart-wallet/tsconfig.json
Due: none

refactor: convert smart-wallet test supports to .ts
  packages/boot/test/bootstrapTests/wallet-fun.test.ts
  packages/builders/scripts/smart-wallet/build-game1-start.js
  packages/deploy-script-support/README.md
  packages/smart-wallet/test/addAsset.test.ts
  packages/smart-wallet/test/contexts.ts
  packages/smart-wallet/test/gameAssetContract.ts
  packages/smart-wallet/test/invoke-result.test.ts
  packages/smart-wallet/test/start-game1-proposal.ts
  packages/smart-wallet/test/startWalletFactory.test.ts
  packages/smart-wallet/test/supports.ts
  packages/smart-wallet/test/swingsetTests/upgradeWalletFactory/bootstrap-walletFactory-service-upgrade.ts
  packages/smart-wallet/test/swingsetTests/upgradeWalletFactory/walletFactory-V2.js
  packages/smart-wallet/test/swingsetTests/upgradeWalletFactory/walletFactory-V2.ts
  packages/smart-wallet/test/swingsetTests/upgradeWalletFactory/walletFactory-service-upgrade.test.ts
  packages/smart-wallet/test/wallet-fun.contract.ts
  packages/smart-wallet/test/walletFactory.test.ts
Due: none

test: smart-wallet types
  packages/smart-wallet/test/types.test-d.ts
Due: none

refactor: convert tests to .ts
  packages/smart-wallet/package.json
  packages/smart-wallet/test/addAsset.test.ts
  packages/smart-wallet/test/exports.test.ts
  packages/smart-wallet/test/invitation1.test.ts
  packages/smart-wallet/test/invoke-result.test.ts
  packages/smart-wallet/test/marshal-contexts.test.ts
  packages/smart-wallet/test/snapshots/exports.test.js.md
  packages/smart-wallet/test/snapshots/exports.test.ts.md
  packages/smart-wallet/test/snapshots/exports.test.ts.snap
  packages/smart-wallet/test/startWalletFactory.test.ts
  packages/smart-wallet/test/swingsetTests/upgradeWalletFactory/walletFactory-service-upgrade.test.ts
  packages/smart-wallet/test/walletFactory.test.ts
Due: none

fixup! refactor: offer types as .ts
  packages/smart-wallet/src/smartWallet.js
Due: none

fixup! refactor: convert tests to .ts
  packages/smart-wallet/test/addAsset.test.ts
Due: none

chore: minor tweaks to linting
  .prettierrc.json5
  eslint.config.mjs
Due: none

chore(ymax-ops): avoid upgrading ymax0 when we meant ymax1 and vv
  multichain-testing/ymax-ops/Makefile
Due: none

test(SwingSet): Simplify upgrade.test.js helpers
  packages/SwingSet/test/upgrade/upgrade.test.js
Due: none

test(SwingSet): Add coverage for failed upgrade exporting a promise
  packages/SwingSet/test/upgrade/upgrade.test.js
Due: none

test(SwingSet): Extend vat-puppet to support watchPromise
  packages/SwingSet/package.json
  packages/SwingSet/tools/vat-puppet.js
  yarn.lock
Due: none

test(SwingSet): Extend vat-puppet to support init-time root object method calls
  packages/SwingSet/tools/vat-puppet.js
Due: none

test(SwingSet): Extend vat-puppet reflection methods
  packages/SwingSet/tools/vat-puppet.js
Due: none

fix(SwingSet): Tolerate absence of a kpid from maybeFreeKrefs
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/upgrade/upgrade.test.js
Due: SwingSet/kernel

chore(SwingSet): Improve "lost krefs" log messages
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

refactor(SwingSet): Replace redefinition typedefs with simple imports
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

chore(SwingSet): Don't emit "lost krefs" log messages for GC messages
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

refactor(SwingSet): bringOutYourDead is a GC message
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

fixup! test(SwingSet): Extend vat-puppet to support watchPromise
  packages/SwingSet/package.json
  packages/SwingSet/tools/vat-puppet.js
Due: none

fixup! test(SwingSet): Extend vat-puppet to support watchPromise
  yarn.lock
Due: none

refactor(SwingSet): Improve processCleanupTerminatedVat variable locality
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

chore(SwingSet): Address eslint warning
  packages/SwingSet/src/types-external.js
Due: none

feat(SwingSet): Make `slogDuration` startLabel optional
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/types-external.js
Due: SwingSet/kernel

feat(SwingSet): Record duration of processCleanupTerminatedVat vat-cleanup work
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

chore: switch to strict ts-blank-space loader
  multichain-testing/ava.config.js
  multichain-testing/package.json
  multichain-testing/scripts/cctp-lab.ts
  multichain-testing/scripts/create-noble-swap-pool.ts
  multichain-testing/scripts/deploy-cli.ts
  multichain-testing/scripts/fast-usdc-tool.ts
  multichain-testing/scripts/fetch-starship-chain-info.ts
  multichain-testing/scripts/fund-provision-pool.ts
  multichain-testing/scripts/install-bundle.ts
  multichain-testing/scripts/make-bank-asset-info.ts
  multichain-testing/scripts/noble-usdn-lab.ts
  multichain-testing/scripts/pod-readiness.ts
  multichain-testing/scripts/ymax-tool.ts
  multichain-testing/yarn.lock
  packages/agoric-cli/src/sdk-package-names.js
  packages/boot/package.json
  packages/client-utils/package.json
  packages/cosmic-swingset/package.json
  packages/fast-usdc-contract/package.json
  packages/fast-usdc-deploy/package.json
  packages/fast-usdc-deploy/scripts/check-forward-fails.ts
  packages/fast-usdc/package.json
  packages/orchestration/package.json
  packages/orchestration/scripts/fetch-chain-info.ts
  packages/portfolio-api/package.json
  packages/portfolio-contract/package.json
  packages/portfolio-deploy/package.json
  packages/portfolio-deploy/scripts/deploy-cli.ts
  packages/strict-ts-loader/README.md
  packages/strict-ts-loader/hooks.js
  packages/strict-ts-loader/index.js
  packages/strict-ts-loader/package.json
  scripts/report-globals.ts
  services/ymax-planner/package.json
  yarn.lock
Due: Orchestration

chore: restrict .ts import cross package
  eslint.config.mjs
  package.json
  packages/portfolio-deploy/src/portfolio-start.type.ts
  yarn.lock
Due: none

@aglocal/boot/tools/supports.js
  .github/workflows/test-all-packages.yml
  packages/strict-ts-loader/package.json
Due: none

chore: use actual file extensions
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
  multichain-testing/test/fast-usdc/fu-actors.ts
  packages/benchmark/benchmark/benchmark-liquidation.js
  packages/benchmark/src/benchmarkerator.js
  packages/fast-usdc-contract/src/exos/advancer.ts
  packages/fast-usdc-contract/src/exos/liquidity-pool.ts
  packages/fast-usdc-contract/src/exos/operator-kit.ts
  packages/fast-usdc-contract/src/exos/settler.ts
  packages/fast-usdc-contract/src/exos/status-manager.ts
  packages/fast-usdc-contract/src/exos/transaction-feed.ts
  packages/fast-usdc-contract/src/fast-usdc.contract.ts
  packages/fast-usdc-contract/test/exos/settler.test.ts
  packages/fast-usdc-contract/test/exos/status-manager.test.ts
  packages/fast-usdc-contract/test/mocks.ts
  packages/fast-usdc-deploy/src/add-operators.core.js
  packages/fast-usdc-deploy/src/fast-usdc-policy.core.js
  packages/fast-usdc-deploy/src/start-fast-usdc.core.js
  packages/fast-usdc-deploy/src/update-noble-ica.core.js
  packages/fast-usdc-deploy/src/utils/chain-policies.js
  packages/fast-usdc-deploy/src/utils/core-eval.js
  packages/fast-usdc-deploy/test/chain-impact.test.ts
  packages/fast-usdc-deploy/test/fast-usdc.test.ts
  packages/fast-usdc-deploy/test/fu-sim-iter.ts
  packages/fast-usdc-deploy/test/utils/chain-policies.test.ts
  packages/fast-usdc-deploy/test/walletFactory.ts
  packages/fast-usdc/src/operator-kit-interface.js
  packages/portfolio-contract/test/mocks.ts
  packages/portfolio-contract/test/network/prod-network.test.ts
  packages/portfolio-deploy/test/contract-control.test.ts
  packages/portfolio-deploy/test/portfolio-start.core.test.ts
  packages/portfolio-deploy/test/walletFactory.ts
  services/ymax-planner/src/engine.ts
  services/ymax-planner/src/plan-deposit.ts
  services/ymax-planner/test/deposit-tools.test.ts
Due: none

fixup! ci: generic coreeval builder workflow
  .github/workflows/build-coreeval.yml
Due: none

chore: rename workflow
  .github/workflows/build-bundles.yml
Due: none

matrix removed;
  .github/workflows/docker-testing.yml
  services/ymax-planner/Dockerfile.testing
Due: none

scripts used;
  .github/scripts/check_digest.sh
  .github/scripts/deploy_vm.sh
  .github/workflows/docker-testing.yml
Due: none
