Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

codecov.yaml:

codecov:
  require_ci_to_pass: true
comment:
  layout: "flags, components, files"
  behavior: default
  hide_project_coverage: false
coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
github_checks:
  annotations: false
parsers:
  javascript:
    enable_partials: yes
ignore:
  - '**/*.json'
component_management:
  individual_components:
    - component_id: module_swingset_kernel  
      name: SwingSet/kernel
      paths:
        - packages/SwingSet/src/kernel/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_ertp
      name: ERTP
      paths:
        - packages/ERTP/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_orchestration
      name: Orchestration
      paths:
        - packages/orchestration/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%
    - component_id: module_swing_store
      name: swing-store
      paths:
        - packages/swing-store/**
      statuses:
        - type: project
          target: auto
          threshold: 0.05%

test(a3p): retain initial.test.js
  a3p-integration/proposals/n:upgrade-next/initial.test.js
  a3p-integration/proposals/n:upgrade-next/test.sh
Due: none

test: wallet cli workaround
  a3p-integration/proposals/b:beta-fast-usdc/test/test-cli.sh
Due: none

test: checking in test code for executing makeClaimTokensInvitation
  a3p-integration/proposals/z:acceptance/package.json
  a3p-integration/proposals/z:acceptance/test.sh
  a3p-integration/proposals/z:acceptance/test/airdrop.test.js
  a3p-integration/proposals/z:acceptance/test/keys.js
  a3p-integration/proposals/z:acceptance/test/merkleTree.js
  a3p-integration/proposals/z:acceptance/yarn.lock
Due: none

feat(x/swingset): allow third party to provision wallet
  golang/cosmos/x/swingset/keeper/keeper.go
  golang/cosmos/x/swingset/keeper/keeper_test.go
  golang/cosmos/x/swingset/keeper/msg_server.go
Due: none

chore(SwingSet): Require/ensure at least a dummy kernelSlog in lower layers
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/test/abandon-export.test.js
  packages/SwingSet/test/controller.test.js
  packages/SwingSet/test/state.test.js
Due: SwingSet/kernel

refactor(SwingSet): Clarify makeCallbackRegistry as makeFinishersKit
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

refactor: Move makeLimitedConsole to package "internal"
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/slogger.js
  packages/internal/src/ses-utils.js
  packages/internal/test/snapshots/exports.test.js.md
  packages/internal/test/snapshots/exports.test.js.snap
Due: SwingSet/kernel

feat(SwingSet): Echo kernel console output to the slog
  packages/SwingSet/src/controller/controller.js
Due: none

refactor(SwingSet): Indicate intentional no-op finisher functions by name
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

chore(SwingSet): Minor cleanup
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

chore(SwingSet): Improve slogger types
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/types-external.js
  packages/internal/src/js-utils.js
Due: SwingSet/kernel

refactor(SwingSet): Update makeConsole for simplicity and POLA
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/kernel/kernel.js
Due: SwingSet/kernel

refactor(SwingSet): Use common slogger LimitedConsole construction patterns
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

Refactor(SwingSet): Clarify safe vs. unsafe slogger write calls
  packages/SwingSet/src/kernel/slogger.js
Due: SwingSet/kernel

chore: Make use of new common logLevels and LimitedConsole
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/types-internal.js
  packages/SwingSet/test/gc-kernel-orphan.test.js
  packages/SwingSet/test/gc-kernel.test.js
  packages/SwingSet/test/util.js
  packages/SwingSet/test/vpid-kernel.test.js
  packages/swingset-liveslots/src/liveslots.js
Due: none

refactor: prepare for use of non-trapping integrity trait
  packages/SwingSet/src/kernel/deviceSlots.js
  packages/SwingSet/tools/run-utils.js
  packages/swingset-liveslots/src/liveslots.js
  packages/vats/src/core/promise-space.js
  packages/vats/src/core/utils.js
  packages/vow/src/E.js
Due: SwingSet/kernel

fixup! review suggestions
  packages/SwingSet/tools/run-utils.js
Due: none

chore: Replace otel-trace with otel-context-aware-slog in integration test (#10864)
  packages/deployment/scripts/integration-test.sh
Due: none

try new approach
  .github/workflows/integration.yml
  a3p-integration/proposals/z:acceptance/host/before-test-run.sh
  a3p-integration/proposals/z:acceptance/setup-test.sh
  a3p-integration/proposals/z:acceptance/test.sh
  a3p-integration/proposals/z:acceptance/wait-for-follower.mjs
Due: none

chore(multichain-testing): remove starship repo from helm context
  multichain-testing/Makefile
Due: none

fix node version in integration CI
  .github/workflows/integration.yml
  a3p-integration/proposals/z:acceptance/wait-for-follower.mjs
Due: none

chore(SwingSet): Fix confusing kernelTable.sort
  packages/SwingSet/src/kernel/state/kernelKeeper.js
Due: SwingSet/kernel

chore: Move natural-sort functionality into packages/internal
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/internal/src/natural-sort.js
  packages/swingset-runner/src/dumpstore.js
Due: SwingSet/kernel

feat: add nix flake to manage nix builds
  flake.nix
Due: none

feat: add nix flake to manage nix builds
  flake.lock
Due: none

chore(deps): rm obsolete dd-trace
  packages/agoric-cli/package.json
  yarn.lock
Due: none

docs: remove dead mutable.ai
  README.md
Due: none

chore(swingset): Reduce test sensitivity to compression ratio
  packages/SwingSet/test/xsnap-store.test.js
Due: none

chore: remove start-local-chain.sh
  packages/agoric-cli/test/start-local-chain.sh
Due: none

test: remove shell-based smoketests
  packages/agoric-cli/test/agops-governance-smoketest.sh
  packages/agoric-cli/test/agops-oracle-smoketest.sh
  packages/agoric-cli/test/agops-perf-smoketest.sh
  packages/agoric-cli/test/agops-vaults-smoketest.sh
  packages/agoric-cli/test/upgrade-contract/contract-upgrade-smoketest.sh
  packages/inter-protocol/src/price/README.md
Due: none

test(internal): fake vstorage advance blockHeight
  packages/internal/src/storage-test-utils.js
  packages/internal/test/storage-test-utils.test.js
Due: none

test(internal): fake vstorage advance blockHeight (#10933)
  packages/internal/src/storage-test-utils.js
  packages/internal/test/storage-test-utils.test.js
Due: none

chore(vibc): make `RawAcknowledgement` public
  golang/cosmos/x/vibc/types/receiver.go
Due: none

fix(vtransfer): some tweaks for ack handling
  golang/cosmos/types/address_hooks.go
  golang/cosmos/x/vtransfer/ibc_middleware.go
  golang/cosmos/x/vtransfer/keeper/keeper.go
Due: none

test(vtransfer): more comprehensive multiapp tests
  golang/cosmos/types/address_hooks_test.go
  golang/cosmos/x/swingset/testing/queue.go
  golang/cosmos/x/vstorage/testing/queue.go
  golang/cosmos/x/vtransfer/ibc_middleware_test.go
  golang/cosmos/x/vtransfer/utils_test.go
Due: none

refactor(vibc): use `MustParseHeight(GetTimeoutHeight)` idiom
  golang/cosmos/x/vibc/keeper/keeper.go
  golang/cosmos/x/vibc/keeper/triggers.go
Due: none

docs(vtransfer): add notes to funcs inspired by `ibctesting`
  golang/cosmos/x/vtransfer/utils_test.go
Due: none

refactor(address_hooks): expose `ExtractBaseAddressFromData` to avoid packeting
  golang/cosmos/types/address_hooks.go
  golang/cosmos/types/address_hooks_test.go
Due: none

add contract for stride st tokens on elys
  packages/orchestration/src/examples/elys-contract-flow.js
  packages/orchestration/src/examples/elys-contract-tap-kit.js
  packages/orchestration/src/examples/elys-contract.js
Due: Orchestration

fixes
  .github/workflows/integration.yml
  a3p-integration/proposals/z:acceptance/host/before-test-run.sh
Due: none
