Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

chore: catch flow rejections (sort of)
  packages/orch-skel/src/my.contract.ts
Due: none

docs: skeletal orchestration contract package
  packages/orch-skel/README.md
Due: none

fixup! review suggestion
  packages/zoe/src/zoeService/installationStorage.js
Due: none

fix(base-zone): Oops. Forgot to export `prepareAttenuatorMaker` (#11315)
  packages/base-zone/zone-helpers.js
Due: none

bump better-sqlite to v11 (#11221)
  a3p-integration/package.json
  a3p-integration/proposals/m:before-upgrade-next/package.json
  a3p-integration/proposals/m:before-upgrade-next/yarn.lock
  a3p-integration/proposals/n:upgrade-next/package.json
  a3p-integration/proposals/n:upgrade-next/yarn.lock
  a3p-integration/proposals/z:acceptance/setup-test.sh
  a3p-integration/proposals/z:acceptance/test.sh
  a3p-integration/proposals/z:acceptance/yarn.lock
  a3p-integration/yarn.lock
  multichain-testing/yarn.lock
  packages/SwingSet/package.json
  packages/cosmic-swingset/package.json
  packages/deployment/package.json
  packages/swing-store/package.json
  packages/telemetry/package.json
  yarn.lock
Due: none

chore(cosmos): map mainnet upgrade name to devnet config
  golang/cosmos/app/upgrade.go
Due: none

ci(cosmic-swingset): disable rosetta test
  packages/cosmic-swingset/test/make.test.js
Due: none

fix test
  packages/boot/test/upgrading/upgrade-contracts.test.js
  packages/vats/tools/bootstrap-chain-reflective.js
Due: none

feat(types): update IBC types to match x/vibc, x/vtranfsfer module specifications
  packages/vats/src/types.ts
Due: none

refactor(fast-usdc-contract): refactor to use new attenuator abstraction
  packages/fast-usdc-contract/package.json
  packages/fast-usdc-contract/src/fast-usdc.contract.ts
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.snap
Due: none

fixup! review reponse: make attenuator ephemeral
  packages/fast-usdc-contract/src/fast-usdc.contract.ts
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.snap
Due: none

types: improve `MakeIBCReplyKit` types
  packages/orchestration/src/exos/ibc-packet.js
Due: Orchestration

fix(ibcResultWatcher): `timeoutPacket` does not have `acknowledgement`
  packages/orchestration/src/exos/ibc-packet.js
Due: Orchestration

fix(IBCTransferSenderKit): vow context destructuring
  packages/orchestration/src/exos/ibc-packet.js
Due: Orchestration

types(packet-tools): add missing argument to `sendPacket` type
  packages/orchestration/src/exos/ibc-packet.js
  packages/orchestration/src/exos/packet-tools.js
Due: Orchestration

feat: set default `opName` for `IBCTransferSenderKit`
  packages/orchestration/src/exos/ibc-packet.js
Due: Orchestration

test: prefer `transmitVTransferEvent` to `transmitTransferAck`
  packages/orchestration/test/supports.ts
Due: Orchestration

test: derive `amount`, `denom`, `memo` for `transmitVTransferEvent`
  packages/orchestration/test/supports.ts
Due: Orchestration

fix(tools): fake localchain bridge MsgTransfer error
  packages/vats/tools/fake-bridge.js
Due: none

chore: restore `staking-combinations.test.ts` snapshot
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
Due: Orchestration

fix(tools): `buildVTransferEvent` should not return `acknowledgement`, `relayer` for `timeoutPacket`
  packages/orchestration/test/supports.ts
  packages/orchestration/tools/ibc-mocks.ts
Due: Orchestration

tools: express acknowledgement error in `buildVTransferEvent`
  packages/orchestration/tools/ibc-mocks.ts
Due: Orchestration

test: repair transfer timeout tests
  packages/orchestration/test/examples/send-anywhere.test.ts
  packages/orchestration/test/examples/staking-combinations.test.ts
  packages/orchestration/test/exos/local-orchestration-account-kit.test.ts
Due: Orchestration

test: acknowledgement error scenario
  packages/orchestration/test/exos/local-orchestration-account-kit.test.ts
  packages/orchestration/test/supports.ts
Due: Orchestration

fixup! review suggestion: avoid imperative-looking import
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/zoeService/escrowStorage.js
  packages/zoe/src/zoeService/startInstance.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
Due: none

refactor: move some type imports to @import
  packages/ERTP/src/issuerKit.js
  packages/ERTP/src/paymentLedger.js
  packages/SwingSet/src/types-external.js
  packages/pegasus/src/contract.js
  packages/vats/src/core/types-ambient.d.ts
  packages/vats/src/vat-mints.js
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/contracts/loan/liquidate.js
  packages/zoe/src/instanceRecordStorage.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/escrowStorage.js
  packages/zoe/src/zoeService/feeMint.js
  packages/zoe/src/zoeService/installationStorage.js
  packages/zoe/src/zoeService/makeInvitation.js
  packages/zoe/src/zoeService/originalZoeSeat.js
  packages/zoe/src/zoeService/startInstance.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/privateArgsUsageContract.js
  packages/zoe/test/swingsetTests/brokenContracts/crashingAutoRefund.js
  packages/zoe/test/unitTests/contracts/brokenAutoRefund.js
  packages/zoe/test/unitTests/contracts/two-invitations.js
Due: ERTP

fixup! review suggestion: remove most added imperative-looking imports
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/zoeService/escrowStorage.js
  packages/zoe/src/zoeService/startInstance.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
Due: none

fixup! missed one
  packages/zoe/src/zoeService/originalZoeSeat.js
Due: none

refactor: move some type imports to @import (#11243)
  packages/ERTP/src/issuerKit.js
  packages/ERTP/src/paymentLedger.js
  packages/SwingSet/src/types-external.js
  packages/pegasus/src/contract.js
  packages/vats/src/core/types-ambient.d.ts
  packages/vats/src/vat-mints.js
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/contracts/loan/liquidate.js
  packages/zoe/src/instanceRecordStorage.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/escrowStorage.js
  packages/zoe/src/zoeService/feeMint.js
  packages/zoe/src/zoeService/installationStorage.js
  packages/zoe/src/zoeService/makeInvitation.js
  packages/zoe/src/zoeService/originalZoeSeat.js
  packages/zoe/src/zoeService/startInstance.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/privateArgsUsageContract.js
  packages/zoe/test/swingsetTests/brokenContracts/crashingAutoRefund.js
  packages/zoe/test/unitTests/contracts/brokenAutoRefund.js
  packages/zoe/test/unitTests/contracts/two-invitations.js
Due: ERTP

types(network): `Connection.send` accepts `SendOptions: { relativeTimeoutNs?: bigint }`
  packages/network/src/types.js
Due: none

feat(network): export `SendOptionsShape`
  packages/network/src/shapes.js
Due: none

fix(network): half connection `.send()` includes opts bag
  packages/network/src/network.js
  packages/network/src/shapes.js
Due: none

feat: `IcaAccountKit` accepts `relativeTimeoutNs` opt for outgoing tx packets
  packages/builders/test/snapshots/orchestration-imports.test.js.md
  packages/builders/test/snapshots/orchestration-imports.test.js.snap
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/exos/ica-account-kit.js
  packages/orchestration/src/typeGuards.js
  packages/orchestration/test/snapshots/exports.test.ts.md
  packages/orchestration/test/snapshots/exports.test.ts.snap
Due: Orchestration

test: specify `relativeTimeoutNs` from `CosmosOrchestrationAccount`
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
Due: Orchestration

chore: rm unused makeDefaultContext
  packages/fast-usdc-contract/test/supports.ts
  packages/orchestration/test/supports.ts
Due: Orchestration

lint: no-unused-vars 'error'
  eslint.config.mjs
Due: none

chore(deps): bump typescript-eslint
  package.json
  yarn.lock
Due: none

chore: attenuate no-unused-vars in IDE
  scripts/configure-vscode.sh
Due: none

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
