Repository Agoric/agoric-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: SwingSet/kernel, ERTP, Orchestration, swing-store

address comments
  packages/SwingSet/src/kernel/state/deviceKeeper.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/storageHelper.js
  packages/SwingSet/test/state.test.js
  packages/SwingSet/test/vat-admin/slow-termination/slow-termination.test.js
Due: SwingSet/kernel

refactor(types): Device/DProxy in types-external
  packages/SwingSet/src/devices/bridge/device-bridge.js
  packages/SwingSet/src/devices/timer/device-timer.js
  packages/SwingSet/src/types-external.js
  packages/SwingSet/src/vats/plugin-manager.js
  packages/SwingSet/src/vats/timer/vat-timer.js
  packages/SwingSet/src/vats/vat-admin/vat-vat-admin.js
  packages/vats/src/core/types-ambient.d.ts
Due: none

feat(cosmic-swingset): Add helper function scanVatStore to inquisitor.mjs
  packages/cosmic-swingset/tools/inquisitor.mjs
Due: none

fix(cosmic-swingset): Account for SQLite GLOB `[$chars]` syntax
  packages/cosmic-swingset/tools/inquisitor.mjs
Due: none

chore(types): explicit imports
  packages/inter-protocol/src/proposals/econ-behaviors.js
Due: none

test: demonstrate why to avoid t.notThrowsAsync
  multichain-testing/test/devex.test.ts
Due: none

test: remove t.notThrowsAsync
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
Due: none

docs(swing-store): listAllSnapshots was missing from SnapStoreDebug
  packages/swing-store/src/snapStore.js
Due: swing-store

feat(boot): paramterize blockComputeLimit in makeSwingsetHarness
  packages/boot/tools/supports.ts
Due: none

chore(snap-store): export type SnapStoreDebug
  packages/swing-store/src/types-index.d.ts
Due: swing-store

chore(chain-impact-test): only write kernel-N.json if $STATS_FILE
  packages/fast-usdc-deploy/test/chain-impact.test.ts
Due: none

test: Fast USDC chain impact test
  packages/fast-usdc-deploy/package.json
  packages/fast-usdc-deploy/test/chain-impact.test.ts
  packages/fast-usdc-deploy/test/fu-sim-iter.ts
Due: none

feat(vat-map.py): support endoZipBase64 moduleFormat
  packages/SwingSet/misc-tools/vat-map.py
Due: none

feat(base-zone): attenuator as simplified revocable
  packages/base-zone/src/prepare-attenuator.js
  packages/base-zone/src/prepare-revocable.js
  packages/base-zone/test/prepare-attenuator.test.js
Due: none

fixup! review suggestions
  packages/base-zone/test/prepare-attenuator.test.js
Due: none

chore: remove `override-chain-registry` step
  .github/workflows/multichain-e2e-template.yml
  multichain-testing/Makefile
Due: none

chore: prefer orchestration config w/o vstorage chain info
  multichain-testing/config.fusdc.go-relayer.yaml
  multichain-testing/config.fusdc.yaml
  multichain-testing/config.go-relayer.yaml
  multichain-testing/config.yaml
  packages/boot/test/bootstrapTests/vow-offer-results.test.ts
  packages/boot/test/orchestration/contract-upgrade.test.ts
  packages/boot/test/orchestration/lca.test.ts
  packages/boot/test/orchestration/restart-contracts.test.ts
Due: none

refactor: separate chain info vstorage tests
  packages/boot/test/orchestration/orchestration.test.ts
  packages/boot/test/orchestration/snapshots/vstorage-chain-info.test.ts.md
  packages/boot/test/orchestration/snapshots/vstorage-chain-info.test.ts.snap
  packages/boot/test/orchestration/vstorage-chain-info.test.ts
Due: none

chore: example contracts register their own chain info
  multichain-testing/test/queries/account-balance-queries.test.ts
  multichain-testing/test/queries/chain-queries.test.ts
  multichain-testing/test/staking/stake-ica.test.ts
  packages/boot/test/orchestration/orchestration.test.ts
  packages/boot/test/orchestration/restart-contracts.test.ts
  packages/builders/scripts/orchestration/init-stakeAtom.js
  packages/builders/scripts/orchestration/init-stakeOsmo.js
  packages/builders/scripts/testing/start-query-flows.js
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/stake-ica.contract.js
  packages/orchestration/src/fixtures/query-flows.contract.js
  packages/orchestration/src/proposals/start-stakeAtom.js
  packages/orchestration/src/proposals/start-stakeOsmo.js
Due: Orchestration

refactor: dynamically import `node:util`
  packages/builders/scripts/testing/start-query-flows.js
Due: none

refactor: connection info lookup
  multichain-testing/test/fast-usdc/noble-forwarding.test.ts
Due: none

refactor: `parseChainHubOpts` helper
  packages/builders/scripts/orchestration/helpers.js
  packages/builders/scripts/orchestration/init-basic-flows.js
  packages/builders/scripts/orchestration/init-stakeAtom.js
  packages/builders/scripts/orchestration/init-stakeOsmo.js
  packages/builders/scripts/testing/init-auto-stake-it.js
  packages/builders/scripts/testing/init-send-anywhere.js
  packages/builders/scripts/testing/start-query-flows.js
Due: none

feat(base-zone): attenuator as simplified revocable (#11314)
  packages/base-zone/src/prepare-attenuator.js
  packages/base-zone/src/prepare-revocable.js
  packages/base-zone/test/prepare-attenuator.test.js
Due: none

feat: FORWARD_SKIPPED state
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
  packages/fast-usdc-contract/README.md
  packages/fast-usdc-contract/src/exos/settler.ts
  packages/fast-usdc-contract/src/exos/status-manager.ts
  packages/fast-usdc-contract/test/exos/settler.test.ts
  packages/fast-usdc/src/constants.js
Due: none

refactor: forwardFunds flow
  packages/fast-usdc-contract/src/exos/settler.ts
  packages/fast-usdc-contract/src/fast-usdc.contract.ts
  packages/fast-usdc-contract/src/fast-usdc.flows.ts
  packages/fast-usdc-contract/test/exos/settler.test.ts
  packages/fast-usdc-contract/test/mocks.ts
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.md
  packages/fast-usdc-contract/test/snapshots/fast-usdc.contract.test.ts.snap
Due: none

refactor: branded amounts
  packages/fast-usdc-contract/src/exos/settler.ts
Due: none

refactor: forwardFailed method
  packages/fast-usdc-contract/src/exos/settler.ts
  packages/fast-usdc-contract/src/exos/status-manager.ts
Due: none

refactor: attenuate chainHub in settler
  packages/fast-usdc-contract/src/exos/settler.ts
  packages/fast-usdc-contract/src/fast-usdc.contract.ts
Due: none

fix(base-zone): Oops. Forgot to export prepareAttenuatorMaker
  packages/base-zone/zone-helpers.js
Due: none

Squashed commit of the following:
  a3p-integration/package.json
  a3p-integration/proposals/m:before-upgrade-next/package.json
  a3p-integration/proposals/m:before-upgrade-next/yarn.lock
  a3p-integration/proposals/n:upgrade-next/package.json
  a3p-integration/proposals/n:upgrade-next/yarn.lock
  a3p-integration/proposals/z:acceptance/setup-test.sh
  a3p-integration/proposals/z:acceptance/test.sh
  a3p-integration/proposals/z:acceptance/yarn.lock
  a3p-integration/yarn.lock
  multichain-testing/yarn.lock
  packages/SwingSet/package.json
  packages/cosmic-swingset/package.json
  packages/deployment/package.json
  packages/swing-store/package.json
  packages/telemetry/package.json
  yarn.lock
Due: none

revert yarn lock file
  yarn.lock
Due: none

address comments
  packages/SwingSet/src/kernel/state/kernelKeeper.js
Due: SwingSet/kernel

lint 😔
  packages/SwingSet/src/kernel/state/kernelKeeper.js
Due: SwingSet/kernel

chore: refactor `enumeratePrefixedKeys` to return `{ key, suffix }` (#11298)
  packages/SwingSet/src/controller/upgradeSwingset.js
  packages/SwingSet/src/kernel/state/deviceKeeper.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/storageHelper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/test/state.test.js
  packages/SwingSet/test/vat-admin/slow-termination/slow-termination.test.js
  packages/SwingSet/test/vat-admin/terminate/terminate.test.js
  packages/SwingSet/test/virtualObjects/representatives.test.js
Due: SwingSet/kernel

fix: don't continue if destChain not supported
  packages/fast-usdc-contract/src/exos/advancer.ts
Due: none

chore: refine prototype
  packages/orchestration/test/examples/my-orch-seq-sim.test.ts
Due: Orchestration

WIP: toward orch template: sequence diagram
  packages/orchestration/test/examples/my-orch-sequence.mmd
Due: Orchestration

feat: Add send() method to orchestration contract in test simulation
  packages/orchestration/test/examples/my-orch-seq-sim.test.ts
Due: Orchestration

chore: prototype 1st message of diagram
  packages/orchestration/test/examples/my-orch-seq-sim.test.ts
Due: Orchestration

Path conditions:
  SwingSet/kernel: any of: packages/SwingSet/src/kernel/**, but not: **/*.json
  ERTP: any of: packages/ERTP/**, but not: **/*.json
  Orchestration: any of: packages/orchestration/**, but not: **/*.json
  swing-store: any of: packages/swing-store/**, but not: **/*.json
